[2014-01-03 13:45] DMHamm opened #1 "Cannot import Google spreadsheet"
I have made several attempts to upload a Google spreadsheet (https://docs.google.com/spreadsheet/pub?key=0ApxGxTAV-2AzdG5RMG5nYnFVcHhMdE94a2VmcGFCc0E&output=csv) to create a chart. Every time I get a "Table contains no columns" error. I am using WordPress 3.8 running The Bootstrap theme. I really need some help on this, as I am trying to mock up a prototype web app for a work client.

[2014-01-06 05:03] verosaka opened #2 "How can I widen a Bar?"
the bars are 2 px wide and I need them more visible
thanks

[2014-01-06 08:42] #2 closed, assigned to nobody

[2014-01-06 12:24] eugene-manuilov opened #3 "Upload CSV file from web not working in IE, Safari, Opera, Firefox"
Everything works just fine in WP 3.8. There is one minor (at least for me) problem: "Upload CSV File > From web" works in XP in Chrome, but NOT in IE7, IE8, Safari, Opera, Firefox. Clicking on the button opens the same upload window like the "From Computer" button (tested with Twenty13, no other plugins activated).

http://wordpress.org/support/topic/import-data-from-web-not-working-in-ie-safari-o

[2014-01-24 17:27] johnmahoney opened #4 "spaces in the series type cells/CSV causes incorrect formatting"
Just found this bug, which took a while to isolate!

If the CSV you load has trailing spaces after 'string' or 'number' in the series type row, the axes of the graph can be messed up. In our case, a horizontal bar chart with one 'number' data series was displaying a second, empty series above it:

![image](https://f.cloud.github.com/assets/4676206/1996978/c89310c6-851c-11e3-9158-bf9963a4a0e2.png)

[2014-01-24 17:29] johnmahoney opened #5 "question: high-traffic sites"
We're about to test this plugin on a site that gets around 700-800 concurrent users. Should there be any performance issues we should be aware of, or any optimizations we should make before deploying? We're loading static CSVs for the data sets, and our site is hosted on WPEngine.

[2014-01-25 13:09] #5 closed, assigned to nobody

[2014-01-27 07:52] eugene-manuilov opened #6 "The plugin doesn't work on SSL backend"
Hi, I have installed it on a brand new 3.8 installation. When I click Add and select visualizer, I can see the list of the different chart types. But when I select one and click "Next", I will be presented with the exact same list. In essence, I cannot add a chart unfortunately.

http://wordpress.org/support/topic/broken-in-38-40?replies=11

[2014-01-27 08:38] #6 closed, assigned to nobody

[2014-01-27 08:38] #3 closed, assigned to nobody

[2014-01-28 11:59] #4 closed, assigned to nobody

[2014-01-28 12:10] eugene-manuilov opened #7 "Implement Trendlines chart type"
http://wordpress.org/support/topic/trendline?replies=2

https://google-developers.appspot.com/chart/interactive/docs/gallery/trendlines

[2014-01-28 12:10] #1 closed, assigned to nobody

[2014-01-28 12:11] eugene-manuilov opened #8 "Implement Combo chart"
http://wordpress.org/support/topic/combined-charts?replies=2

https://google-developers.appspot.com/chart/interactive/docs/gallery/combochart

[2014-01-28 12:12] eugene-manuilov opened #9 "Add ability to enter anotations"
http://wordpress.org/support/topic/is-there-a-way-to-add-annotation?replies=2

[2014-01-28 12:15] eugene-manuilov opened #10 "Implement Timeline chart"
http://wordpress.org/support/topic/google-timeline?replies=3

https://google-developers.appspot.com/chart/interactive/docs/gallery/timeline

[2014-02-04 15:19] oliverkramer opened #11 "Can not import CSV file from web"
I have made several attempts to upload a CSV file from web to publish a chart on the website of my company. But every time I get a "Table has no columns" error. The upload from computer is working, but it is necessary to grab the file from web.

Then I've tried it on my personal website and there the upload from web works fine. Both websites running WordPress 3.8.1., hosted at different providers.

[2014-02-05 12:46] ghost opened #12 "The old fopen() problem with http* wrapper disabled - what directory we need to relax permissions on?"
Warning: fopen(): https:// wrapper is disabled in the server configuration by allow_url_fopen=0 in /path/wp-content/plugins/visualizer/classes/Visualizer/Source/Csv.php on line 114

v1.4.1.1
WP: 3.8.1

My allow_url_fopen is on in both site root and wp-content subdirectory's php.ini.

[2014-02-10 13:08] #12 closed, assigned to nobody

[2014-02-10 13:43] #11 closed, assigned to nobody

[2014-02-12 00:55] paullarrow opened #13 "Documentation error: populate chart series and data dynamically"
Sweet plugin!

In the "How do I populate chart series and data dynamically?" documentation I noticed that the Custom Filters example code is incorrect:
https://github.com/madpixelslabs/visualizer/wiki/How-can-I-populate-chart-series-and-data-dynamically%3F#wiki-custom-filters

The second function should be "myplugin_filter_chart_data", not "myplugin_filter_chart_series", to mactch the example filt

[2014-02-12 01:01] paullarrow opened #14 "Admin error: bar chart horizontal & vertical axis Text Position settings are backwards"
Again, sweet plugin, mucho gracias :dancer:

When configuring the bar chart's settings, it seems that the Text Position controls are flipped. For example, setting Horizontal Axis Settings > General Settings > Text Position to "Inside the chart" moves the vertical axis's title instead. The reverse is true when editing Vertical Axis.

Cheers,
-PaulMighty

[2014-02-12 02:26] paullarrow opened #15 "Dynamic series filter does not update Axis Titles"
I'm using filters to update the series and data for a bar chart by ID, as described in your documentation for dynamic data. I was expecting that dynamically overwriting the series array would result in hAxis['title'] and vAxis['title'] being updated in the rendered chart, however the 'visualizer-settings' postmeta is still being referenced for the frontend output.

The filter:

[code]

The output:

[2014-02-12 03:41] #15 closed, assigned to nobody

[2014-02-12 10:39] #13 closed, assigned to nobody

[2014-02-12 20:22] paullarrow opened #16 "Request: add custom class to placeholder div"
Found it helpful to be able to add a class to the placeholder div so all styling doesn't have to be done via the CSS ids. I modified the renderChart() function in Frontend.php as follows. Pasting with {unmodified} code blocks for readability, so just pay attention to 'class':

[code]

Then echo the shortcode:

[code]

Might be a better way to code it, but thought I'd pass along in case this modifi

[2014-02-12 20:34] #16 closed, assigned to nobody

[2014-02-13 01:38] paullarrow opened #17 "Pie chart: slice color appearing in slice offset when editing exiting chart"
My good sir(s),

When editing an existing pie chart, the previously configured slice color hex value is appearing in the slice offset input field. When saving, the saved offset value is overwritten by the slice color hex.

Keep up the great work,
-PaulMighty

[2014-02-19 02:50] paullarrow opened #18 "Backend conflict with Advanced Custom Fields "Google Maps" fieldtype"
Running into a conflict with ACF's "Google Maps" field type, where the Visualizer plugin, when activated, disables ACF's Google Map custom field when editing a post, resulting in a blank div where the Google Map should be. Here is the error being thrown in console:

[code]

www.advancedcustomfields.com

Thanks for taking a look!
-Paul
![screen shot 2014-02-18 at 6 47 26 pm](https://f.cloud.github.

[2014-02-19 10:55] #18 closed, assigned to nobody

[2014-02-25 17:01] joegoehring opened #19 "Setting more steps on Y axis?"
How do I change the number of labels shown on the Y axis? Currently it's stepping by 25 and I need it to step by 5.

![visualizer](https://f.cloud.github.com/assets/6784814/2260166/801b2712-9e3e-11e3-9ea0-45bd8b153306.png)

[2014-02-25 17:03] #19 closed, assigned to nobody

[2014-03-07 00:23] mhjp opened #20 "Edit screen is blank"
Hi.. just loaded your plugin. Super easy to get going, much appreciated. The only issue I have is when I go into the Vizualizer library and click the edit icon at the bottom of any graph, a blank popup screen appears and nothing ever appears. Have tried it in 3 different browsers.

Thanks in advance for the help. Mike

[2014-03-08 22:19] greguk78 opened #21 "some charts does not display"
I started having issues with visualizer not long ago when some charts weren't displayed in library and then I noticed that they are also missing in some posts.

It looks like it constantly refreshing some of them in library while others are visible straight away. I upgraded to wordpress 3.8.1 but also had the same problem with 3.7.1. Anyone's having the same problems?

[2014-03-17 08:36] eugene-manuilov opened #22 "diffcharts implementation"
http://wordpress.org/support/topic/support-of-diffcharts-planned?replies=2

https://developers.google.com/chart/interactive/docs/gallery/diffchart#diffbar

[2014-08-05 21:55] WeHateNick opened #23 ""From Web" option no longer works"
It looks like Google Spreadsheet no longer supports publishing to the web as a CSV. The only way around it I was able to find was to publish it as HTML and manually replacing the /pubhtml at the end of the URL with /export?format=csv.

[2014-08-07 13:28] justinhorvath opened #25 "Edit and Create New Graph screen is blank"
Hi

Love this plugin. I have created a page displaying business metrics in graphs and it looks great.

I can no longer edit or create new graphs. Both buttons create a blank screen inside WP. If I hover over the copy button, copy the link, and change the word '-clone-' in the URL to '-edit-' I can edit.

Thank you for this Plug in

[2014-08-07 16:30] WeHateNick opened #26 "Tooltip Text Is Not Formatted"
It would be great if the formatting I have applied to my data would also show in the text that appears in the tooltip. Currently, this text shows unformatted. For instance, if formatting was set to "$###,###" the chart will show "$500,000" but the tooltip will show "5000".

[2014-08-07 16:31] #23 closed, assigned to nobody

[2014-08-26 08:27] ghost opened #27 "I'm using "jquery.smoothState.js" to view my pages on Wordpress and Visualizer doesn't work. Why?"
https://github.com/weblinc/jquery.smoothState.js

How to fix the blank space when I user beautiful "jquery.smoothState.js"??

[2014-08-27 18:32] ghost opened #28 "How to recall the plugin after load the page with ajax?"
What I have to call after loading of the page with ajax? Please help me.

[2014-10-06 18:40] csbeck opened #29 "Not enough columns given to draw the requested chart"
I'm getting this error when I attempt to create a new chart by linking to a Google spreadsheet.

I have a Google spreadsheet with the following:
2 columns and 6 rows
row 1 has: year, dollars
row 2 has: string, number
the next 4 rows show a year and a dollar amount

It appears that I created the spreadsheet as the directions specify. Can anyone explain why I'm getting this error?

Thanks! Chris

[2014-11-23 18:19] Emad-AiDev opened #30 "Question : How to call visualizer to process a CSV file in default library (dynamically) ?"
Hello,

I produce CSV dynamically and upload it to default library.
 How can I call Visualizer to convert it to a chart and return the ID of the chart then I can put it in my post?

Generally, is there any way to directly put CSV in a database or folder and then call Visualizer in to make chart or directly add files to Visualizer Library ?

Thanks,
looking forward your reply.

[2015-01-22 19:40] ozonia commented on #29
Hi.
I have the same problem.
Can you share a link to a spreadsheet that has the correct data format ?
Regards.

[2015-01-23 17:43] csbeck commented on #29
I never got a response. I believe I dropped the functionality. I don't even remember what I was doing it for. Client probably dropped the requested functionality. So I'm really no help for you. Sorry!

[2015-01-23 17:54] ozonia commented on #29
Hi csbeck!
Thanks for your reply.
Finally I chose to buy a premium plugin that works perfect (http://goo.gl/MGR0ZT) plus it's very cheap!
Regards.

[2015-02-09 22:12] jjeaton opened #31 "Pagination is broken on Visualizer Library page"
After clicking "next" the pagination is unable to proceed past the second page. All links are set to `vpage=2`.

![2015-02-09 at 5 11 pm](https://cloud.githubusercontent.com/assets/835509/6116951/c47dc18c-b07e-11e4-975a-2fee0e0d3fff.png)

[2015-02-12 13:20] jjeaton commented on #31
Appears to be an issue with WP 4.1 https://core.trac.wordpress.org/ticket/30831

There's a patch for 4.1.1 that "should" resolve it.

[2015-02-12 13:20] #31 closed

[2015-02-22 01:58] ajr2183 opened #32 "How do I make my page have 4 graphs displayed as a 'dashboard'"
This may be a super simple Wordpress oriented question, so I apologize if this is the wrong place to post this, but can anyone tell me how I adjust the placement of my graphs so that I can make the page look like a real dashboard?

For example, have 2 graphs side by side, above 2 additional graphs side by side?   I feel like this would be done by editing the html, but all I see when I add the grap

[2015-02-22 04:28] verosaka commented on #32
try encapsulating it in table fields

<table>
<tr><td>[visualizer id="11"]</td><td>[visualizer id="11"]</td><td>[visualizer
id="11"]</td></tr>
<tr><td>[visualizer id="11"]</td><td>[visualizer id="11"]</td><td>[visualizer
id="11"]</td></tr>
<tr><td>[visualizer id="11"]</td><td>[visualizer id="11"]</td><td>[visualizer
id="11"]</td></tr>
</table>

I hope this helps
ᐧ

On 21 February 2015 at 21:28, aj

[2015-02-25 17:24] joesanta opened #33 "Is there a way to make tooltip display always?"
Without having to hover -- just have it display at all times. For example, I would like a bar graph or pie chart to display the labels and values without needing a legend.

[2015-03-01 21:32] jmorkes opened #34 "I just cannot create new graph in WP 4.1.1"
Does this plugin work in the newest WP? Nothing happens when I try to create a new graph. It is quite clean install WP (just All in One SEO plugin activated). Plugin works fine on my other website with older version of WP.

Has someone experienced the same problem?

[2015-03-19 12:31] jeffrey-nl opened #35 "Only first chart is showing"
In WordPress Admin -> Media -> Visualizer Library only the first chart is showing. All other charts are displaying a loading wheel.
In the frontend when I have multiple charts on a page only the first one shows. The others only have an empty div, for example `<div id="visualizer-420"></div>`

Also I'm gettting the following Javascript error
`Uncaught TypeError: Cannot read property 'Ks' of null`
o

[2015-03-24 13:23] jeffrey-nl commented on #35
Please ignore this issue. I did a reinstall of the original plugin and everything is working now.

[2015-03-24 13:23] #35 closed

[2015-03-27 04:56] WillNeill opened #36 "Custom series format values for pie chart"
Hi,

Is it possible to implement the custom format pattern for series values on pie chart segments? At the moment, the values are simply raw data.

It would be good to provide options like Bar Charts:

"Enter custom format pattern to apply to this series value, similar to the ICU pattern set. Use something like #,### to get 1,234 as output, or $# to add dollar sign before digits. Pay attention tha

[2015-04-21 21:59] vlindsa opened #37 "HTML Code For Pie Chart"
Hey,

I created a pie chart in WP with your plugin. It provides a shortcode to add to a page or post. But how can I get the actual HTML code so that I can add it to our Revolution Slider? Also, is there a way to make it when a user hovers over each "slice" or pie chart section, a description shows instead of a number or title?

Love the plugin!

Thanks

[2015-05-25 11:33] Ankita-Popli opened #38 "Need help for Visualizer Plugin features!"
Hey!

This plugin is very nice. It is very easy to make a graph through it. But there are some points on which I need some help & suggestions.

1. Is there any option of adding more than 1 chart on same page. I want to add 8 charts per page on 30 pages.

2. How can I give 100% width to graph area. It reduces area of key when open on small screen.

3. The plugin is not showing key for 0% data.

4.

[2015-06-28 20:00] JuJJuJ opened #39 "Charts not showed in the right category, and examples issues"
I noticed a some bugs with the Visualizer:

The created charts are not showed in the category as expected: if you create a bar chart, then you go in the bar category, you won't find it, but only in the "All" category.
When you create a chart that has an example (here, the chart bar, with the example with populations in some cities), you won't be able to delete the examples titles. I made one chart

[2015-07-02 12:30] lalord opened #40 "Decimal and thousand seperator"
Is there a way to change decimal and thousand seperater to change 1,000.00 to Danish 1.000,00
?

[2015-07-21 16:31] devonalex commented on #20
Yes i have the same problem.  I switched off all of my other plugins, but the problem remained

[2015-08-14 13:32] chrisTX972 opened #41 "Export data?"
I have lost the original csv data file that I used to create my graphs. Can you recommend a way to export the data?  I have tried searching the database tables but I can't find the data for Visualizer.  I have limited skill with database management... on a learning curve. If you can help me export my graph data in csv format, I would be very appreciative.

Thank you

[2015-08-31 07:20] sneike commented on #20
Michael, thank you so much for your trick!! It works and it is super useful! Finally I can edit my charts!
Thanks!

[2015-09-04 11:08] mariusghitulescu opened #42 "Cyrillic letters not working"

[2015-09-14 21:45] kal001 opened #43 "Add option for interpolateNulls = True"
Hi,

I am using your plugin to test displaying 5 temperatures acquired from 5 different temperature sensors, and stored in a mysql database.
Each point passed to the plugin consists of a timestamp, and 5 values. Each of the values can either be null, or a temperature.
Google chart allows you to define interpolateNulls = True (which is false by default), in order for the graph to look as an interpo

[2015-09-18 08:35] elimelight opened #44 "White screen when used with "Erident Custom Login and Dashboard" plugin"
Hi,

We've just noticed that when we come to add or edit a new chart, the modal window is white, and it's impossible to do anything. We were able to cure it disabling each other plugin in turn, and found that  disabling Erident Custom Login and Dashboard fixed the issue. I will post this to the other plugin author too. This is on WordPress 4.2.4.

Many thanks.

Steve

[2015-10-19 11:00] rodica-andronache opened #48 "Add plugin icon"

[2015-11-10 10:33] JiangWZ opened #54 "Is that possible change default MySQL save location? (1 post)"
I am wondering is that possible change default MySQL save location from current wp_fgbw_postmeta and wp_fgbw_posts file to another one (a new one), or even a new database. Which code in which file should I change?

I am very new for the SQL and wordpress plugin, so I will be very grateful if anybody can help me about this.

Many Thanks.

[2015-11-25 15:03] michaelbragg opened #56 "Ability to dismiss or filter out `allow_url_fopen` error message for non-admin"
Unable to hide or dismiss the the `allow_url_fopen` error message on the `upload.php?page=visualizer` page.

The error message is a bit unnerving to non technical users who may hold the editor, author, etc roles.

Can either a dismiss button be added to the error message or a hook be added to filter which user roles see the message?

[2015-12-14 01:13] robbie-remote opened #57 "Adding 'Table' type"
Can the Google Chart Tools 'Table' type be added to the Visualizer plugin for WordPress? The 9 chart types are great, I'm wondering about adding a type for basic table visualization of the data.

    https://developers.google.com/chart/interactive/docs/gallery/table?hl=en

Would it be hard to add this? Is anybody already working on it?

[2016-01-04 11:34] selu91 commented on #57
Hey,

Thank you for your feedback. We will look to integrate it in the next releases.

[2016-01-04 11:36] selu91 commented on #54
Hey,

No, for the moment this is not possible as it is using the wordpress core features.

Thank you for your request

[2016-01-04 11:36] #54 closed

[2016-01-04 11:40] selu91 commented on #43
@kal001 using the scatter chart type wont fix the issue ?

Thank you !

[2016-01-04 11:42] #20 closed

[2016-01-04 11:42] #25 closed

[2016-01-04 11:46] #29 closed

[2016-01-04 11:47] #32 closed

[2016-01-04 11:47] #34 closed

[2016-01-04 11:49] selu91 commented on #38
Hey,

In the latest version of the plugin, you are able to use all the features requested.

Thank you !

[2016-01-04 11:49] #38 closed

[2016-01-04 11:51] selu91 commented on #37
hey,

Revolution slider must support the shortcode rendering in order to use it. There is no html to use there as the content si dynamic.

Thank you !

[2016-01-04 11:51] #37 closed

[2016-01-04 11:51] #48 closed

[2016-01-04 11:53] #21 closed

[2016-01-04 11:56] selul opened #58 "IE and firefox rendering problem"
https://wordpress.org/support/topic/does-not-work-in-firefox-and-ie

The format is YY.MM.DD and datatype is date.

[2016-01-04 21:06] kal001 commented on #43
Meanwhile, I solved the problem. Thanks.
FL

2016-01-04 11:40 GMT+00:00 Marius Cristea <notifications@github.com>:

--
FL
fernando.lourenco@lourenco.eu

[2016-01-05 09:59] selu91 commented on #43
you're welcome !

[2016-01-05 09:59] #43 closed

[2016-01-05 10:08] selul opened #59 "control number o decimals for percents in pie charts"
https://wordpress.org/support/topic/pie-chart-2-decimal-behind-comma?replies=8#post-7846656

[2016-01-06 13:01] selu91 opened #60 "change colors of chart values"
I would like to have the option to change the color of my values.
![qq](https://cloud.githubusercontent.com/assets/3330746/12143094/575e019a-b486-11e5-88ef-cfcd1c6cfdbf.jpg)
 (in that example the grey numbers 00 to 23.00)

[2016-01-06 16:16] robbie-remote commented on #57
I started on this feature, and have something partially working but not
complete. You can see a demo here:

     http://www.robbie-remote.com/?iot_device=1

Look at the table of dates & values (below the fold).

Do you want me to push my changes into this git, when I reach a
consistent checkpoint?

On 01/04/2016 03:34 AM, Marius Cristea wrote:

[2016-01-06 16:26] selu91 commented on #57
Yes, we would be very greatful if you could.

Thank you !

[2016-01-24 15:21] ineagu opened #61 "Group all settings in the Advanced Options tab"
Now since we moved all the settings in step1 we have ended up like Intergeo, with a ton of settings that user can make, I would suggest grouping all the settings in an Advanced Setting Tab, in this way it should be much clear for the user that he can just upload the csv and click on Create Chart.

@selu91 what do you think ? From my point of view the default chart is already good to be embedded

[2016-02-04 06:25] spalinger commented on #60
It's not a bug, it's just not implemented yet. This would be relatively easy to implement.
`hAxis: {textStyle:{color: 'white'},
vAxis: {textStyle:{color: 'white'}`

[2016-02-04 09:42] selu91 commented on #60
@spalinger thank you for your help.

[2016-02-04 09:42] #60 closed

[2016-02-05 13:51] adamscott-enfinitas opened #63 "Unable to Edit a Chart"
Created a chart using CSV upload. Go back to edit, click the edit button and it opens a blank JS window which then does nothing.

[2016-02-05 15:09] adamscott-enfinitas commented on #63
Name	Protocol	Method	Result	Content type	Received	Time	Initiator
http://sheptonaircadets.org/wp-content/mu-plugins/gd-system-plugin/js/iframeResizer.map	HTTP	GET	404	text/html		2.83 s	XMLHttpRequest

[2016-02-07 22:32] Huskynarr commented on #40
(Y)

[2016-03-29 15:33] cyen008 opened #71 "Area graph does not display data in IE10"
http://dashdev.atwebpages.com/

developing a site that will be mostly graphs for content. The users will mostly be on IE10, the graph renders fine with chrome but on IE10 the "area" graph looks blank

[2016-04-12 14:05] leoaraujoup opened #72 "Error "You called the draw() method with the wrong type of data rather than a DataTable or DataView""
Hi there!
A couple of days ago whenever I try to create a new chart I got the message error "You called the draw() method with the wrong type of data rather than a DataTable or DataView"
Is anyone else getting this error?
I can't create new charts at all! Old ones are working though!
I wonder if something got updated in the Google API that it made stop working.

All help will be very much apprecia

[2016-04-15 08:43] rodica-andronache commented on #72
Hi @leoaraujoup ,

Are you still having this issue? I tested on my side and was able to create a new chart with no problems. If the issue is still there, could you please give more details about recreating it?

Thank you,
Rodica

[2016-04-16 10:01] leoaraujoup commented on #72
Hello @rodica-andronache

I am really sorry for the late reply.

The error message is still appearing when you upload the data. However, if I ignore it and just create a new chart, it will work. My problem is that I was expecting to see the data uploaded before creating (normally it is like this right?) but I figured that if I just ignore the error message, and create a new chart without seeing th

[2016-05-04 16:02] optiforms opened #73 "Line Graph Text Overlay is Missing"
http://optiformsinc.com/optical-coatings/protected-gold/

This is a page on our dev site with a line graph I created using the Visualizer plugin. We loved when hovering over the line graph a text overlay would appear with details about that data point. But for some reason the overlay went missing today. No changes to WordPress versions, plugins, database, or other software were made since yesterda

[2016-05-10 08:41] #14 closed

[2016-05-10 08:44] #56 closed

[2016-05-10 09:22] contactashish13 commented on #42
Cannot replicate. Tried a few cyrillic letters and it does not cause a problem.

![image](https://cloud.githubusercontent.com/assets/12953439/15141672/c9f2df24-16be-11e6-9587-d68a20871d37.png)

[2016-05-10 09:32] #42 closed

[2016-05-10 10:27] contactashish13 commented on #39
* It will be available under Column not Bar.
* To increase thickness of bars, the CSV file should not contain multiple series with empty data. It is assuming the value is zero. The CSV should contain one series only.
* The legend cannot be edited. It takes the title from the title of the series.

[2016-05-10 10:38] #39 closed

[2016-05-11 08:13] contactashish13 commented on #41
do you want this in the free or the pro version?

[2016-05-11 10:16] selu91 commented on #41
the free would be ok.

[2016-05-11 10:24] verosaka commented on #41
Hello, most of times csv data is the result o an union query, you have to
know the relations involved in the data, create a query, execute it and
export it to a csv file with the export utility of your query tool.
I hope this helps.
Greets.
ᐧ

On 11 May 2016 at 04:13, contactashish13 <notifications@github.com> wrote:

--
Rubén Sánchez.
Verosaka Representaciones, C.A.
RIF:J-29613291-7
www.canalexpl

[2016-05-17 19:34] jdrsqrd opened #74 "Shortcode being executed, but chart is not showing."
I am trying to test the free version to see if we want to buy it. Made a chart and inserted it. Shortcode seems to be working as a div gets created: `<div id="visualizer-146088"></div>` but there is nothing in the div, and there is no styling on it. I'm testing this on a localhost. Any help?

[2016-05-17 19:37] jdrsqrd commented on #74
I'm using the latest version 1.5.4 on wordpress 4.5.2

[2016-05-17 19:47] jdrsqrd commented on #74
After investigation we found that the plugin looks for 'jquery' in dependencies. We were using a newer version of jquery under a different name so it didn't work. Changing newer jquery to the name 'jquery' fixed the issue. Closing this.

[2016-05-17 19:47] #74 closed

[2016-05-24 07:27] beoeoffice commented on #73
Dear optiforms,

I have the same problem. Is there anykind of solution? I like the plugin very much, cause it´s really easy to handle with and you can visualize a lot of things. One really mysterious thing is, that the text overlay will appear if you use pie charts.....I have no idea?!

[2016-05-27 22:49] selu91 commented on #41
@contactashish13 please add the security check nonce.

[2016-05-27 22:55] HardeepAsrani commented on #73
Could you set a value in **Focus Target**, located in **Lines settings** and see if it works after that?

![Settings](https://cdn.pbrd.co/images/1fhwFDrA.png)

[2016-05-27 22:56] selu91 opened #75 "check if focus default value is set"
Can you check if the default value for the focus target in the line settings is set, and it's value is  'Focus on a single data point ' ?

Thank you !

[2016-05-27 22:58] selu91 commented on #72
hey @leoaraujoup , yes for the moment you need to save the chart and after you will see that data rendered.

[2016-05-27 22:58] #72 closed

[2016-05-27 23:00] selu91 commented on #71
hey @cyen008,

I have just checked your website and seems to work just fine in IE10.

Can you confirm if you still have the issue ?

[2016-05-27 23:01] selu91 commented on #63
@adamscott-enfinitas it seems there is a conflict with that plugin.

All should go just fine after.

[2016-05-27 23:01] #63 closed

[2016-05-27 23:02] #61 closed

[2016-05-27 23:03] #44 closed

[2016-05-28 06:00] contactashish13 commented on #41
done

[2016-05-28 06:28] contactashish13 commented on #75
@selu91 do you want me to set this whenever the plugin in activated?

[2016-05-28 07:49] adamscott-enfinitas commented on #63
What kind of a response is this, and who said you could close the ticket?!

Adam Scott MInstLM
Technical Director | Enfinitas
m | 07540 050234
uk | 0845 524 0970
us | (405) 708-5678

On 28 May 2016, at 00:01, Marius Cristea <notifications@github.com<mailto:notifications@github.com>> wrote:

@adamscott-enfinitas<https://github.com/adamscott-enfinitas> it seems there is a conflict with that plugin.

[2016-05-28 08:26] selu91 commented on #63
Hello,

The problem is caused by another plugin, gd-system-plugin, and it should work just fine after you disable it.

If you still have problems you can reopen the issue.

Thank you !

[2016-05-28 08:27] selu91 commented on #75
yes, exactly.

[2016-05-28 08:37] contactashish13 commented on #75
rather, when every chart is saved.

[2016-05-28 08:38] selu91 commented on #75
i would like for the users to have the default value set in order to work from the first time the focus.

[2016-05-30 11:28] #75 closed

[2016-05-30 14:23] selu91 commented on #41
@contactashish13 can you remove the export btn and add it here:

http://prntscr.com/ba7ejq

Also please use a proper icon for this from /images/ui-icons.png, whatever you think it fits.

[2016-05-31 11:42] #41 closed

[2016-07-01 19:20] dpellenwood opened #77 "Multiple charts on the same page don't render for Safari & Edge"
Hello,

We're using the charts plugin to display several charts (via shortcode) on the same page. In Chrome, Firefox and IE the charts load and look great. In Safari (on a Mac) and Edge, only the first chart is rendered. The other instances get the shortcode embedded, but it never renders.

You can see an example here: http://conroe.tri.be/schools/stewart-k-6-school/

Any ideas why this might be h

[2016-07-04 09:14] selul commented on #77
@dpellenwood the example page is not working ?

[2016-07-05 10:59] #73 closed

[2016-07-05 10:59] #71 closed

[2016-07-05 11:00] #58 closed

[2016-07-05 11:00] selul commented on #57
Added in the pro version of 1.0.5

[2016-07-05 11:00] #57 closed

[2016-07-05 11:01] selul commented on #40
it can be done using the number format from the series settings

[2016-07-05 11:01] #40 closed

[2016-07-05 11:05] #28 closed

[2016-07-05 11:05] #27 closed

[2016-07-05 11:05] #26 closed

[2016-07-05 11:06] #17 closed

[2016-07-05 11:06] selul commented on #10
implemented in the 1.0.5 of the pro version

[2016-07-05 11:06] #10 closed

[2016-07-05 11:07] selul commented on #8
implemented in the 1.0.5 release of the pro version

[2016-07-05 11:07] #8 closed

[2016-07-06 14:57] dpellenwood commented on #77
Sorry about that bad URL. I completely forgot we've got it blocked for unauthenticated traffic. Here's the updated example URL with a auth bypass:

http://conroe.tri.be/schools/stewart-k-6-school/?secret=secret

[2016-07-06 14:59] selul commented on #77
@contactashish13 can you please check what issue could be ?

[2016-07-06 16:06] contactashish13 commented on #77
@selul we've addressed this kind of a bug before as well: https://redbooth.com/projects/1529021/tasks/22205522

[2016-07-07 14:23] contactashish13 commented on #77
@dpellenwood This appears to be an issue with the latest library/safari combination. Even this example http://jsfiddle.net/katalin_2003/Lz3yj9gu/ that uses the latest API does not work on safari but http://jsfiddle.net/kimmobrunfeldt/79ffvayr/ uses the old API and works.

[2016-07-07 14:58] dpellenwood commented on #77
@contactashish13 Both of those examples work fine for me in all browsers. Specifically, in Safari:

![image](https://cloud.githubusercontent.com/assets/1151082/16657708/0a9e5fac-4429-11e6-98a8-d182e6555ef1.png)

![image](https://cloud.githubusercontent.com/assets/1151082/16657721/1a065da0-4429-11e6-8183-857e6466a0f4.png)

And neither of those examples relate to our specific case where the first ch

[2016-07-08 09:17] CreativeCharly opened #80 "How do I change vertical values in a chart"
As I adjust the plug ins Visualiser in mijn WP Enfold theme there was told I could adjust the vertical values of the charts. But Somehow I can't do it, it's not possible to change the values.

Can somebody please help me and lee me what to do to change it?

[2016-07-09 15:45] ered15 opened #81 "Special Characters not showing"
Word disappears when using special characters like áéíóúñ, how can I fix this?

[2016-07-12 14:49] dpellenwood commented on #77
Curious if there has been any progress here. Thanks!

[2016-07-12 14:52] selul commented on #77
@dpellenwood it's hard to replicate the issue and i think will take more time. We will keep you updated when is done

[2016-07-12 17:56] UVLabs opened #82 "No left align legend option in pie chart"
There is no option to align the pie chart legend to the left like what is pictured here: http://themeisle.com/wp-content/uploads/gravity_forms/1-a802f9b942a19180d258d8ed48e41d68/2016/07/screenshot1.jpg

@selul

[2016-07-12 20:21] HardeepAsrani opened #83 "Option to show legend on the left side"
A user reported that you can show legend on right, top and bottom but not on the left side. @contactashish13 @selul

![Image](http://themeisle.com/wp-content/uploads/gravity_forms/1-a802f9b942a19180d258d8ed48e41d68/2016/07/screenshot.jpg)

[2016-07-13 04:44] selul commented on #83
@contactashish13 can you handle this when you have time

[2016-07-13 04:48] selul commented on #82
@UVLabs duplicate with #83

[2016-07-13 04:48] #82 closed

[2016-07-13 07:41] contactashish13 commented on #77
@dpellenwood we are able to see multiple charts in the following OS/browser combinations (screen shot attached)

1) El Capitan + Safari 9.1 and Safari Tech Preview
2) Yosemite + Safari 8
3) Mavericks + Safari 7.1

![bs_macelc_safari_9 1](https://cloud.githubusercontent.com/assets/12953439/16795480/27893836-48fb-11e6-8e2b-b5e994d0cd24.jpg)

[2016-07-14 07:44] #83 closed

[2016-07-17 05:20] UVLabs opened #84 "No direct link in "Add media""
It looks like we have a button where users can directly add a map to the post on integreo, but there is none for visualizer.

A user requested asking for this, was it ever possible? http://prntscr.com/btvf53

Also I know we have the previous issue for moving these settings page from the media area, what would we do in this case for a quick add? The usual answer of course is a tinyMCE button.

@sel

[2016-07-17 19:59] UVLabs commented on #84
It seems this was possible before: https://github.com/Codeinwp/visualizer/wiki/How-can-I-create-a-chart%3F

[2016-07-18 13:31] selul commented on #84
@contactashish13 can you please investigate ? I know that this was integrated in the previous version ?

[2016-07-18 13:33] selul commented on #81
@contactashish13 can you investigate this ?

[2016-07-18 13:35] selul commented on #80
@CreativeCharly can you please contact the support team on themeisle.com/contact/ with more details about the issue ?

[2016-07-18 13:36] #80 closed

[2016-07-19 08:52] contactashish13 commented on #81
@ered15 this seems to be fine (screenshot below). Can you please give more details on where you are trying to add the special characters?

![image](https://cloud.githubusercontent.com/assets/12953439/16943970/12534752-4dbc-11e6-9958-51f312a92021.png)

[2016-07-19 10:32] selul commented on #84
@contactashish13 which is the difference between visualizer-google-jsapi-old and visualizer-google-jsapi-new ? Why we need to use both of them ?

[2016-07-19 10:36] selul opened #85 "remove pointer from the free version"
IN the free version we have a wp-pointer which tells users about the pro version.

i would like to remove it for now

[2016-07-19 10:37] contactashish13 commented on #84
@selul as mentioned https://developers.google.com/chart/interactive/docs/basic_load_libs#basic-library-loading

![image](https://cloud.githubusercontent.com/assets/12953439/16947138/e1cd320a-4dca-11e6-9efe-7fcb38c90bfd.png)

[2016-07-19 10:39] selul commented on #84
@contactashish13 ok, @UVLabs can you please check if the media link s working as it should ?

[2016-07-19 11:18] selul opened #86 "meta tag for version in style.css"
We need to the meta tag for the version  in the style file.

[2016-07-19 11:45] contactashish13 commented on #85
@selul do you want to remove all pointers from the free version?

[2016-07-19 11:45] selul commented on #85
@contactashish13 there is just one i think.

[2016-07-20 17:47] selul commented on #85
can you please also remove the js enqueue :

https://github.com/Codeinwp/visualizer/blob/development/classes/Visualizer/Module/Admin.php#L256-L287

And the js file for pointer from the plugin

Also please remove the feedback mechanism we wanted to implement firstly here, we would go further with the intergeo version, but later on we will implement here.

You can look at the commit where you integr

[2016-07-21 10:58] #86 closed

[2016-07-21 10:58] #85 closed

[2016-07-21 10:59] selul commented on #84
i have checked and all works fine

[2016-07-21 10:59] #84 closed

[2016-07-21 11:14] #81 closed

[2016-08-01 08:57] rodica-andronache opened #87 "Update "Tested up to value" to 4.6 in readme file"

[2016-08-04 15:01] #87 closed

[2016-08-10 15:44] petrakid opened #88 "Chart is much wider than it needs to be"
I created a bar/column chart which you can see below.  As you can see, it's way too wide!  All I need are the three sets of bars.  I've tried moving the legend to the side, but it doesn't help.

Also, as you can see in the images, there is ALWAYS an empty item in the legend (both in the bar and in the pie).  This is frustrating!!!
<img width="480" alt="2016-08-10" src="https://cloud.githubusercont

[2016-08-18 14:43] selul opened #89 "change name to visualizer lite"
change name from readme and plugin file to Visualizer Lite.

[2016-08-19 17:45] #89 closed

[2016-08-19 18:02] selul commented on #88
@UVLabs @Basilakis @HardeepAsrani can you check ?

[2016-08-19 18:03] #77 closed

[2016-08-25 09:36] Lbeekmann commented on #33
Anyone giving answers here? I have the same question as joesanta had more than year ago.

[2016-08-29 02:19] UVLabs opened #92 "No Axis Text color option"
I didn't check all charts but so far I could see that barcharts and filled line charts do not have the option.

If user tries to put a transparent chart against a dark background then there would be readability issues:
http://prntscr.com/cbix8w @selul

[2016-08-29 09:29] selul commented on #92
@contactashish13 can you check ?

[2016-08-29 14:39] contactashish13 commented on #92
PR: https://github.com/Codeinwp/visualizer-pro/pull/31

[2016-08-31 00:55] UVLabs commented on #88
@petrakid could you please provide us with those CSV files so we could have a look?

[2016-09-01 13:27] #92 closed

[2016-09-01 13:47] selul opened #93 "responsive issue"
@contactashish13 i would like to work a bit at the charts rendering when using percent values, and the containers are hidden.

Steps to replicate:

install https://wordpress.org/plugins/expander/

In the hidden area, put the chart code. Take care of using percent values for chart sizes.

You will see that when clicking on the readmore, you will have it chart at wrong sizes. Here you have also a sc

[2016-09-02 13:06] contactashish13 commented on #93
PR: https://github.com/Codeinwp/visualizer/pull/94

[2016-09-07 23:36] HardeepAsrani opened #95 "Fatal appear in the latest version"
The following appear is appearing when trying to use the latest Visualizer for a lot of people:

`Fatal error: Can't use function return value in write context in /home/content/n3pnexwpnas02_data02/66/3243266/html/wp-content/plugins/intergeo-maps/templates/library/list.php on line 3`

I'm not able to reproduce this but a lot of people have reported it so far, like this: https://secure.helpscout.ne

[2016-09-08 08:19] selul commented on #95
@HardeepAsrani this is related to intergeo

[2016-09-08 08:20] #95 closed

[2016-09-09 18:38] #93 closed

[2016-09-12 09:06] selul opened #97 "responsive issue"
@contactashish13 it seems the responsive is still buggy for charts.

Can you check this site:

http://partidos-politicos.net/peru/

And switch tabs and you will find the chart using half of the container.

if you  need admin credentials to check let me know.

Thanks !

[2016-09-12 09:33] contactashish13 commented on #97
@selul can you please give me the admin credentials? I will try to address it on that instance but now I'm not sure if this can be a generic fix.

[2016-09-12 09:44] selul commented on #97
ive sent you on upwork

[2016-09-12 10:39] contactashish13 commented on #97
@selul fixed and pushed changes. PR: https://github.com/Codeinwp/visualizer/pull/98

[2016-09-15 06:22] stefanclara opened #100 "edit function not working with elegantthemes theme divi"
Hi, I am using the Divi Theme from elegantthemes and I added the visualizer plugin. All works fine on creating charts, but editing is not working at all. When I click the edit button it is showing up just a blank page.

BR
Stefan

[2016-09-15 06:29] HardeepAsrani commented on #100
@stefanclara Can you try this and see if your console throws any errors? https://codex.wordpress.org/Using_Your_Browser_to_Diagnose_JavaScript_Errors

If yes then screenshots will be appreciated. :)

[2016-09-15 06:54] stefanclara commented on #100
@HardeepAsrani thx for the quick feedback. please find attached the error log from the console

![image](https://cloud.githubusercontent.com/assets/17905514/18540853/d59dcef2-7b21-11e6-89ec-a3844fbd8bb7.png)

[2016-09-19 06:56] HardeepAsrani commented on #100
@Basilakis Did you check?

[2016-09-19 07:04] Basilakis commented on #100
@HardeepAsrani Added my self as participant, so I can get notifications.
Now with console it is clear, I will give it a look today.

[2016-09-19 07:10] stefanclara commented on #100
thanx for coming back @HardeepAsrani and welcome @Basilakis .

i disabled the the "avira browser guard" and the only error that is now left over ist the one you can see on the picture below. I was trying this on chrome, but the weird thing is, the edit screen on the visualizer is still just blank.

![image](https://cloud.githubusercontent.com/assets/17905514/18624530/c4d99644-7e48-11e6-949b-463b88

[2016-09-19 09:27] #97 closed

[2016-09-19 09:28] selul opened #101 "axis color"
https://wordpress.org/support/topic/wrong-text-color-on-x-and-y-axis/

can you have a look here

[2016-09-19 13:21] contactashish13 commented on #101
@selul i cannot replicate this issue. it loads the right color every time, even if I empty my cache.

[2016-09-19 13:21] selul commented on #101
@UVLabs have you tried to replicate and is not working ?

[2016-09-20 02:24] UVLabs commented on #101
@selul I will try

[2016-09-20 10:41] selul commented on #100
@Basilakis can you try to see if you can replicate

[2016-09-22 08:19] Basilakis commented on #100
@selul Could not, for me it seems to be OK all the process.

[2016-09-22 08:30] stefanclara commented on #100
@Basilakis, below i send you 2 images how it looks like. first the charts and second i clicked the edit button on 1 of them

![image](https://cloud.githubusercontent.com/assets/17905514/18741435/86c4ce1e-80af-11e6-9189-23b18f396528.png)

![image](https://cloud.githubusercontent.com/assets/17905514/18741442/913a748e-80af-11e6-83f4-53fa0b2f3a84.png)

[2016-10-04 21:01] selul opened #102 "responsive issue"
@contactashish13 can you check the responsiveness here,

http://prntscr.com/cpvq8y

[2016-10-05 10:11] contactashish13 commented on #102
@selul credentials?

[2016-10-05 11:12] contactashish13 commented on #102
@selul PR: https://github.com/Codeinwp/visualizer/pull/103

[2016-10-05 14:13] #102 closed

[2016-10-05 14:14] selul opened #104 "export not working"
An user reported that the export is not working well, filling the csv file with `Array `strings

[varejo-graf4-3_PIB-brasil.zip](https://github.com/Codeinwp/visualizer/files/511389/varejo-graf4-3_PIB-brasil.zip)

here you have the sample he attached

[2016-10-06 04:37] contactashish13 commented on #104
@selul Can you provide more information on this? It works on my end.

[2016-10-06 09:27] selul commented on #104
i've sent you on upwork

[2016-10-06 10:27] pbworksro opened #105 "Margin fields doesn't save values"
To see the issue, please follow next steps:
1) Edit a chart
2) Click Next
3) Select Advanced -> Layout & Chart Area -> Chart Area
4) Set any margin field from Left And Top Margins (http://prntscr.com/cqh9lv)
5) And then Save Chart
6) Go back and edit same chart
7) In the Chart Area location, you will see that margin field not saved the previous value (http://prntscr.com/cqhakk)

[2016-10-06 11:11] contactashish13 commented on #104
@selul PR: https://github.com/Codeinwp/visualizer/pull/106

[2016-10-07 04:36] contactashish13 commented on #105
@pbworksro @selul I dont think this is a bug, more a misunderstanding.

when you provide 0, it is not shown in the text box. if you provide any non zero value it is shown. in either case, the value is saved and used.

please test this by using 5% and 20% or any non zero values. you will see what I mean.

[2016-10-07 08:08] selul commented on #105
@contactashish13 but how the users will be able to use zero margin there ?

[2016-10-07 08:11] contactashish13 commented on #105
I don't get what you mean.

[2016-10-07 08:22] selul commented on #105
if the user want to have 0 margin, how can he accomplish this ?

[2016-10-07 08:38] contactashish13 commented on #105
I didn't say he cant. I said that if he provides zero, it will be used. But it will not be displayed in the text box.

[2016-10-07 12:24] contactashish13 commented on #105
@selul infact if the user leaves the margin as 0px or 0% it stays.

![image](https://cloud.githubusercontent.com/assets/12953439/19189712/1952d8f8-8cb7-11e6-8a3a-549f25a17b86.png)

[2016-10-07 12:52] pbworksro commented on #105
@contactashish13 Please take a look https://drive.google.com/file/d/0B7SHyn5Ns9GUUmdJOGZEd0R3NGc/view?usp=drivesdk

[2016-10-07 13:13] pbworksro commented on #105
​I verified and found that if one of margin's value is not preceded by the percent symbol, this cause the issue. Margin fields must accept values without percent symbol.

[2016-10-08 07:26] contactashish13 commented on #105
@selul PR: https://github.com/Codeinwp/visualizer/pull/106

[2016-10-11 14:38] stefanclara commented on #100
any updates/news on this one guys?

[2016-10-12 15:07] selul commented on #100
@stefanclara can you do a printscreen of the whole window from console  ? Im interested more in the right side

[2016-10-12 15:19] stefanclara commented on #100
@selul ... sorry if I need to raise maybe a stupid question, but what do you mean with a "printscreen from console" ???

[2016-10-12 15:42] selul commented on #100
similar with this one:

https://cloud.githubusercontent.com/assets/17905514/18624530/c4d99644-7e48-11e6-949b-463b8852aaff.png

the console is the place where the red message comes up. Im interested more in the right side of the screen

[2016-10-12 15:48] stefanclara commented on #100
:) ... ok. I hope this is what you would like to see

![image](https://cloud.githubusercontent.com/assets/17905514/19317030/f02d33f6-90a3-11e6-8a39-aef29d36a8c1.png)

[2016-10-12 15:53] selul commented on #100
Please do one when the errors occurs

[2016-10-12 15:57] stefanclara commented on #100
there are no errors... sorry. not on the page by itselfes nor on the wordpress admin. see below

this is if i click on the "new" or "edit" button ... white screen and nothing in the console.

![image](https://cloud.githubusercontent.com/assets/17905514/19317365/15ca5d5e-90a5-11e6-8a15-fbacb0fae0f0.png)

... and this is on the website.

![image](https://cloud.githubusercontent.com/assets/17905514/1

[2016-10-12 16:01] stefanclara commented on #100
Please help me to understand 1 thing. I have the "Visualizer" link on the "Media" menu-item. If I want to make a new chart, click the "new" button I am getting the white screen as you can see. If I click the mouse and move it on this white part of the screen I am getting the message to "Drop a file" here ... Is the correct?

[2016-10-12 16:05] stefanclara commented on #100
below you can see what I mean. It is in german but it is saying "Provide files for the upload"

![image](https://cloud.githubusercontent.com/assets/17905514/19317768/6d7b183a-90a6-11e6-913e-132b88a0c473.png)

[2016-10-12 16:08] stefanclara commented on #100
under the blue frame you can see the white window after clicking on the "new" button. to me it seems, that the window is having items on it, but they are not showing up...

[2016-10-20 12:59] #104 closed

[2016-10-20 12:59] #105 closed

[2016-10-23 21:50] HardeepAsrani opened #109 "Suggestions/review"
Very good! I am using it with live data taken from a remote database. Adding the hooks in fanctions.php was rather easy.

I marked with 4 stars because there is no proper documentation for the settings parameter. More over, I can’t figure out how to have permanently visible the values of pie sectors or bars. Is it possible?

How about adjusting the ticks of both axis?

How about a working preview

[2016-11-12 03:11] UVLabs opened #110 "Chart not showing on Safari Windows"
I used browser stack @selul seems to work on safari mac.

[2016-11-12 11:58] selul commented on #110
@UVLabs can you tell me more details about what exactly is not working, maybe a screencast ?

[2016-11-12 12:06] fadil-0786 commented on #110
Hi,

I am actually having an issue whereby the graph isn’t showing in safari browser. Other than that, everything works perfectly. I tested on another computer and i still got same issue

http://151.80.145.44/gamma.multimicro.fr/index.php/investor-relations/share-information-2/

In the console, the following error appears:

TypeError: 'undefined' is not an object
render.js:17TypeError: 'undefined'

[2016-11-12 12:11] fadil-0786 commented on #110
apparently it does work on safari for mac as per @UVLabs . but on my end, for safari on windows, the graph doesnt show.

will gladly send you any details if needed!

thanks

[2016-11-12 12:17] selul commented on #110
@contactashish13 can you please have a look ?

[2016-11-12 12:37] fadil-0786 opened #111 "css x-axis"
Hi,

Can you please advise how to css my graph below:

http://151.80.145.44/gamma.multimicro.fr/index.php/investor-relations/share-information-2/

I would like to modify the x axis in order to put more spaces between the dates.

Thank you.

[2016-11-14 03:10] contactashish13 commented on #110
@selul safari for windows has been discontinued by apple for a few years now so I don't think any web component technology will work on that.

[2016-11-14 05:42] fadil-0786 commented on #110
@contactashish13 can you provide some details to support your explanation?

thank you.

[2016-11-14 05:43] fadil-0786 commented on #111
any help on this issue please?

[2016-11-14 05:44] contactashish13 commented on #110
@fadil-0786 https://discussions.apple.com/thread/7639618?start=0&tstart=0

[2016-11-14 05:50] fadil-0786 commented on #110
thank you very much @contactashish13

i think we can therefore consider this ticket as closed.

[2016-11-14 10:05] #110 closed

[2016-11-14 10:07] selul commented on #111
@contactashish13 do you know any workaround here ?

[2016-11-14 10:58] contactashish13 commented on #111
@selul not really

[2016-11-14 11:06] selul commented on #111
@fadil-0786 a workaround i see is to remove the sidebar from the page and make the chart bigger in width. this will make the space between dates bigger.

[2016-11-14 11:09] fadil-0786 commented on #111
no, sorry, removing the sidebar isnt an option as it is needed on this page to navigate to other subsection.

[2016-11-14 11:10] contactashish13 commented on #111
@fadil-0786 the other way is to swap the x and y axis if thats a possibility.

[2016-11-14 11:12] fadil-0786 commented on #111
no, cant swap as well @contactashish13

but one thing a friend of mine tried to do is the following

$('svg g g text').each(function( index ) {
    if (index % 2 === 0) { $(this).hide(); }

    });

we tried to hide every second date from the x-axis

but sadly, this didnt work out.

maybe you guys will have a better luck!

[2016-11-14 11:16] fadil-0786 commented on #111
this piece of codes worked in chrome console, but not in the codes because i think the graph codes are loaded last, so my codes have no effect.

[2016-11-14 15:56] selul opened #112 "check responsive issue"
@contactashish13 can you check this issue:

[2016-11-14 17:31] fadil-0786 commented on #111
hello,

any other idea please?

it would be nice if i get a quicker solution

thanks

[2016-11-14 17:42] contactashish13 commented on #112
@selul can you send me the credentials for this site on upwork?

[2016-11-15 20:37] kernicus opened #113 "Using Decimals and custom edits breaks vertical labels"
[Consomer Price Index percent change.zip](https://github.com/Codeinwp/visualizer/files/593050/Consomer.Price.Index.percent.change.zip)

Using the attached CSV file I created a standard line graph. The left side vertical labels appear ok until I go to advanced settings and make changes. Any ideas are appreciated.

Thanks
Kernicus

[2016-11-16 10:18] selul commented on #113
@contactashish13 can you have a look ?

[2016-11-16 10:32] contactashish13 commented on #113
@kernicus can you please mention what changes you made? A screenshot of the resulting graph or a URL to it would help.

[2016-11-16 11:28] selul opened #114 "import csv 500 error"
@contactashish13 when i try to import this csv to have on Y the time and on x the date i get a 500 error on the ajax request for uploading the csv . here you have a screencast to outline this:

https://drive.google.com/file/d/0B8cbkQkB9Ybnc3BCdnNnZmdqVFk/view

and here you have the csv attached
[Example.txt](https://github.com/Codeinwp/visualizer/files/594463/Example.txt)

[2016-11-16 11:31] selul commented on #111
@fadil-0786 how did you added the code to the website?  can you try to do it again and i will check why is not working ?

[2016-11-16 12:12] contactashish13 commented on #114
@selul it does not work because the timeofday does not specify the timezone so it should be 8:40:00+00:00 instead of 8:40:00 PM

[2016-11-16 12:13] selul commented on #114
so if we edit the csv like this it should be fine no ?

[2016-11-16 12:13] fadil-0786 commented on #111
@selul code is in /var/www/gamma.multimicro.fr/wp-content/plugins/visualizer/js/render.js and also in theme main.js

[2016-11-16 12:16] contactashish13 commented on #114
the attached will work fine
[Example.txt](https://github.com/Codeinwp/visualizer/files/594563/Example.txt)

[2016-11-16 12:17] selul commented on #114
great, thanks

[2016-11-16 12:17] #114 closed

[2016-11-16 12:42] selul commented on #111
i've messaged you on support email in order to fix this out

[2016-11-17 12:15] #111 closed

[2016-11-17 19:38] kernicus commented on #113
![screenshot 2016-11-17 14 36 49](https://cloud.githubusercontent.com/assets/1682754/20404576/6eea9990-acd3-11e6-8bf2-a46077ecee9c.png)

I think i just set the chart title perhaps but it seems to happen for anything I changed once in the advanced settings tab.

[2016-11-18 05:38] contactashish13 commented on #113
@kernicus under Vertical Axis Settings -> General Settings -> Number Format, if you specify #.# (hash dot hash), it should show the correct labels

[2016-11-23 05:38] contactashish13 commented on #112
@selul fixed on the site. PR: https://github.com/Codeinwp/visualizer/pull/115

[2016-11-23 11:30] selul commented on #112
@contactashish13 i see travis is failing, can you please check ?

[2016-11-23 11:30] #113 closed

[2016-11-23 14:46] contactashish13 commented on #112
@selul done

[2016-11-23 16:12] #112 closed

[2016-11-23 16:13] #100 closed

[2016-11-23 16:13] #101 closed

[2016-11-23 16:13] #88 closed

[2016-11-27 23:31] UVLabs opened #117 "Chats with percentages"
I tried creating this chart with the bar graph but wasn't able to:

![image](https://cloud.githubusercontent.com/assets/10324144/20652837/b66f62e4-b4d7-11e6-9347-d118d38f03e3.png)

See attachment for csv file, I tried changing it from "number" to "decimal" and "percentage" but it just reverted @selul
[column.zip](https://github.com/Codeinwp/visualizer/files/615137/column.zip)

[2016-11-28 07:59] selul commented on #117
@contactashish13 can you check ?

[2016-11-28 08:34] contactashish13 commented on #117
@UVLabs it works if you remove the % sign from each row.

[2016-11-30 19:45] HardeepAsrani opened #118 "Issue with commas being used in numbers"
If the commas are being used in a spreadsheet then the visualizer is ignoring those values. With is fine with normal sheets but Google Spreadsheets add commas to the numbers automatically so it seems to be an issue. @selul

[2016-12-05 15:21] kernicus commented on #113
perfect. thanks.

[2016-12-06 02:23] dshakya opened #119 "Series Settings Issue"
I created a bar chart with about 6 series which I can stack up. But when I edit the series through - "Series settings",

- I can open the first series and edit properties such as colour and display

- I cannot open other series as it is wrapped under <a> tag and is linked to : http://icu-project.org/apiref/icu4c/classDecimalFormat.html#_details

- This prevents from assigning "open" class to "sect

[2016-12-06 04:11] dshakya commented on #119
This is kind of solved without testing the side-effects for now. I commented out renderFormatField from _renderSeries function not being able to troubleshoot what the problem is as the first series seems OK but not the subsequent ones.

` protected function _renderSeries( $index ) {
		self::_renderSelectItem(
			esc_html__( 'Visible In Legend', 'visualizer' ),
			'series[' . $index . '][visibleInL

[2016-12-09 01:06] selul commented on #119
@contactashish13 can you have a lok

[2016-12-09 01:07] selul commented on #118
@contactashish13 can you please check ?

[2016-12-09 01:07] #117 closed

[2016-12-09 01:28] selul opened #120 "remove footer banner"
@contactashish13 i would like to remove the footer banner with the pro info for the 3 more charts available in the visualizer modal and add the 3 images of the premium charts in the charts list but the images will be disabled and will redirect on click to the pro version version. Also you can add a specific css class to the disabled charts in order to style them lately.

[2016-12-09 10:40] contactashish13 commented on #120
@selul do you want the same functionality on the library page as well where the types of charts are listed? The chart types in the pro can be redirected to the pro url?

[2016-12-09 10:58] selul commented on #120
Yes, please

Pe 9 dec. 2016 05:40, "contactashish13" <notifications@github.com> a scris:

[2016-12-09 11:37] contactashish13 commented on #120
@selul PRs: https://github.com/Codeinwp/visualizer/pull/121 and https://github.com/contactashish13/visualizer-pro/pull/1

[2016-12-09 12:07] contactashish13 commented on #119
@selul fixed this in the PR

[2016-12-09 13:35] contactashish13 commented on #118
@selul PR: https://github.com/Codeinwp/visualizer/pull/121

[2016-12-09 14:31] selul commented on #118
@contactashish13 travis is failing, please make sure is passing

[2016-12-09 15:27] contactashish13 commented on #118
Doesn't seem to be failing because of my changes.

On Dec 9, 2016, 20:01, at 20:01, Marius Cristea <notifications@github.com> wrote:

[2016-12-09 15:56] selul commented on #118
you are the only one who commited in your fork :D

[2016-12-09 16:00] contactashish13 commented on #118
The grunt screenshot doesn't tell the reason. Can you please double check?

On Dec 9, 2016, 21:26, at 21:26, Marius Cristea <notifications@github.com> wrote:

[2016-12-09 16:01] contactashish13 commented on #118
@selul
![image](https://cloud.githubusercontent.com/assets/12953439/21055280/d59c2052-be56-11e6-86e1-8fd1009e06e1.png)

[2016-12-09 17:01] selul commented on #118
@contactashish13 strange, i have restarted the build and seems to work ok now.

[2016-12-09 17:15] #118 closed

[2016-12-09 17:15] #119 closed

[2016-12-09 17:55] selul commented on #120
@contactashish13 i get this in the add media window:

https://drive.google.com/a/vertistudio.com/file/d/0B8cbkQkB9YbnQ1FCYVkwWHctUzQ/view?usp=drivesdk

See the dropdown with objects strings

[2016-12-09 18:35] selul commented on #120
@contactashish13 also with the code from visualizer repo, development branch, and with visualizer-pro, production branch, i get this: https://drive.google.com/a/vertistudio.com/file/d/0B8cbkQkB9YbnSzJXbzNyVnFEUW8/view?usp=drivesdk

[2016-12-09 19:13] contactashish13 commented on #120
@selul I never use the add media window so forgot about it. Have pushed changes in. PR: https://github.com/Codeinwp/visualizer/pull/122

There are changes in the pro as well so prod pro and dev free will not work.

[2016-12-12 17:45] #120 closed

[2017-01-02 19:23] UVLabs opened #124 "Reuse Shortcode on same page"
@selul is there any particular reason shortcodes can't be populated twice on the page without needing to duplicate the chart to create a new shortcode?

I know it uses IDs to know which chart to display but is there any specific reason why the same shortcode can't be generated more than once on a page? A client asked this

[2017-01-10 11:08] selul commented on #124
@contactashish13 can you please take care of this ? In order to replicate the bug, duplicate the same shortcode in the editor.

i think there is an issue with using the same id of the chart in the page, we could use a helper method for generating the id, it will receive the actual id of the visualizer and will return the id which we will use in the page. basically the new id can be a concatenation

[2017-01-16 13:54] antikah opened #125 "Desactivate library for members"
Hi,

I would like to hide the Visualizer Library for members connected or initialise this plugin ONLY if an administrator or editor is connected.

But when I try to add a line like :
if(current_user_can('editor') || current_user_can('administrator') ) { // code here } in the index.php of the pluggin, this crashes my site and I have to remove the code....

Does anybody can help me with this issue ?

[2017-01-16 16:01] contactashish13 commented on #124
@selul PR: https://github.com/Codeinwp/visualizer/pull/126

[2017-01-18 22:04] HardeepAsrani opened #127 "Chart name not appearing"
When adding the charts using "Add Media" button in post editor, names for new charts are not appearing, just a single letter: https://nimbus.everhelper.me/client/notes/share/729555/zsm5ktoedpn9ec02nxm2

@selul

[2017-01-18 22:38] HardeepAsrani commented on #127
It's for Pro version. Mistakenly posted here. :p

[2017-01-20 13:30] #124 closed

[2017-01-24 20:37] #127 closed

[2017-01-31 22:12] rgorski opened #130 "Gauge: No way to format scale as percent"
When creating a gauge that indicates a percent, the min and max values need to be zero and one, but there is no way to format these as percent. This UX can be confusing to users.

For preference, updating the "Number Format" in General Settings to be a Percent would also cause the scale values to read as percent.

![screen shot 2017-01-31 at 5 09 21 pm](https://cloud.githubusercontent.com/assets/1

[2017-02-01 03:54] dshakya opened #131 "Font not inherited from body in IE11"
Hi,

I left the default font field blank as I am using Google font for my site. As a result, there is a in-line style of font-family="". This is not a problem with Chrome and Firefox and displays the font inherited from body.

But in IE, it doesn't and displays the default font of the browser making it look ugly. Is there a way to work around it and set the font style only if it has been selected

[2017-02-27 09:15] HardeepAsrani opened #134 "Having different scale values on chart"
The first questin was, I have some data with a different scale which I would to put them all in the same chart. For example, one column is between 1.00001 and 1.00002 the other is between -2 and 2. Those two values cannot be in same axes because of their different intervals if we have only one Y axes on the chart. In the case of having two Y axeses, one set of the column could be shown on the firs

[2017-03-13 12:13] selul opened #140 "test import from file"
@contactashish13 with the new layout changes, i would like for you to test and make sure the import from file is working properly. if not, please make sure you fix it.

Also, please make a phpunit test for this scenario.

[2017-03-13 12:14] selul opened #141 "test import from url"
@contactashish13 as with the new layout changes, please test the Import from url -> one time is working properly.

This will behave like the previously import from web feature.

also, please make a phpunit test for this scenario.

[2017-03-13 12:15] selul opened #142 "phpunit more tests"
@contactashish13 besides the import from url/file please think of any other useful tests for phpunit to integrate with the FREE version.

Let me know your thoughts.

[2017-03-14 06:32] dshakya opened #143 "x-axis date format"
1. Imported csv file for line chart
2. First column is date : 1/1/1996 (formatted as mm/dd/yyyy)
3. The chart is displayed fine but I would like to display x-axis label as just  the year
4. I set the number format as "yyyy"
5. Nothing happens

The dates on the x-axis are display as normal and are squashed as there is heaps of daily data. Is there a way to over come this?

[2017-03-14 07:43] contactashish13 commented on #141
@selul I'm trying to get the latest changes and I get many conflicts. I havent changed anything at my end

Auto-merging languages/visualizer.pot
CONFLICT (content): Merge conflict in languages/visualizer.pot
Auto-merging js/render.js
CONFLICT (content): Merge conflict in js/render.js
Auto-merging css/frame.css
CONFLICT (content): Merge conflict in css/frame.css
Auto-merging classes/Visualizer/Rend

[2017-03-14 09:29] selul commented on #141
@contactashish13 you can try now, if is still not working, you can delete the fork and clone again.

[2017-03-14 11:03] contactashish13 commented on #141
@selul I had to fork the clone again. And actually nothing is working. The previous made charts do not load and a new chart cannot be created because it never renders. I see the code I had fixed for the bug on http://www.bluestonecm.com/wp-admin/upload.php?page=visualizer has been merged incorrectly also. Looks like this will be a major release :)

[2017-03-14 11:06] selul commented on #141
@contactashish13 strange thing, can you please check what issue could be ?

[2017-03-14 11:53] contactashish13 commented on #141
@selul looks like something is very wrong with js/render.js https://github.com/Codeinwp/visualizer/commit/db490458e3c45fc76a7442bff8df7ca8835f3c9e#diff-05aaf1f7b3e768c9abe28e85f5fe955b. If I replace it with the previous version, everything works perfectly. I'm sure render.js would not need any changes for the new UI but can you confirm?

[2017-03-14 11:54] selul commented on #141
yes, you are right, it wont, we can use the good version then.

[2017-03-15 10:19] contactashish13 commented on #141
@selul PR: https://github.com/Codeinwp/visualizer/pull/144

[2017-03-15 10:26] selul commented on #141
@contactashish13 the build is failing.

[2017-03-15 10:29] contactashish13 commented on #141
@selul that is because it needs a valid URL to upload the file from. I'm using localhost from my dev instance  and that obviously does not exist for the build. I cannot use the dynamic WP instance because WP_TESTS_DOMAIN points to example.org and the file upload fails from there

[2017-03-15 10:40] selul commented on #141
@contactashish13 let's use a file resource,i.e the sample.csv and load it using server path not url.

also, dont we have any helper method or class to create chart without using raw wordpress functions ? I would like to use as much as possible the methods from visualizer and not rebuild us the logic inside the test class

[2017-03-15 10:41] contactashish13 commented on #141
@selul this is testing for file upload then not for url upload

[2017-03-15 10:42] selul commented on #141
@contactashish13 yes i know, but if you have any other suggestion we can try. i dont know if this can help but if you want to give it a try you are welcome:

https://docs.travis-ci.com/user/hosts

[2017-03-15 13:47] contactashish13 commented on #141
@selul i'm marking this test as skipped till we can find a solution

[2017-03-15 13:48] contactashish13 commented on #140
@selul PR: https://github.com/Codeinwp/visualizer/pull/145

[2017-03-15 13:54] selul commented on #141
@contactashish13 please use abspath until we find a solution for this. also you have not answered regarding the test questions, cant we use some helper methods/functions to create chart. The current solution is not too elegant

[2017-03-15 13:55] contactashish13 commented on #141
@selul I've added the test case for import file. We can use that till we find a solution. In that I've also used visualizer methods for creating the chart

[2017-03-15 13:56] selul commented on #141
@contactashish13 i see the tests are still falling

[2017-03-15 14:04] contactashish13 commented on #141
@selul its fine now. I don't run travis so I can only check once I've issued a PR. Will take care to make sure the build succeeds before letting you know :)

[2017-03-15 14:05] selul commented on #141
@contactashish13 yes, would be perfect, thanks :D

[2017-03-16 05:12] contactashish13 commented on #142
@selul PR: https://github.com/Codeinwp/visualizer/pull/146

added test for export

[2017-03-20 00:26] dshakya commented on #143
Is anyone watching this thread? Changing the number format on horizontal axis for date format does not have any effect on the x-axis date. I have tried various data formats in the CSV file. Some help on using daily dates and formatting would be appreciated. Thanks!

[2017-03-20 02:44] dshakya commented on #143
I would like to close this as it works now. Should have read the instruction while uploading the CSV file and how we can set the data type on the second row.

The chart loads and looks beautiful now. Many thanks to you all.

Lesson learnt - Always read the instruction! :-)

[2017-03-20 02:44] #143 closed

[2017-03-23 17:15] bigneilc opened #149 "Unable to edit a chart"
Hi, I've created some charts ok but when trying to edit them from the library the popup page is blank. The archive indicates this might be a conflict with another plugin but I don't know how to identify this. Any ideas? Great plugin by the way.

Thanks.

[2017-03-26 12:29] crowd1 opened #150 "Encoding"
Is there a way to use a different encoding? I need Cyrillic letters, but the imported .csv shows ????? instead of words.

[2017-03-29 11:16] selul commented on #141
@contactashish13 here is a mirror of the repo:

[2017-03-29 11:20] selul commented on #149
@bigneilc you can disable one by one each of your plugin until you find the problematic one.

If this does not work, you can try to revert to the default theme.

[2017-03-29 11:20] selul commented on #150
Can you provide a test file to test ?

[2017-03-29 11:25] selul commented on #142
@contactashish13 im not ok with those serialized strings hardcoded there, cant we add an array to test and serialize it ?

[2017-03-29 11:38] selul commented on #141
@contactashish13 using a fresh wordpress i get a blank popup when adding a new chart. can you check ?

I'm using the current development version and latest wp

[2017-03-30 07:58] contactashish13 commented on #142
@selul have removed all the hardcoding and i'm parsing the input file. This will solve that issue with a blank popup on latest WP too.

PR: https://github.com/Codeinwp/visualizer/pull/151

I'm not sure why the build is failing. Can you please let me know?

[2017-03-30 08:27] selul commented on #142
@contactashish13 you have a phpcs error. You may want to update your wordpress coding standard package as it was a release recently and travis is always using the latest one.

Let me know how is going.

[2017-03-30 10:01] contactashish13 commented on #142
@selul there have been a ton of changes! this is what the logs show

[code]

[2017-03-30 10:13] selul commented on #142
@contactashish13 yes, they have added new rules. Ignore them, i will edit the phpcs file to exclude the new ones.

[2017-03-30 14:47] selul commented on #142
@contactashish13 all good now

[2017-03-30 14:47] #142 closed

[2017-03-30 14:47] #141 closed

[2017-03-30 14:48] #140 closed

[2017-03-30 15:44] selul opened #152 "chart 2nd step not workin"
@contactashish13 using latest version from developm, on the chart building popup i get blank after i select the chart type

[2017-03-31 05:22] contactashish13 commented on #152
@selul I've fixed all instances where this could happen. Basically for unit tests exit() was replaced by wp_die() so now I'm checking if its a unit test case instance or not.

PR: https://github.com/Codeinwp/visualizer/pull/153

[2017-03-31 12:50] selul commented on #152
@contactashish13  https://drive.google.com/file/d/0B8cbkQkB9YbnRGNlaXdCUVhJY2s/view

please try to test more carefully, in order to avoid this back and forth.

[2017-04-01 06:38] contactashish13 commented on #152
@selul I tested it before I pushed in my changes. Please see: https://drive.google.com/open?id=0B_GLg3hHI3AzS19sNFhBT1VMdGM

[2017-04-01 06:52] selul commented on #152
@contactashish13 and why this is not working ?

Thanks !

[2017-04-01 08:55] contactashish13 commented on #152
@selul ok so the problem was that if pro is on (like it was on my instance), it works properly. Only when pro is deactivated does it not work. Have fixed it.  PR: https://github.com/Codeinwp/visualizer/pull/154

PS - the function visualizer_enable_track() in Module/Admin.php does not have comments so PHPCS is failing at my end. I'm still pushing in the changes.

[2017-04-03 13:55] carlosinho opened #155 "Unable to upload chart data"
Hi guys,

Even with the pro version of the plugin, when I click on "From Computer" I still get redirected to this page: https://github.com/Codeinwp/visualizer/wiki/How-can-I-populate-data-from-Google-Spreadsheet%3F

[2017-04-11 13:18] #152 closed

[2017-04-19 09:03] selul opened #161 "conflict with acronix"
@contactashish13 can you check this:

this would be the problematic plugin
https://wordpress.org/plugins/arconix-faq/

[2017-04-19 14:55] contactashish13 commented on #161
@selul can you mention the bug?

[2017-04-19 21:45] selul commented on #161
ah, sorry i thought i have added it.
https://wordpress.org/support/topic/conflict-with-acronix-faq-plugin/

[2017-04-20 15:13] contactashish13 commented on #161
@selul I've traced the error to line 273 in arconix-faq/includes/metabox/init.php. If we comment out the line that loads wp_enqueue_media(), there is no conflict. I dont know if there is an impact on arconix or not because I'm not sure what functionality that performs.

In visualizer code Visualizer/Module/Setup.php I've tried to dequeue the media scripts with different priorities but none of them

[2017-04-20 15:34] selul commented on #161
@contactashish13 is the acronix plugin including the media all over the admin ?

[2017-04-21 04:44] contactashish13 commented on #161
@selul yes, it does this in the init hook

[2017-04-21 07:42] selul commented on #161
@contactashish13 then we can close this as their plugin is wrongly coded.

[2017-04-21 07:42] #161 closed

[2017-04-21 18:21] suyogyashukla opened #163 "Update copyright year."
As a customer pointed out here: https://secure.helpscout.net/conversation/353187450/131130/?folderId=212390

We should update the copyright year.

[2017-04-26 12:44] ineagu opened #169 "add popup support"
@selul thinking at the chart in popup thing, for me it makes sense to add support for this in the plugin, like for each chart named : chart_5 create a class called : .chart-popup-5, which when is present and clicked it will open the chart in a popup.

Imagine that you have graph which you don't want embedded but opened when people are clicking on a link, button, image.

@s2abina @dascalescuro

[2017-05-12 07:18] selul opened #174 "add maps key setting in the geomap type"
@contactashish13 let's add the Google Maps API settings for geomap data type in order to prevent this error from triggering:

`"Google Maps API error: MissingKeyMapError https://developers.google.com/maps/documentation/javascri`

[2017-05-12 09:05] contactashish13 commented on #174
@selul I don't seem to get the error in the console (on both admin and front end) so I'm not sure how to test this.

[2017-05-12 09:06] selul commented on #174
@contactashish13 i remember you fixed something on user end. this is the ticket:
https://secure.helpscout.net/conversation/323649523/126383/?folderId=212390

[2017-05-12 12:02] contactashish13 commented on #174
@selul PR: https://github.com/Codeinwp/visualizer/pull/175

I can't replicate the error on my localhost or on the sandbox but I've tested with console logging. Can you please verify?

[2017-05-14 17:21] #174 closed

[2017-05-19 05:09] UVLabs commented on #125
Hello, try wrapping the following lines in the code you have above:

https://github.com/Codeinwp/visualizer/blob/master/classes/Visualizer/Module/Admin.php#L301-L303

I don't believe there's a need to add the current_user_can administrator part because an admin has editor's privileges

[2017-05-19 05:14] UVLabs opened #177 "Add Value to datapoint"
Currently, you can only view data of a data point when you either hover, or click on the point, you can set that option in the general settings of the chart. There is however no way to have the datapoint value always shown for bar charts or line graphs, this is more common with bar charts

An example can be seen here where the value is shown at the tip of the bar:

http://graficas.es/review-asus-s

[2017-05-23 21:44] HardeepAsrani opened #178 "Many debugging errors"
While I was testing with 4.8, discovered there are many debugging errors when you update the fields. @selul

[2017-05-24 08:11] selul commented on #178
@contactashish13 can you have a look, test with wordpress 4.8 beta.

[2017-05-25 04:39] contactashish13 commented on #178
@HardeepAsrani can you please mention what kind of errors and where did you see these errors? Were these in the console or the error.log file? Could you attach a sample too?

[2017-05-28 14:19] contactashish13 commented on #178
@HardeepAsrani i'm testing with beta2 and got only one error. can you please mention more details as requested earlier?

[2017-05-29 14:07] antikah commented on #125
Hello,

thank you for your answer but if I wrap this code, my administrator can't access to the visualizer anymore. I only want the admin to have access and no other member. For now, every members can see the menu. And if I wrap the code no one can see the menu.

[2017-05-29 20:24] HardeepAsrani commented on #178
Not appearing now. Looks like it was related to the above commit. Once I cloned that branch it worked perfectly. Thanks!

[2017-05-29 20:27] HardeepAsrani opened #180 "Advanced Settings no where to be found"
Advanced Settings option is so unhighlighted that you have to put effort to spot it. They are important settings and should be easy to spot.

[2017-06-03 09:49] #178 closed

[2017-06-06 03:44] UVLabs commented on #125
Hello, it's not really a good idea to be editing those files because the changes would just be lost when the plugin updates. The code however should work, you replace the file with the one I attached in:

**wp-content\plugins\visualizer\classes\Visualizer\Module**

You need to grab the file from inside the zip folder

[Admin.zip](https://github.com/Codeinwp/visualizer/files/1053759/Admin.zip)

[2017-06-07 17:04] antikah commented on #125
Hello,
When I replace that file, the site crashes and I cannot access to the wordpress dashboard anymore. The same case than when I did this in the index.php.

[2017-06-26 13:10] selul opened #186 "issue with codeinwp blog"
@contactashish13 i have an issue with visualizer displaying charts inside the popup.

On this page:

https://www.codeinwp.com/blog/best-wordpress-hosting/

If you click avg. load time icon, you should see a popup with the visualizer chart inside, instea there is an empty div.

Here you have a screencast which outline this:

https://drive.google.com/file/d/0B8cbkQkB9YbnSExyMS12NWliOGs/view

Let me

[2017-06-28 04:44] contactashish13 commented on #186
@selul seems like the google visualizer scripts are not being loaded. Could be because of a JS error that occurs before the scripts load. Are you able to show charts on any other page or is this the behavior throughout the site?

[2017-06-30 14:14] selul commented on #186
yes, on other pages is working ok, for instance here: https://www.codeinwp.com/blog/best-web-hosting-for-small-business/

[2017-07-03 06:53] contactashish13 commented on #186
@selul i don't see any graphs on https://www.codeinwp.com/blog/best-web-hosting-for-small-business/

[2017-07-03 08:51] selul commented on #186
![image](https://user-images.githubusercontent.com/3330746/27785334-ef44067e-5fe5-11e7-8742-e999accece5c.png)

[2017-07-03 13:40] contactashish13 commented on #186
@selul Looks like the links to load the chart popup are no longer there on https://www.codeinwp.com/blog/best-wordpress-hosting/

[2017-07-03 15:15] dascalescuro commented on #186
@contactashish13 the links and icons are back, it was an editing mistake.
please let me know if you can see them now.

[2017-07-03 19:55] contactashish13 commented on #186
@dascalescuro thanks, I can see them now.

@selul can you create a separate page for this where I could test? It could be a problem with the lightbox-type component that shows the pop up.

[2017-07-03 20:00] selul commented on #186
Would be more usefull if i provide you admin acces, either sftp or wp
dashboard

Pe 3 iul. 2017 22:55, "contactashish13" <notifications@github.com> a scris:

[2017-07-06 14:25] dascalescuro commented on #186
@contactashish13 are you able to test this? :)
please let me know if you need anything to troubleshoot the problem with the lightbox.
thanks

[2017-07-06 14:34] contactashish13 commented on #186
@dascalescuro I was waiting for @selul to give me admin access to the site to help with the troubleshooting. Can you please provide this access?

[2017-07-06 18:08] barrychapman opened #187 "Color Changing"
Is it possible to change the color of the slices of the pie?

[2017-07-06 18:11] #187 closed

[2017-07-06 18:18] barrychapman opened #188 "Ability to create a chart type via short code and pass parameters there"
Is it possible to create a chart with a SC and then pass parameters to the chart there? I have a variable amount of charts to display, and I need to display new charts when a new data set is added.

Is that possible?

[2017-07-07 08:46] selul commented on #186
@contactashish13 you can try ti_parrot with -=TKH76ql2B)!zyGi

[2017-07-07 09:18] contactashish13 commented on #186
@selul I'm not sure I understand how the chart icon appears because I don't see anything when I edit the post.

[2017-07-07 09:59] selul commented on #186
@contactashish13 yes, this is done from an external service where we create the popup.
 if you need sftp access let me know.

[2017-07-07 10:05] contactashish13 commented on #186
@selul sure, anything that would help me :)

[2017-07-07 10:32] selul commented on #186
host: 104.197.69.102
user: codeinwpblog
password: jqRHhHwcIs7Fiud
port: 53855

[2017-07-10 13:31] dascalescuro commented on #186
@selul @contactashish13 was this one solved or anything added?

I didn't update the plugin but while checking the issue I noticed that sometimes the visualiser shortcodes are loaded.

Please check the video: https://www.useloom.com/share/9306fb61397d4b7fa8be4a476e78d066

[2017-07-14 07:26] contactashish13 commented on #186
@dascalescuro this is indeed strange. I tried on IE as well as chrome and it did not work. @selul I accessed the SFTP but don't know what to look for :) can you please explain the process?

[2017-07-14 09:00] selul commented on #186
@contactashish13 i dont know either. the wordpress instance is in the public folder, how about our assumption that the assets file are not loaded, are they or not ?

[2017-07-15 07:16] HardeepAsrani opened #191 "Using European number format"
Many users have asked about using European number format, using PERIOD instead of COMMA in numbers.

Example: https://stackoverflow.com/questions/18204678/how-to-format-numbers-in-google-api-linechart

@selul

[2017-07-15 07:19] HardeepAsrani commented on #191
Got it. Saw the option.

[2017-07-15 07:19] #191 closed

[2017-07-19 09:09] selul commented on #186
@contactashish13 any luck ?

[2017-07-19 10:01] contactashish13 commented on #186
@selul i meant if you could explain how the chart icons appear even though there is nothing in the markup. I dont know where to start tracing this issue from.

[2017-07-19 10:10] ineagu commented on #186
Hey, the chart icon is added like this :

<a href="#" class="fa fa-line-chart manual-optin-trigger" style="color:black" data-optin-slug="glzh3evrh7bse9p7rvdz" aria-hidden="true"></a>

then optinmoster based on the slug, open the popup. Then in the popup we have this : https://www.dropbox.com/s/36mnu3cpmy6f97o/Screenshot%202017-07-19%2011.10.04.png?dl=0

[2017-07-19 11:13] selul commented on #186
@contactashish13 why you have waited 5 days for a reply from my side when the last message from the conversation is mine ?

If you have an issue and something blocks you moving further you need to clear this as soon as possible and not wait for me to ping you and see how is going.

Let's avoid this kind of back and forth in the future please.

[2017-07-20 05:24] contactashish13 commented on #186
@selul it would help to have a conversation about this on slack

[2017-07-20 09:13] selul commented on #186
@contactashish13 sure, ping me when you want to talk.

[2017-07-24 13:10] selul commented on #188
@barrychapman, no, for the moment we don't have a such behaviour but we are looking to implement it in the near future.

Thanks !

[2017-07-24 13:10] #188 closed

[2017-07-24 13:11] selul commented on #180
@HardeepAsrani yes, but those are rarely used, i think is pretty much ok to simplify the interface.

[2017-07-24 13:11] #180 closed

[2017-07-24 13:11] selul commented on #177
@UVLabs yes, this can be done from the Advanced Settings, focus datapoint setting.

[2017-07-24 13:11] #177 closed

[2017-07-24 13:11] #169 closed

[2017-07-24 13:12] #155 closed

[2017-07-24 13:13] #150 closed

[2017-07-24 13:13] #149 closed

[2017-07-24 13:13] #134 closed

[2017-07-24 13:15] selul commented on #131
@dshakya for the moment isn't too much traction for this feature to develop in the next iteration.
I think you can achieve this by hooking to the plugin core and do this.

[2017-07-24 13:15] #131 closed

[2017-07-24 13:17] #125 closed

[2017-07-24 13:19] #30 closed

[2017-07-24 13:21] #59 closed

[2017-07-24 13:22] #109 closed

[2017-07-24 13:25] selul commented on #130
For the moment this is not on our priority list but we will postpone for later iterations. You can always hook to the plugin core and achieve this if you are interested

[2017-07-24 13:25] #130 closed

[2017-07-24 13:26] selul commented on #33
Yes, you can use the Focus datapoint setting in order to achieve this.

[2017-07-24 13:26] #33 closed

[2017-07-24 13:26] #7 closed

[2017-07-24 13:26] #22 closed

[2017-07-24 13:26] #9 closed

[2017-08-04 08:42] #186 closed

[2017-08-05 11:17] selul opened #192 "add actions buttons"
@contactashish13 i would like to add a setting in the Advanced tab area, General settings, called Action buttons which will have 4 checkboxes ( Print, excel, csv, copy ).

When this will be enabled, we will show something like this.
![image](https://user-images.githubusercontent.com/3330746/29155055-e9e503d4-7da1-11e7-953c-8a1a452688a9.png)
 , which you can find here: https://wpdatatables.com/

Th

[2017-08-05 11:19] selul commented on #192
@contactashish13 by default all checkboxes will be unchecked.

[2017-08-09 05:43] contactashish13 commented on #36
@selul PR: https://github.com/Codeinwp/visualizer/pull/193

[2017-08-09 05:52] contactashish13 commented on #163
@selul should I make this dynamic and default to the current year?

[2017-08-09 05:54] contactashish13 commented on #192
@selul the image you attached in the post seems to be missing. can you please attach again?

[2017-08-10 05:00] selul commented on #192
@contactashish13 you can check now the message.

[2017-08-10 05:00] selul commented on #163
yep.

[2017-08-10 06:35] contactashish13 commented on #163
@selul PR: https://github.com/Codeinwp/visualizer/pull/194

have removed closures as well

don't know why wraith is failing in the build

[2017-08-10 06:39] contactashish13 commented on #192
@selul

* these checkboxes will be in the advanced settings tab for each chart?
* if so, checking the boxes will enable the links in the library?

[2017-08-10 10:11] selul commented on #192
@contactashish13 the link will be displayed on the frontend, in the upper area of the chart, you can check in the website i gave you.
And yes, those will be in advanced settings for each tab.

[2017-08-14 05:02] contactashish13 commented on #192
@selul PR: https://github.com/Codeinwp/visualizer/pull/195

[2017-08-14 11:48] selul commented on #192
@contactashish13 in the admin area, when i click Create Chart i get this `Uncaught ReferenceError: Clipboard is not defined` in the console and the chart is not created.

[2017-08-14 11:49] #163 closed

[2017-08-14 12:10] contactashish13 commented on #192
@selul PR: https://github.com/Codeinwp/visualizer/pull/197

[2017-08-15 11:06] selul commented on #192
@contactashish13 now i get this when i have all the actions buttons enabled:

![image](https://user-images.githubusercontent.com/3330746/29313408-8fa32e6c-81c2-11e7-8052-63d543b232a3.png)

I think you have not added the js file as the vendor folder is ignored by git.

Ignore the console log error as that is from the theme.

you can add the js in the js folder, make a vendor folder an put it there.

[2017-08-16 05:30] contactashish13 commented on #192
@selul PR: https://github.com/Codeinwp/visualizer/pull/198

[2017-08-16 11:18] #192 closed

[2017-08-16 11:18] #36 closed

[2017-09-23 08:11] contactashish13 opened #206 "Prefix all classnames with viz (or something similar)"

[2017-09-25 04:11] contactashish13 commented on #206
@selul PRs: https://github.com/Codeinwp/visualizer/pull/207 and https://github.com/Codeinwp/visualizer-pro/pull/89

[2017-10-12 10:24] #206 closed

[2017-10-23 09:28] selul opened #213 "bug including the chart in admin."
https://wordpress.org/support/topic/including-in-wp-admin/

[2017-10-26 07:48] selul opened #214 "add support for annotation and other roles"
https://secure.helpscout.net/conversation/455466468/146245/?folderId=212388

[2017-12-05 14:52] selul opened #217 "database import"
@contactashish13 i would like to work on a new feature for handling database import, similar as import from wordpress works, but a bit more SQL oriented.

We will work first on the free version, next iteration will add features for pro version also.

The intent is to dynamically build queries and display charts according to the result.
A raw mockup will be: https://xd.adobe.com/view/e87e95e6-1938-

[2018-01-13 09:31] contactashish13 commented on #217
@selul PR: https://github.com/Codeinwp/visualizer/pull/223

1. The UI needs lots of work by some CSS guru :)
2. The chart data is refreshed using the cron
3. I've created unit test for this but strangely its not working so I've skipped it for the time being

[2018-01-19 10:25] selul commented on #217
@contactashish13 i dont get the 2nd point, isnt the data fetched live from the db ?

[2018-01-19 13:09] selul commented on #217
@abaicus can you play around with this feature, see how is looking and do some magic with design ( improve )  ?

[2018-01-19 13:22] abaicus commented on #217
👍 Sure!

[2018-02-14 16:05] selul commented on #217
@contactashish13 can you reply to my last question ?

[2018-02-19 15:13] contactashish13 commented on #217
@selul no, to reduce the load on the db I've added the ability for users to specify a refresh time and on the basis of that the data is refreshed. Do you want me to add another option for 0 hours that will fetch data live?

[2018-02-19 15:17] selul commented on #217
yes, if you could apply a wordpress filter to that value and the default to be zero.

[2018-02-19 18:51] ineagu opened #226 "edit chart"
@selul when I am trying to edit an existing chart, I am redirected to the choose a chart type screen, and only then I can edit the chart, can we just skip the first part since we already know the chart type?

[2018-02-19 18:52] ineagu commented on #226
Usually I believe that when people wanna edit a chart, they wanna edit the data.

[2018-02-19 18:57] ineagu opened #227 "Data editing/adding, auto-open "add data manually""
@selul for me the data editing was particularly confusing in Visualizer in the new version, for e.g when I was trying to edit a chart, I would be redirected to this screen: https://www.dropbox.com/s/rvo5i0vtia1rmq1/Screenshot%202018-02-19%2018.54.27.png?dl=0, where I see no way to edit the chart.

This can be solved easily by doing 2 things:

1. Rename Add Data Manually, to Manual or Manual Data,

[2018-02-19 19:00] ineagu opened #228 "chart from WP data UX"
@selul this was again very confusing and I thought is broken since I was trying to add stuff in the input, since the input doesn't work at all until I choose a CPT, I would recommend to either hide the input initially if there is no CPT selected, or to pre-select a CPT and add headers to selectors so people know what they can change into.

[2018-02-19 19:00] ineagu commented on #228
https://www.dropbox.com/s/7ta1xsjhdf5u5o6/Screenshot%202018-02-19%2018.59.26.png?dl=0

[2018-02-19 19:02] ineagu commented on #228
It was also impossible for me to understand how I can use it, so I think is better when users select that option to preload a useful use-case based on posts. seems that I cannot get post count based on status for e.g or again I don't understand how to use it.

[2018-02-19 19:08] ineagu opened #229 "Add an Add chart button"
@selul what do you think about adding an add chart button in tiny mce, that will auto-open media dialog with charts pre-selected? like: https://www.dropbox.com/s/4lk40uvfwilqq8f/Screenshot%202018-02-19%2019.05.29.png?dl=0 .

Not sure if we do this now, but would be useful that when a user open this and there are no charts to direct him to the new chart tab : https://www.dropbox.com/s/z0kxr9x6zgroz

[2018-02-19 19:52] rohittm opened #230 "Unable to perform any other option after clicking "Import from other chart" option"
@selul @contactashish13

Whenever clicking on "Import from other chart" option, The user is unable to click on any other ABOVE options. It can click on the options below it but now on the above ones. Here's the working:
![visualizer](https://user-images.githubusercontent.com/3204558/36394905-6315da3a-15dc-11e8-8526-ca7e0425f170.gif)

Tested on Firefox, Chrome, and Safari. Is it only me?

[2018-02-20 03:30] contactashish13 commented on #217
@selul have added an option for this.

[2018-02-20 08:58] selul commented on #230
@contactashish13 can you check ?

[2018-02-20 09:32] selul commented on #227
got it, thanks for suggestions.

[2018-02-20 09:33] selul commented on #226
Yep, you're right.

[2018-02-20 09:33] selul commented on #228
adding mock data by default sounds like a good plan.

[2018-02-20 12:27] contactashish13 commented on #230
@rohittm the GIF you have attached in issue seems to be incomplete. Can you mention the steps in text so that its easy to replicate?

Currently this does not seem to be a problem and could be specific to your instance.

[2018-02-21 01:30] contactashish13 commented on #230
@selul I have fixed this assuming "import from other charts" is a pro-only feature. PR: https://github.com/Codeinwp/visualizer/pull/231

@rohittm in the future, it will be more helpful if you can provide specific conditions to reproduce this issue e.g. it was not a geo chart specific issue and it only occurred when free was active and pro was inactive. These things will help reduce TAT.

[2018-02-21 09:12] rohittm commented on #230
Sure @contactashish13 , I'll keep that in mind.

[2018-02-21 13:17] selul commented on #230
@rohittm nice catch.

[2018-02-21 13:17] #230 closed

[2018-02-21 13:17] selul commented on #229
@contactashish13 can we tackle this ?

[2018-02-21 13:17] selul commented on #226
@contactashish13 can you help me here

[2018-02-23 11:52] contactashish13 commented on #226
@selul what if users wants to change the chart type? They can never do this if we remove the chart type screen.

[2018-02-23 11:57] ineagu commented on #226
I would say that this is quite rare and an exceptional case, users can then
copy- paste old data to a new chart of the type they want. If we see lots
of issues, we can add a link to "edit chart type", generally is not best
practice to force 99% users to take an extra step, just because 1% would
need that.

On Fri, Feb 23, 2018 at 11:52 AM, contactashish13 <notifications@github.com>
wrote:

--
Ionu

[2018-02-23 12:05] selul commented on #226
@contactashish13 yes, we asume that they don't want that.

[2018-02-24 04:00] contactashish13 commented on #226
@selul PR: https://github.com/Codeinwp/visualizer/pull/233

The old behavior can be reinstated by disabling the constant `VISUALIZER_SKIP_CHART_TYPE_PAGE`

[2018-02-24 04:24] contactashish13 commented on #229
@selul I'm not sure I understand the sequence of actions. Users can use the add media button to embed existing charts or create charts. Can you please clarify what is required?

[2018-02-24 10:23] selul commented on #229
yes, but i would like to have a separate button in the editor for charts also, same as Feedzy does.

[2018-02-24 14:45] contactashish13 commented on #229
@selul
1. will the tinymce button load the same window that the add media button does?
2. the add media button loads a window that has no "insert chart" button. will the tiny mce button also lack this button? if not, should the insert chart button be placed for both?

[2018-02-24 16:10] selul commented on #229
1. yes
2. yep, will be ideal for both i think

[2018-02-26 09:01] #226 closed

[2018-02-26 11:48] selul commented on #228
I moved it to the pro repo https://github.com/Codeinwp/visualizer-pro/issues/95

[2018-02-26 11:48] #228 closed

[2018-02-27 04:45] contactashish13 commented on #229
@selul PR: https://github.com/Codeinwp/visualizer/pull/234

1) The add media popup had bugs which caused pagination and chart type selection to not work. Have fixed these.
2) I have added a tinymce button that triggers a click of the add media button.
3) I'm unable to make changes to the backbone code so only the Visualizer tab shows.

[2018-02-27 14:55] selul commented on #229
@contactashish13 i have managed to open the tab using:

[code]

All should be fine now.

[2018-02-27 14:55] #229 closed

[2018-02-27 15:00] selul opened #236 "add insert button in media popup"
@contactashish13 will be ideal to have an insert chart button which will insert the shortcode code into the editor.
Also, if we are doing this, we will need to tweak the listing charts into the media popup, allowing users to select them.
The UI of how the selected chart will look will be similar to how the selected image is now in the WordPress media.

[2018-03-02 09:30] selul commented on #236
@contactashish13 can't we localize using -> https://codex.wordpress.org/Function_Reference/wp_localize_script
We can use the same handle as the js script you used to add the butotn.

[2018-03-02 10:11] contactashish13 commented on #236
@selul oh yes! For some reason I thought view.js was being included from backbone. Have implemented this.

[2018-03-05 10:34] #236 closed

[2018-03-08 19:58] HardeepAsrani opened #240 "Issue with non-English text"
Someone reported an issue with the Hebrew language in Charts. Google has some options to load locale in Charts, like this:

`google.charts.load('current', {packages: ['corechart'], language:'ja'});`

Now that should fix it in the front-end, but if you put down some text in Editor that we have, it also messes it.

@selul

[2018-03-09 09:34] ineagu opened #241 "load frontend assets when not needed"
@contactashish13 @selul I can see we are still loading : <script type='text/javascript' src='https://themeisle.com/blog/wp-content/plugins/visualizer/js/lib/clipboardjs/clipboard.min.js?ver=3.0.6'></script>, even if there are no charts in the article.

[2018-03-10 11:27] contactashish13 commented on #241
@selul PR: https://github.com/Codeinwp/visualizer/pull/242

We may have to take a look at all plugins that support shortcodes as this behavior could be prevalent.

[2018-03-12 10:30] #241 closed

[2018-03-12 10:39] selul opened #243 "add revision support"
@contactashish13 I would like to introduce revision support for charts post_type.

The intent is to solve the next issue:

When we try to edit a chart, if we change some data and click on view editor, the data is automatically saved, despite we did not click the save button chart. The problem here if the user has a chart with some data associated and he tries different importing ( import from WP,

[2018-03-12 10:52] selul commented on #240
@contactashish13 can we use the blog locale for editor and charts frontend?

[2018-03-15 07:51] contactashish13 commented on #240
@selul partially solved in https://github.com/Codeinwp/visualizer/pull/244

PR for adding locale support to editor: https://github.com/Codeinwp/visualizer-pro/pull/101

I tried searching for publicly available CSVs in hewbrew but in vain. @HardeepAsrani can you share the file?

[2018-03-16 04:35] contactashish13 commented on #240
@selul have tested with the customer's Hebrew file but I'd recommend testing with as many different languages as possible. PR: https://github.com/Codeinwp/visualizer/pull/245

[2018-03-19 07:32] contactashish13 commented on #243
@selul we can't really save "into" a revision so here is what I suggest. Let me know if this works.

1. enable revisions
2. when the user modifies the chart without Saving, let current functionality remain
3. provide a Cancel button - this will undo the current revision
4. provide a Save button - no change in functionality
5. remove the close button (x) from the window so that users can use only s

[2018-03-19 08:48] selul commented on #243
@contactashish13 in this behaviour, if the user choose cancel after he edited some data using the manual data, the chart will show the data before he would choose the edit ?

[2018-03-19 08:50] contactashish13 commented on #243
@selul yes, we would undo the latest version and go back to the last revision

[2018-03-20 09:14] contactashish13 commented on #243
@selul PR: https://github.com/Codeinwp/visualizer/pull/246

I wasn't able to do the following:
1. Prevent modal from closing by clicking escape or on clicking the background
2. Style the cancel button
3. Create test case (will try again)

[2018-03-20 09:15] selul commented on #243
@contactashish13 if they will click on escape or background, they will get the chart state before opening for edit?

[2018-03-20 09:16] contactashish13 commented on #243
@selul no. That is why we need to disable closing of modal on clicking escape/background. The only way out of the process has to be either save or cancel button.

[2018-03-20 09:19] selul commented on #243
how about if they click on page refresh, the chart will still load the revision data?
If yes, we need to find a way to solve this, the only time when the chart data will be edited is when they will click on save.
Maybe we can load the revision id as soon as they open for edit?

[2018-03-20 13:11] contactashish13 commented on #243
@selul I've handled this at 2 ends - one while loading the library and one while editing.

[2018-03-21 14:56] selul commented on #243
@contactashish13 i dont understand your last reply ?

[2018-03-22 05:22] contactashish13 commented on #243
the revisions are removed

when the user edits the chart
OR
when the user refreshes the library

[2018-03-22 08:42] selul commented on #243
@contactashish13 please confirm if this is the behaviour:
`When the user edits a certain chart, if he did any other action except Save, the content is not saved.`

[2018-03-22 08:54] contactashish13 commented on #243
@selul as discussed in https://github.com/Codeinwp/visualizer/issues/243#issuecomment-374123282, the behavior of the chart remains the same. Data is still saved in the chart but with with revisions enabled. And the oldest revision is reinstated if either of the below conditions is true

- the user clicks cancel
- the user refreshes the page/library page
- the user edits the chart

[2018-03-22 08:58] selul commented on #243
@contactashish13 how about if he clicks save, is the previous chart id changed, or it stays the same?

[2018-03-22 09:02] contactashish13 commented on #243
@selul if the user clicks save, all revisions will be discarded. Thus chart id remains unchanged.

[2018-03-26 11:05] selul commented on #243
@rohittm can you help me test this,
Let me know what use cases you have tested and if is the case, what problems you have found.

[2018-03-27 09:17] contactashish13 commented on #243
@rohittm please provide step by step details of what you tried to test here

the problem with pro appears to be a problem with your install.

[2018-03-27 19:37] rohittm commented on #243
Steps here are:
1. I created a new chart.
2. Changed the data in csv and uploaded it.
3. Worked with these scenarios:

4. In these cases, the chart data was rolled back to the last version. The data was updated to the new version only when "Save Changes" button was clicked.
In [this](https://github.com/Codeinwp/visualizer/issues/243#issuecomment-374526630) comment, you wanted this action, right?

[2018-03-28 13:09] contactashish13 commented on #243
@rohittm I've tested with the same combination and found no problem. I suppose you have to give the plugin time to work - e.g. the import from another chart feature brings data from the database to the interface and then submits - so its not an instantaneous process. It may help if you test all the features using the master branches of both pro and free so that you understand how they work before

[2018-04-02 10:13] selul commented on #217
@rohittm can you help me test this feature, you can find this on the database-support branch.

Let me know what you have tested, how the things were working and what problems did you encounter.

You can make a doc to gathering all the data.

[2018-04-03 13:16] contactashish13 opened #248 "Support series formatting for Table chart type"

[2018-04-05 04:41] contactashish13 commented on #248
@selul PR: https://github.com/Codeinwp/visualizer-pro/pull/104

have added series formatting as well as a few more features.

@Vishakha-Patel FYI

[2018-04-05 19:54] rohittm commented on #217
@selul here's the report of what I tested: https://docs.google.com/document/d/1CdNChHm48PTWIgP-9mBKSq9RF1HCwT7pLzHz4aPjZGQ/edit?usp=sharing

[2018-04-10 09:07] selul commented on #243
@contactashish13 can you fix the conflict for the revision PR. i think it should be fine after.

[2018-04-10 09:40] #248 closed

[2018-04-10 09:41] selul commented on #243
@contactashish13 one more thing, can we add unit tests for this particular feature ?

[2018-04-10 14:14] selul commented on #217
@contactashish13 can you have a look at the issues.

[2018-04-11 19:45] rohittm opened #251 "Add animations to chart"
@selul We can add animations to the charts. Like the one's here: http://www.jqplot.com/examples/barLineAnimated.php . We can have something similar to this.

Ref.: https://secure.helpscout.net/conversation/555897475/158639/?folderId=212390

[2018-04-12 05:38] contactashish13 commented on #243
@selul PR: https://github.com/Codeinwp/visualizer/pull/250

[2018-04-12 11:24] contactashish13 commented on #217
@rohittm can you please add in more details as to when you clicked the Save button or the Cancel button or when you clicked the what control/feature? The report does not make this obvious. It might be best to add another page to this report and in there list down step by step the actions you took and what was the problem.

[2018-04-18 20:24] UVLabs opened #252 "[Feature Request] Add Both % and Value to Pie Slice"
@contactashish13 it's possible to add just the percentage and just the value, we can maybe have another option to have both the percentage + the value in the chart

https://themeisle.com/index.php?gf-download=2018%2F04%2FScreen-Shot-2018-04-18-at-12.09.00.png&form-id=1&field-id=19&hash=542c4d2d125fca81dd8d253da1af34dcc1298a9c5c67ebd0b3e29076791b3ab9

[2018-04-19 09:44] rodica-andronache commented on #243
@contactashish13 I tested a bit, and I'm not sure if it's ok. I created this chart https://prnt.sc/j7a3l5, clicked Edit, View Editor, updated one of the values, clicked Show Chart and clicked outside the window (without save or cancel ) and the value seems to be saved https://prnt.sc/j7a4jp
@rohittm maybe you can test too?
👍

[2018-04-19 14:36] rohittm opened #254 "Missing Docs and Screenshot fix"
@rodica-andronache I am listing the missing docs and incorrect screenshots as per our conversation in [wp-product-review/#275](https://github.com/Codeinwp/wp-product-review/issues/275)

### Missing Docs:

- None

### Images with weird focused area.

- [x] https://docs.themeisle.com/article/597-create-chart
- [x] https://docs.themeisle.com/article/602-how-can-i-edit-a-chart
- [x] https://docs.theme

[2018-04-19 17:03] rohittm commented on #254
@rodica-andronache check the screenshots on all the above docs and let me know if there is any thing that needs to be edited.

[2018-04-19 17:54] rohittm commented on #217
@contactashish13 I have updated the doc. Until step 10, everything works fine. The problem that I faced was from step 11. If there's still anything you aren't able to understand, let me know. I'll try explaining in details.

[2018-04-20 05:24] contactashish13 commented on #243
@rodica-andronache The chart will be saved. The old behavior remains the same. But if you click Edit again or if you refresh the library, the new revision will be discarded and the old version of the chart will show.

[2018-04-20 06:03] contactashish13 commented on #217
@rohittm I'm not sure your installation is working properly or using the correct version of plugin. It has been quite a few releases since we removed the "chart types" screen when you click on edit but your install seems to be showing that screen for some reason.

Also, I don't see a Cancel button. The commit for that contained revision control as well. If you are saying revisions are being create

[2018-04-20 07:28] contactashish13 opened #255 "Data is being fetched from remote source every single time a chart is shown"
@rodica-andronache while testing https://secure.helpscout.net/conversation/558545011/158903?folderId=1362294 I seem to have found a major bug. It appears that whenever a chart is loaded, it repopulates data from its source - even if the source is a remote URL. This means that if I have a chart that loads from a remote URL **one time**, whenever I view the chart it is effectively fetching the data

[2018-04-20 10:10] contactashish13 commented on #252
@rodica-andronache @UVLabs PR: https://github.com/Codeinwp/visualizer/pull/256

[2018-04-21 06:52] contactashish13 commented on #240
@rodica-andronache

PR: https://github.com/Codeinwp/visualizer/pull/257

I'm reopening this so that this can be conclusively tested with different Unicode languages.

I'm attaching a file with as many languages as I could think of. More languages can be added and this can be used for testing.
[mix.txt](https://github.com/Codeinwp/visualizer/files/1934210/mix.txt)

CC @Vishakha-Patel @UVLabs

[2018-04-22 10:32] rohittm commented on #217
@contactashish13 Let's just forget the previous tests, and I did a fresh install in poopy.life as you suggested. Here, I took wp_posts table and wp_posts.ID and wp_posts.post_date columns for both the axis of chart.

Now, I find this error (and, in this video, I have stated all the steps, I did):
https://drive.google.com/file/d/1upyg_6mhaGYdUbnGHUFf_fmfNT2r-G8t/view?usp=sharing

Also, what I tried

[2018-04-23 08:39] contactashish13 commented on #217
@rohittm the problem was that date or string columns always need to be on the X axis. In this case, the post ID was on the x axis. This is similar to how import from WP works. The code was already taking care of automatically switching string type column to the x-axis but did not handle this switching for date columns.

Also, a "live" chart was not being fetched live in the library; it was being f

[2018-04-24 20:41] rohittm commented on #243
@contactashish13

The steps I did to reproduce this:

1. Fresh install of WP on Local by Flywheel
2. Installed and activated [issue-243](https://github.com/contactashish13/visualizer/tree/issue-243) branch of Visualizer.
3. Created a line chart, with a new sample data (.csv)
4. Clicked on 'Save Chart', Chart is created:

![screen shot 2018-04-25 at 01 51 30](https://user-images.githubusercontent.c

[2018-04-25 10:39] rohittm commented on #243
@contactashish13
[revision.zip](https://github.com/Codeinwp/visualizer/files/1946606/revision.zip)

All files are named revision_test_<1, 2, or, 3>

1, 2, and, 3 are the scenarios from above issue (5.i, 5.ii, and, 5.iii)

[2018-04-25 10:54] rodica-andronache commented on #240
@rohittm  please test this, and post here a report of all the cases you tested and the results 😀

[2018-04-25 10:55] rodica-andronache commented on #254
thank you @rohittm  😉

[2018-04-25 10:55] #254 closed

[2018-04-25 18:43] contactashish13 commented on #243
@rohittm can you test the PR again? The scenarios I've tested assume I create a new chart every time before operating on it. This prevents any "dirty" data. Please try to follow the same methodology. Once they succeed, you can try random scenarios as well.

Here are the scenarios assuming a clean chart in the library:

1. Edit, import a new chart, cancel - old version shows
2. Edit, import a new c

[2018-04-26 09:17] rodica-andronache commented on #255
@contactashish13 indeed I think there is a problem, you can have a look.
What I have tested: Created a pie chart, imported new data with the One time import, and after that, I updated the file and indeed the chart is **updating again**. I suppose it should update just one time, as the name is saying.
If I updated the chart with the Manual Data option, it seems to not updating again from the remote

[2018-04-26 12:00] rodica-andronache commented on #252
@rohittm can you please add this feature in the documentation?

[2018-04-26 13:13] rodica-andronache commented on #217
@contactashish13  I tested a bit too, and I can see the problem suggested by Rohit. after creating a new chart with the import from db, and try to edit it, it gets the default values, not the ones we saved.
Plus, I don't understand how the db infos are pulled from the db.
these are the options I selected https://prnt.sc/jaeqru
this is what I got https://prnt.sc/jaer1r
with this chart https://prnt.

[2018-04-26 13:27] contactashish13 commented on #255
@rodica-andronache PR: https://github.com/Codeinwp/visualizer/pull/261

[2018-04-26 13:34] rodica-andronache commented on #255
@rohittm could you please test #261 with both the "One time import" and "Schedule import option" options? And make sure you test by changing the remote file.
Let me know how you tested this and what results you got? 😀

[2018-04-26 18:35] contactashish13 commented on #217
@rodica-andronache I was finally able to reproduce this bug and fix it.

@rohittm please test this as well.

[2018-05-05 20:37] rohittm opened #262 "Hide few selected columns from CSV"
@rodica-andronache There should be an option to hide few columns and not display them in the charts/tables without actually deleting it from the source CSV.

Here's the HS ticket: https://secure.helpscout.net/conversation/563950682/159444/?folderId=212390

[2018-05-06 22:47] rohittm commented on #255
@rodica-andronache @contactashish13 I tested by adding and updating the file: https://rohitmotwani.com/data.csv on poopy.life

Both "One time import" and "Schedule import option" options are working fine for me.

[2018-05-06 23:07] rohittm commented on #252
@rodica-andronache Here it is: https://docs.themeisle.com/article/885-how-to-display-both-value-and-percentage-in-slice-of-pie-chart

[2018-05-07 12:57] #252 closed

[2018-05-07 13:34] #255 closed

[2018-05-08 19:15] rohittm commented on #240
@contactashish13 I'm unable to import CSV you provided. Here are the steps, I did (did that on both Local & poopy.life):

1. Created new WP instance.
2. Cloned [issue-240](https://github.com/contactashish13/visualizer/tree/issue-240) branch of your visualizer fork.
3. Created a new chart, and selected **Import data from file** option.
4. chose mix.csv, and it is not successful.

Here's the video:

[2018-05-09 07:03] contactashish13 commented on #240
@rohittm did you run composer?

[2018-05-09 18:30] rohittm commented on #240
@contactashish13 So dumb of me, I missed that 😅. So yes, I tested the following:

1. The CSV data you provided [here](https://github.com/Codeinwp/visualizer/files/1934210/mix.txt) and all the data in col 1.
2. Changed headings in row 1 of CSV with non english text (all the languages used in csv).

Both the scenarios worked fine for me.

[2018-05-10 11:32] #240 closed

[2018-05-11 14:17] marcosybarraa commented on #251
+1

[2018-05-11 16:59] rohittm commented on #243
@contactashish13

1. Works fine.
2. Works fine.
3. Works fine.
4. Works fine.

[2018-05-17 15:51] HardeepAsrani commented on #251
It's actually part of Google's Chart API: https://developers.google.com/chart/interactive/docs/animation

[2018-05-18 16:32] rohittm commented on #217
@contactashish13 I tested again what I tested [here](https://github.com/Codeinwp/visualizer/issues/217#issuecomment-383371172) and this is what I got according to the posts I made:
![screen shot 2018-05-18 at 21 52 53](https://user-images.githubusercontent.com/3204558/40246360-16b53e8e-5ae6-11e8-8a1e-aea71c304109.png)

@rodica-andronache I tested your case as well, and it seems to be working fine

[2018-05-20 19:54] rodica-andronache commented on #217
@contactashish13 some things are not related exactly to this task but I have some questions :)
At first, when you install the plugin, go to the Visualizer Library, and you select a type of chart for e.g Gauge https://prnt.sc/jkcyj6 and after that, you click Add new, always the default selected chart type is Line https://prnt.sc/jkcz0x . Is that correct? I find it confusing.

What I tested, I added

[2018-05-22 11:04] rodica-andronache commented on #243
@contactashish13 @rohittm for me, the problem is like this:
Create a new chart with import data from file.  -> Use the shortcode on a page.
Edit that chart. Add an updated file for import data from file.
Click outside the popup https://prnt.sc/jl2ysf instead of clicking Cancel or Save Chart.
In the Visualizer dashboard, indeed the chart is not updated, but if you go on the page where you've used t

[2018-05-23 11:51] rodica-andronache commented on #217
@contactashish13 regarding the first thing, isn't it possible to do it? I mean, when you click on Add new, to make it as default value, what he has previously selected. I see it's in the URL maybe you can grab it from there? I think it would make sense. Let me know your thoughts :)

For the second thing, can't we remove the duplicates? I suppose that in the chart the duplicates are not used. Does

[2018-05-23 16:29] contactashish13 commented on #217
@rodica-andronache first one can be done.

second one, I don't see the point. The query is going to be built by the user and if they want to remove duplicates then can add a group by clause.

[2018-05-23 17:27] contactashish13 opened #263 "When Add New is used from within a selected chart type tab, that chart type should be auto selected"
as discussed in https://github.com/Codeinwp/visualizer/issues/217#issuecomment-391319022

[2018-05-24 09:54] contactashish13 commented on #243
@rodica-andronache have fixed this case as well as another case when the chart is edited from the front-end. I have a feeling this will be a problem with scheduled charts as well. I've added support but I can't test it this till these changes are merged with #255.

PR: https://github.com/Codeinwp/visualizer-pro/pull/108

[2018-05-25 07:49] contactashish13 commented on #263
@rodica-andronache PR: https://github.com/Codeinwp/visualizer/pull/264

[2018-05-25 08:43] #263 closed

[2018-05-25 09:00] rodica-andronache commented on #217
@contactashish13 thanks for the fix for the first thing 👍

for the second one, what I mean, is that I think there might be a problem with how the query is created.
This is what I selected https://prnt.sc/jmefdh so, a single table, with 2 columns, ID and author .
This is the database https://prnt.sc/jmefpu and what I think it should be the result https://prnt.sc/jmefpu
And this is what it displays

[2018-05-25 09:21] rodica-andronache commented on #243
@contactashish13 that problem seems to be fixed. thanks 👍
I merged it on dev, you can see if there are other problems too.

@rohittm would you please have another look on this? https://github.com/Codeinwp/visualizer/pull/249 to see if there are any other problems?

[2018-05-26 06:02] contactashish13 opened #265 "All scheduled charts are not updated if one of the scheduled charts is deleted"
Scenario:

1. Create 5 scheduled charts
2. Check they are being updated correctly as per schedule
3. Delete the 2nd chart
4. During next scheduled update, only the 1st chart will be updated

This is because the process exits when the 2nd chart is not found.

[2018-05-26 07:05] contactashish13 commented on #243
@rodica-andronache ran into #265 but everything else looks good.

[2018-05-26 07:06] contactashish13 commented on #265
@rodica-andronache PR: https://github.com/Codeinwp/visualizer/pull/266

[2018-05-31 15:03] rodica-andronache commented on #265
@rohittm please test this alone, and with the pro version and let me know how's going

[2018-06-01 14:17] rohittm commented on #265
@contactashish13 I tried all the steps you mentioned with the WordPress.org plugin (and not your branch i.e. issue-265) in poopy.life and the schedule import still works even after deleting the second chart. Can you tell me a little more, on how to reproduce this issue?

[2018-06-02 07:29] contactashish13 commented on #265
@rohittm https://github.com/Codeinwp/visualizer/issues/265#issue-326713400 is the only way I can reproduce it. @rodica-andronache are you able to reproduce this scenario?

[2018-06-12 09:37] contactashish13 opened #267 "Provide the PNG URL of the rendered chart in the console"
ref https://secure.helpscout.net/conversation/599170994/163481

[2018-06-12 09:49] contactashish13 commented on #267
PR: https://github.com/Codeinwp/visualizer/pull/268

[2018-06-18 13:49] rodica-andronache commented on #267
@contactashish13 I'm not sure about this. Neither that it's ok to have this always displayed in the console for each chart, nor that this is what she wanted. Could you please check with her, to see if that's what she really wanted? :)

[2018-06-18 13:54] contactashish13 commented on #267
She did not say no to my suggestion and shared the pirate details. I assume that's a yes.

On Jun 18, 2018, 19:19, at 19:19, Rodica-Elena Andronache <notifications@github.com> wrote:

[2018-06-19 14:45] rodica-andronache commented on #267
@contactashish13 you can check again with her :) Not sure, we should add this in the plugin

[2018-06-19 15:14] rodica-andronache commented on #265
@contactashish13 @rohittm I tested the org plugin, and from what I understand, the schedule is not working properly, or I don't understand how it would be supposed to work. I created 3 pie charts with the same csv file for schedule, and have selected 1 hour interval for all of them.
I updated the csv file after 5 minutes, and the charts got updated already. Is that normal? Shouldn't the check be a

[2018-06-26 14:10] contactashish13 opened #269 "Add title field to charts that do not support title field (only for use in the backend)"
ref https://secure.helpscout.net/conversation/607638175/164176

[2018-06-27 13:34] #243 closed

[2018-06-27 13:56] rodica-andronache commented on #269
@contactashish13 how will it work if you said some of them don't support title field

[2018-06-27 15:36] rodica-andronache commented on #265
everything seems ok 👍

[2018-06-27 15:36] #265 closed

[2018-06-28 08:31] rodica-andronache commented on #217
@contactashish13 you previously said "for the problem with the back button, I am able to replicate it." I tried now,but I see that you removed the back button?
If so, please bring it back :) the problem was that when that button was clicked it brought me to an empty screen, instead of the previous screen, where the query is constructed.

For the duplicated fields, we can leave it like that, if you

[2018-06-28 08:43] rodica-andronache commented on #262
@contactashish13 could you please take a look on this? Isn't this possible using the Manual Data option? Like creating the chart from the CSV and after that just edit the chart in the manual mode ( and remove any field you don't want from the csv ) ? Or I'm missing something?

[2018-06-28 08:46] rodica-andronache commented on #251
@contactashish13 I think this can be a nice pro feature 👍  what do you think? Could you please investigate this a bit? If it would make sense/can be implemented/how long it would take

[2018-06-29 10:07] contactashish13 commented on #269
@rodica-andronache this is only for the admin interface/library page not for the front end.

[2018-06-29 10:17] contactashish13 commented on #262
@rodica-andronache yes, this is possible. I'm not sure why the user did not try that.

[2018-06-29 12:55] contactashish13 commented on #217
@rodica-andronache which branch are you testing with?

[2018-06-30 06:38] contactashish13 commented on #267
@rodica-andronache have now added this in a global array which users can access if they wish to.

[2018-07-02 03:42] contactashish13 commented on #269
@rodica-andronache PR: https://github.com/Codeinwp/visualizer/pull/271 and https://github.com/Codeinwp/visualizer-pro/pull/114

[2018-07-02 09:03] rodica-andronache commented on #267
@contactashish13 I think it's better like this indeed ( let's also see if the user is also finding this helpful ).
But I tested this with some previously created charts and I got this: render.getImageURI is not a function https://prnt.sc/k1imd0

[2018-07-02 09:30] contactashish13 commented on #267
@rodica-andronache apparently not all charts support this method. Have added a warning for them.

[2018-07-02 09:50] #267 closed

[2018-07-04 05:59] contactashish13 commented on #267
@rodica-andronache have reopened this with https://github.com/Codeinwp/visualizer/pull/273

[2018-07-04 14:36] rodica-andronache commented on #251
yes, that sounds great 👍

[2018-07-04 14:37] #262 closed

[2018-07-09 07:55] contactashish13 commented on #251
@rodica-andronache PR: https://github.com/Codeinwp/visualizer/pull/274 and https://github.com/Codeinwp/visualizer-pro/pull/116

PS - I don't understand (and I am unable to fix) the travis build failure for pro.

[2018-07-09 20:09] rodica-andronache commented on #251
@contactashish13 it fails because of the phpunit https://prnt.sc/k4gjf6, I guess from the change you've made. I don't know much about it, just wanted to show you that, in case you don't have access to see the travis results

[2018-07-09 20:17] selul commented on #251
@contactashish13 i see the tests are failing with the latest PR -> http://prntscr.com/k4gn2i

[2018-07-10 03:32] contactashish13 commented on #251
@rodica-andronache I can see the travis results but they should not fail as they are passing on my instance. That's why I said I'm unable to fix them.

[2018-07-10 08:13] selul commented on #251
@contactashish13 have you tested with the master version of the lite version and your fork version of the pro?

[2018-07-11 04:37] contactashish13 commented on #251
@selul thanks.

@rodica-andronache please merge my changes in https://github.com/Codeinwp/visualizer/pull/272/ as my commit in https://github.com/Codeinwp/visualizer/pull/272/commits/56af70ff56fbf7ce1ff9fe2b296e23974804ce5e will resolve the failing test cases.

[2018-07-11 05:31] selul commented on #251
@contactashis13 wont this affect users with old lite and new pro ?

[2018-07-11 06:35] contactashish13 commented on #251
No, because the check for is_admin() to load the front end module only fails in the test cases. That check is anyways incorrect and the front end module should be loaded all the time or it will fail in ajax calls.

⁣

On Jul 11, 2018, 11:01, at 11:01, Marius Cristea <notifications@github.com> wrote:

[2018-07-11 17:02] contactashish13 opened #275 "Creating a Table chart throws a fatal error"
ref https://secure.helpscout.net/mailbox/dd8c59516d047fb2/1362294/

`
Fatal error: Method Table::__toString() must not throw an exception, caught ArgumentCountError: Too few arguments to function Visualizer_Render_Sidebar::_renderCheckboxItem(), 4 passed in /usr/home/deepvalueinternational.com/web/wp-content/plugins/visualizer-pro/inc/types/Table.php on line 115 and at least 5 expected in /usr/hom

[2018-07-11 17:09] contactashish13 commented on #275
closing in favor of https://github.com/Codeinwp/visualizer-pro/issues/117

[2018-07-11 17:09] #275 closed

[2018-07-12 10:38] #251 closed

[2018-07-20 05:33] contactashish13 opened #277 "Boolean column type causes a fatal error"
[code]

[2018-07-20 08:27] rodica-andronache commented on #277
@contactashish13 shouldn't this be changed in test-import.php and test-revisions.php too?

[2018-07-20 09:25] contactashish13 commented on #277
@rodica-andronache I'm not sure what you mean. This was a problem in how we treat booleans.

[2018-07-20 16:18] #277 closed

[2018-07-24 07:36] contactashish13 opened #282 "Support for Gutenberg"

[2018-07-24 16:42] contactashish13 opened #283 "Table chart: Unable to format using ICU pattern formatters"
ref: https://secure.helpscout.net/conversation/623333008/166051

[2018-07-24 17:58] contactashish13 commented on #283
@rodica-andronache PR: https://github.com/Codeinwp/visualizer/pull/284

@Vishakha-Patel FYI

[2018-07-26 08:32] rodica-andronache commented on #283
@contactashish13 I tried this with the default table chart, and for me, it's working for all columns except the first one. Could you please check ? https://prnt.sc/kb6ysc

[2018-07-27 13:29] rodica-andronache commented on #217
@contactashish13 sorry, I missed this :) I tested with the database-support branch.
And I tested now, once more, and for example I now chose the wp_options table > option_name column, and I added a condition option_name to be equal to "theme_mods_zerif-pro"
and I got a bunch of results:
https://prnt.sc/kbrc64 https://prnt.sc/kbrcdv
I think all the options, don't think the Where clause was taken in

[2018-07-29 06:20] contactashish13 commented on #283
@rodica-andronache fixed this.

[2018-07-29 12:06] contactashish13 commented on #217
@rodica-andronache queries for tables that did not have a corresponding child table had a problem which I've fixed. I've tested with tables that have and do not have a relationship with a child table. PR: https://github.com/Codeinwp/visualizer/pull/285

[2018-07-30 08:33] rodica-andronache commented on #217
@contactashish13 thanks, that's working fine now for me. Ionut also did a short test and here is his feedback https://docs.google.com/document/d/1CdNChHm48PTWIgP-9mBKSq9RF1HCwT7pLzHz4aPjZGQ/edit

[2018-07-30 09:15] rodica-andronache commented on #283
@contactashish13 it was working with the default chart, but after that, I tried editing the chart manually, and I removed the latest column.
After that, the settings with the dollar sign disappeared, and after I tried adding them back , all the chart broke https://prnt.sc/kcoyme and I have a console error Cannot read property type of undefined in render.js

[2018-07-30 12:02] cristian-ungureanu opened #286 "Shortcodes are not rendered in an Ajax callback"
I tried with Hestia's new blog settings.
If you choose to display the whole content instead of the excerpt for each post on the blog and you enable infinite scroll feature if a post on the second page has a shortcode of the visualizer, that shortcode will not be rendered, it will be displayed just as plain text.
I tested it with pirate forms shortcode and it works as expected so it's not a Hestia

[2018-08-02 05:58] contactashish13 commented on #283
@rodica-andronache I have fixed this but I'm not sure if your approach was the same as mine.

My steps to reproduce the error were: manual edit, remove the column, show chart, save the chart.

A video might be more helpful if this is not able to fix the problem.

PR: https://github.com/Codeinwp/visualizer/pull/287

[2018-08-02 06:49] contactashish13 opened #288 "TGMPA plugin shows misleading dependency"
![image](https://user-images.githubusercontent.com/12953439/43567025-18350e94-964e-11e8-9567-a52dee63419d.png)

@selul I think this is because of how we tend to "hijack" an existing TGMPA class to avoid a conflict. Do you think this behavior is correct?

CC @rodica-andronache

[2018-08-02 06:52] contactashish13 commented on #217
@rodica-andronache does something more need to be done here?

[2018-08-02 07:03] rodica-andronache commented on #283
@contactashish13 yes, that was my approach too, and with that case, the problem is solved now.
But the problem is still there for the case where you remove another column, not the last one.
For example, here I had three columns, https://prnt.sc/kdokkk, I removed the middle one, and after that, the dollar signs disappeared from the last column.

[2018-08-02 07:08] contactashish13 commented on #283
@rodica-andronache that would be an issue with any chart. Everything is tied to the column index so if a column disappears, this will happen. You need to edit the chart and add it to the correct series.

[2018-08-02 07:12] selul commented on #288
@contactashish13 without the hijack is this working fine ?

[2018-08-02 07:22] contactashish13 opened #289 "Chart shows "Table has no columns" with remote source"
ref https://secure.helpscout.net/conversation/625676865/166260

I surmise this happens when the remote source is not reachable or has a problem and the content is populated empty.

[2018-08-02 07:27] selul commented on #288
if this is caused by the hijack i think we can drop it and use it as tgmpa recommends. or at least have a fail-safe mechanism.

[2018-08-02 08:42] contactashish13 commented on #289
@rodica-andronache PR: https://github.com/Codeinwp/visualizer/pull/290

[2018-08-02 08:43] rodica-andronache commented on #217
@contactashish13 sorry, I forgot to mention :) For now, I couldn't find any more issues, but I honestly don't have many interesting scenarios that I can think of to test.
And we want to promote this feature after we add it in the plugin. For that, we would need some scenarios with charts examples, to showcase how useful this option is.
Could you please think of some ideas for this, and provide scr

[2018-08-02 08:51] rodica-andronache commented on #283
@contactashish13 you can't edit the last column anymore https://prnt.sc/kdq0mj

[2018-08-02 09:55] contactashish13 commented on #283
@rodica-andronache can you please share a video of what caused this?

[2018-08-02 09:56] rodica-andronache commented on #286
@contactashish13 you can take a look at this. The problems are mentioned here https://github.com/Codeinwp/hestia-pro/issues/1507
 https://prnt.sc/kbs3vb
And you can test with the development branch of hestia. In Hestia Pro, in customizer, we added a Blog settings panel, where you can find the options that Cristi mentioned

[2018-08-02 09:59] rodica-andronache commented on #283
@contactashish13 is the same scenario I was talking about before.
For example, here I had three columns, https://prnt.sc/kdokkk, I removed the middle one, and after that, the dollar signs disappeared from the last column.
When trying to edit the chart, the last column is not editable anymore.
Let me know if you still need the video

[2018-08-02 14:13] contactashish13 commented on #283
@rodica-andronache Yes, please share the video. I think even minor steps are important to replicate the issue.

[2018-08-02 14:46] contactashish13 commented on #286
@rodica-andronache are the problems mentioned here: https://github.com/Codeinwp/hestia-pro/issues/1507#issue-320601368?

@cristian-ungureanu can you please list down the exact steps to reproduce this issue?

[2018-08-03 06:06] contactashish13 commented on #283
@rodica-andronache I think the problem is with the way you delete the data and also try to delete the column type. When you delete the column type, you will see in the video it becomes a "string" and the columns shift to the left. Therefore the last column becomes a string type and there is obviously no formatting for strings.

BTW most people will delete the column like they do in a spreadsheet -

[2018-08-03 07:19] contactashish13 commented on #217
@rodica-andronache I can think of many scenarios as below but have no active site with data to back it up or to create charts from. Maybe the themeisle blog page etc. has the data?

If WooCommerce is activated (I don't know if WooCommerce already has charts for these purposes):
- Number of products ordered per day
- Products ordered the most on a daily basis

Pirate forms
- Notifications per day,

[2018-08-04 07:35] Vishakha-Patel opened #291 "date format not working"
Added Date format to a column - http://prntscr.com/kejrfp.

But it is not showing the format in the front end:
![image](https://user-images.githubusercontent.com/29881234/43673833-e0e1893c-97e6-11e8-9494-aaee38fa2180.png)

The format is taken from - http://userguide.icu-project.org/formatparse/datetime#TOC-Date-Time-Format-Syntax.

Forum: https://wordpress.org/support/topic/datetime-format/#post-1

[2018-08-04 08:04] contactashish13 commented on #291
@Vishakha-Patel in such cases please provide the input data as well - CSV or whatever source.

[2018-08-04 10:54] contactashish13 commented on #291
@Vishakha-Patel please test with https://github.com/Codeinwp/visualizer/pull/287

[2018-08-04 12:03] Vishakha-Patel commented on #291
@contactashish13

It does not seem to be working for me. The code looks like this at my end for render.js:

![image](https://user-images.githubusercontent.com/29881234/43676320-6f7ddebe-980c-11e8-96ee-4a5b8a031391.png)

[2018-08-04 13:42] contactashish13 commented on #291
@Vishakha-Patel I tested with that PR and it seems to work pretty well.

![image](https://user-images.githubusercontent.com/12953439/43677113-44c2ffc0-981a-11e8-925a-1e2b52d9dc89.png)

[2018-08-04 16:38] ineagu opened #292 "new schema format"
Well need this for wppr tables or visualizer table chart https://developers.google.com/search/docs/data-types/dataset cc @ash

[2018-08-07 15:12] rodica-andronache commented on #286
@contactashish13 what you need to do is, create a table chart with visualizer and add the shortcode in a post. After that, get the development branch of Hestia Pro, and test on the blog page with the different layout options you can find in customizer > Blog settings

[2018-08-09 12:22] contactashish13 opened #294 "Add ability to add user specific javascript customization"
ref: https://secure.helpscout.net/conversation/637356291/167256

[2018-08-09 12:46] contactashish13 commented on #294
PR: https://github.com/Codeinwp/visualizer/pull/295

PS - Typically, the best way would be to load this customization.js from somewhere else so that plugin updates do not wipe out these changes, maybe in the uploads folder. But can we do anything to prevent malicious code that is not within the plugin's folder/"control"?

@selul comments/suggestions?

CC @rodica-andronache

[2018-08-15 14:45] rodica-andronache commented on #283
you're right, everything is ok 👍

[2018-08-15 14:45] #283 closed

[2018-08-15 15:25] #289 closed

[2018-08-18 10:33] Vishakha-Patel commented on #291
@contactashish13

Yes, it worked after clearing cache and re-logging to the website.

[2018-08-22 15:18] contactashish13 opened #296 "Scheduled charts cannot be viewed on the front end once they get updated at their scheduled time"
ref: https://secure.helpscout.net/conversation/645720471/167937/

[2018-08-24 07:53] contactashish13 commented on #286
@rodica-andronache @cristian-ungureanu the instructions are not very clear as I have no background context of this. Here is what I understood and did and cuold not reproduce the problem:

- Create 2 charts, one pie and one table
- Add them to a post
- Activate dev branch of hestia pro
- Go to the post
- Customize the page using the customizer
- Change layout in blog settings to any of the 3 option

[2018-09-10 08:34] contactashish13 opened #298 "Scheduled charts: add filter to enable users to change schedule of charts"
ref: https://secure.helpscout.net/conversation/654831750/168697

[2018-09-10 09:32] contactashish13 commented on #298
PRs: https://github.com/Codeinwp/visualizer-pro/pull/124 and https://github.com/Codeinwp/visualizer/pull/299

[2018-09-15 12:51] #291 closed

[2018-09-21 06:14] contactashish13 opened #300 "Line chart with timeofday column does not show properly when edited."
ref: https://secure.helpscout.net/conversation/665815720/169681

Steps to follow:

1. Click new chart and select line
2. Import attached CSV
[2018-09-16 (1).zip](https://github.com/Codeinwp/visualizer/files/2404134/2018-09-16.1.zip)

3. The chart should look like this
![image](https://user-images.githubusercontent.com/12953439/45863208-bf783080-bd92-11e8-8a81-b6fec7fa9600.png)

4. Save the chart
5

[2018-09-21 15:50] contactashish13 commented on #300
https://github.com/Codeinwp/visualizer/pull/301

[2018-10-04 09:10] contactashish13 commented on #213
Use `add_action( 'admin_enqueue_scripts', function() {do_action('visualizer_enqueue_scripts');});` to include the scripts and then use `do_shortcode` to display the chart.

PR: https://github.com/Codeinwp/visualizer/pull/302

[2018-10-08 09:29] SilviuDinu opened #303 "Adding logo / images into charts."
A client on HS was asking if his/her company logo can be inserted into charts.

Ticket link -> https://secure.helpscout.net/conversation/679760604/170885?folderId=212385.
Example -> http://prntscr.com/l3hmy3.

I'm thinking it would be a nice-to-have feature.

[2018-10-11 05:58] #213 closed

[2018-10-11 05:58] #294 closed

[2018-10-11 05:58] #296 closed

[2018-10-11 05:58] #298 closed

[2018-10-11 05:58] #300 closed

[2018-10-11 16:33] contactashish13 opened #306 "Move Table chart type from Pro to Free"

[2018-10-11 16:34] contactashish13 opened #307 "Integrate https://www.datatables.net as new table type"
see tablepress, wpdatatable, https://barn2.co.uk/wordpress-plugins/woocommerce-product-table/

[2018-10-11 16:36] contactashish13 opened #308 "import from json (use rest routes as import sources)"

[2018-10-16 09:27] contactashish13 opened #309 "Visualizer DB charts: Suggestions for charts that can be created using EDD, WP and other plugins"
Suggestions here would help in creating use cases, test scenarios and marketing material to push this new feature (https://github.com/Codeinwp/visualizer/issues/217). The intent is to be able to extract data from the WP database and show them as (almost) real-time charts.

Similar to https://github.com/Codeinwp/visualizer/issues/217#issuecomment-410167664

A few more:
- net revenue from EDD per da

[2018-10-17 09:54] SilviuDinu opened #310 "The link to the premium packages leads to 404 Not found page."
When attempting to create a premium type of chart (table), clicking on it should open the Pricing page for the packages, instead it opens a Not found page.

The behaviour can be seen here -> https://share.vidyard.com/watch/aCB3nu6cqzjJ7uw2z1Pkbq

[2018-10-19 07:41] contactashish13 commented on #307
I'm thinking of using https://github.com/filamentgroup/tablesaw or https://github.com/fooplugins/FooTable and no longer use table charts as the options there are very limited.

Combining this issue with #306, we can start using one of the above frameworks for a new table chart type and deprecate google table charts in pro (eventually getting rid of them).

@selul let me know what you think.

[2018-10-19 08:09] selul commented on #307
yes, seems interesting, maybe @HardeepAsrani knows some frameworks too.
Also, might not be that urgent to change this, we can do this in phases, like first move to free the table chart and then change maybe the engine.

[2018-10-19 08:17] contactashish13 commented on #307
@selul yeah but my worry is that people would have created a table and then we will say oh its deprecated. They might not like that especially because it might not be easy to migrate from one engine to another. That is why I would prefer to introduce the free users to the new engine. What do you think?

[2018-10-19 08:39] contactashish13 commented on #310
@selul the URL it opens now is http://themeisle.com/plugins/visualizer-charts-and-graphs-pro-addon/. Maybe a 301 redirect can be added to go to the right page?

[2018-10-19 09:10] ineagu commented on #310
added 301

[2018-10-19 09:43] ineagu commented on #307
makes sense for me, we can see what engine tablepress is using as well

[2018-10-19 09:44] ineagu commented on #307
seems like they are using this: https://www.datatables.net

[2018-10-19 09:58] selul commented on #307
@contactashish13 yep, you're right.

[2018-10-22 12:40] HardeepAsrani opened #311 "Issue with Dates"
- This issue happens when you open the sample data of Table chart.
- This issue also happens when I use the data of our charts with REST in a React component.

The date column of the chart doesn't work, and I believe it's an issue with date formatting.

More details: https://groups.google.com/forum/#!topic/google-visualization-api/-I4JoNBkh-E

It needs to be fixed for me to work on the Gutenberg b

[2018-10-22 12:49] HardeepAsrani commented on #311
It happens with all charts with Date column. Even if it doesn't happen on PHP side, it's happening on React side. (maybe somewhere we're formatting the data in PHP before rendering for some charts?)

[2018-10-22 13:14] HardeepAsrani commented on #311
Here's how I was able to reproduce it: https://drive.google.com/file/d/1EPriDs4PwYegAVs9JEWhhCCO501yy8Oz/view?usp=sharing

Also shows the error it produces on React site.

[2018-10-22 19:54] HardeepAsrani opened #312 "Some options don't work"
Some options on some charts don't work. In the timeline chart, the title position, title color, axis title, font styles, legends...don't work.

Can they be made to work ( if Google supports ) or removed? @contactashish13

PS: Can all the options be tested to see which one in the current one doesn't work and a list be posted here? I'm doing it on my side my a second eye will be helpful.

[2018-10-23 03:32] contactashish13 commented on #311
@HardeepAsrani as mentioned on slack I cannot reproduce this. @mileamadalin can you please include this while testing #312?

[2018-10-23 10:05] contactashish13 commented on #303
@SilviuDinu this can be done using JS as below.

[code]

Since this is not a core plugin feature, I guess we can put this on the back burner.

[2018-10-23 10:09] ineagu commented on #303
good doc idea as well.

[2018-10-23 15:44] ineagu commented on #307
Idea for plugin
name : Visualizer - Tables and Charts Manager for WordPress

[2018-10-23 20:02] HardeepAsrani opened #313 "Axis Text Position is reversed"
In charts that have Horizontal/Vertical Axis Settings, the Text Position in **Horizontal/Vertical Axis Settings > General Settings > Text Position** are reversed. If you change Horizontal Axis, it changes Vertical, and vice-versa.

@contactashish13

[2018-10-23 20:16] HardeepAsrani commented on #313
Same goes for Colors in that same section.

[2018-10-23 21:19] HardeepAsrani commented on #313
Also:

Horizontal/Vertical Axis Settings > Grid Lines > Count are reversed.

[2018-10-24 05:15] #310 closed

[2018-10-24 08:42] SilviuDinu commented on #303
link to the guide -> https://docs.themeisle.com/article/953-adding-logo-image-into-charts
Thanks @contactashish13 @ineagu

[2018-10-24 08:42] #303 closed

[2018-10-24 18:00] ineagu opened #315 "loading improvements"
@contactashish13 @selul it seems to me that google charts loader is a bit in a hurry to load and it bringing a lot of js/css/requests over, can we have an option to delay/defer/lazy-load charts?

e.g : https://www.codeinwp.com/blog/best-wordpress-hosting/

[2018-10-24 20:12] HardeepAsrani opened #316 "Sidebar messed up in Gauge chart"
The sidebar looks messed up in this chart only. Once you click on General Settings, other options show up.

<img width="1678" alt="screen shot 2018-10-25 at 1 41 11 am" src="https://user-images.githubusercontent.com/2649903/47458418-1be9c800-d7f7-11e8-811c-793922cfc761.png">

[2018-10-24 22:23] HardeepAsrani opened #317 "Timeline options not correctly mapped"
All four Timeline options need to be inside a `timeline: {}` object.

[code]
Also needs to be mapped correctly for Gutenberg block.

@contactashish13 @selul

[2018-10-24 23:01] HardeepAsrani opened #318 "Table Chart Issues"
Will post any issues I find with Table Chart here:

- We're using Pagination enable/disable option where we set boolean value in `pagination` property. This property isn't supported by the Table chart, according to Google Chart.

It supports `page` property that supports `enable`/`disable` values: https://developers.google.com/chart/interactive/docs/gallery/table

Can this be updated? If it's an i

[2018-10-26 20:53] ineagu commented on #315
I am talking about those, seems like defer + async should help : https://www.dropbox.com/s/ohkpdhftx0tkhsd/Screenshot%202018-10-26%2021.52.18.png?dl=0

[2018-10-29 09:51] selul commented on #309
@contactashish13 we can go with those and the ones from #217 except pirate forms and wppr

[2018-10-31 06:57] contactashish13 commented on #315
note to self: this can be done using `script_loader_tag`: https://matthewhorne.me/defer-async-wordpress-scripts/

[2018-10-31 21:36] HardeepAsrani opened #319 "Pie Chart Offset doesn't work"
Pie Chart has Offset and Color options in Slice Options, where Offset takes its value from the color field because the code: https://github.com/Codeinwp/visualizer/blob/413ccc353e22146d298c2b19aa0cb36ca112718e/classes/Visualizer/Render/Sidebar/Type/Pie.php#L189

It's a one line change, and I can include it in with Gutenberg, or maybe an earlier if @contactashish13 is planning on a release before t

[2018-11-01 16:14] mileamadalin commented on #312
@contactashish13 @HardeepAsrani

I have tested all the charts:

1. Pie -- Works as expected

https://drive.google.com/file/d/1oeFiX_AWxoa-YKe7UV9Phi_Zw86W3tv6/view

2. Line -- Works

https://drive.google.com/file/d/1zwnmMtW4tTq6nCWbcfF688muJaVorjf3/view

3. Area -- Works

https://drive.google.com/file/d/1ZE6MssmbYpe7jsjR9TaJdBxCmHmsGAF8/view

4. Geo -- Missing some features

https://drive.google.c

[2018-11-01 16:55] contactashish13 commented on #312
@mileamadalin apparently @HardeepAsrani is testing on Firefox. Can you check if that is the problem?

[2018-11-10 06:54] contactashish13 commented on #309
NOTE: All queries to be collected here.

## EDD

- total revenue per payment gateway

SELECT pm1.meta_value, COUNT(pm2.meta_value) FROM `wp_postmeta` pm1, `wp_postmeta` pm2  WHERE pm1.meta_key='_edd_payment_gateway' AND pm1.post_id=pm2.post_id AND pm2.meta_key='_edd_payment_total' AND pm1.meta_value<>'' GROUP BY pm1.meta_value

[2018-11-10 10:31] HardeepAsrani commented on #307
There’s also https://www.ag-grid.com/

Uriahs posted about it on Slack. We can also take a look here.

[2018-11-10 10:32] HardeepAsrani commented on #307
It’s surely powerful: https://www.ag-grid.com/example.php

[2018-11-12 05:54] contactashish13 opened #321 "Provide the correct link depending on the chart-type in manual configuration"

[2018-11-12 07:31] contactashish13 commented on #321
PR: https://github.com/Codeinwp/visualizer/pull/322

[2018-11-13 14:51] mileamadalin commented on #312
@contactashish13 I have tested with FireFox and I faced the same issues.

Geo -- Gauge -- Table -- Timeline -> Doesn't work

The rest of the charts works.

[2018-11-13 16:26] mileamadalin commented on #311
@contactashish13 I confirm this bug. This issue occurs only on FireFox and Safari.

Worked fine on Google Chrome.

Tested with the Latest version of WP WP5

Google Chrome: -> working as expected

![google chrome](https://user-images.githubusercontent.com/6906834/48427138-c7d86080-e770-11e8-8e46-ee04a68c28ff.png)

FireFix -> bug

![screenshot 2018-11-13 at 6 13 57 pm](https://user-images.githubuser

[2018-11-16 12:57] contactashish13 commented on #217
@cosmin-serbanescu @abaicus could you please help?

[2018-11-20 06:10] contactashish13 commented on #307
PRs: https://github.com/Codeinwp/visualizer-pro/pull/133 and https://github.com/Codeinwp/visualizer/pull/324

- This integrates with datatables. I chose that because we are already using it while showing results below the SQL Editor (#217) and it seems to be quite popular and lightweight.
- For want of a better name, I'm calling the new chart **Table (New)** and the old one **Table (Old)** or **Ta

[2018-11-21 08:15] mileamadalin commented on #311
@contactashish13 a customer reported us a similar issue. I have tested with Chrome and I was able to replicate the issue. This time the bug occurs on "Combo" chart.

I have tried another chart and works. Please see the videos below:

The video sent from the customer part:  https://share.vidyard.com/watch/EBevQ5SS1S6zrBwPit1vNt
Tested by me on the customer website: https://drive.google.com/file/d/1

[2018-11-22 03:38] contactashish13 commented on #311
@mileamadalin I've tried exactly what you did on Chrome and Firefox and was not able to reproduce the error with Combo chart. Are you trying with the latest version? Can you try on a public instance that we can both have access to?

[2018-11-22 17:20] HardeepAsrani commented on #311
Madalin commented with:

[code]

Removed his comment as it mentioned user's pirate token which shouldn't be shared in a public repo. @mileamadalin you can send that personally on Slack, or just add a note on the ticket. 😄

[2018-11-23 16:46] contactashish13 commented on #307
@selul

- in http://prntscr.com/lm304d the scrollbars are there because the table is not responsive by default and you have 6 columns. If you choose that option, the scrollbars will disappear.
- Media popup is not displaying the table. - can you explain this?

[2018-11-23 16:49] selul commented on #307
1) Yes, I know about this, I was saying to add the overflow hidden to that grid cell in the listing page, for me is looking bad after I add that table chart. I know that on frontend is looking fine, i was saying about the admin listing. v
2) Add a post, go to the content editor, add media, chart is not present there.

[2018-11-26 12:52] contactashish13 commented on #307
@selul have addressed these issues.

[2018-11-28 12:49] mileamadalin opened #326 "Decimals digits cut on Candlestick"
@contactashish13 On Candlestick chart, we don't have these features http://prntscr.com/lj0igd

https://www.dropbox.com/s/fla4hc710zkmk4z/Screenshot%202018-11-28%2014.48.31.png?dl=0

I saw on wp.org that one of our customers asked for this. Do you think we should be included here as well?

[2018-11-28 13:10] mileamadalin opened #327 "Doughnut chart"
@contactashish13 We some suggestions to add doughnut chart on our plugin.

![donut_chart](https://user-images.githubusercontent.com/6906834/49153849-9a1e1a80-f31f-11e8-8318-e7f0abff2641.png)

I like it and use it some time myself on docs, what do you think? Can be integrated in the future in Visualizer?

[2018-11-28 13:14] contactashish13 commented on #327
@mileamadalin donut is already part of visualizer. It is a pie chart with the value of `pieHole` > 0. https://developers.google.com/chart/interactive/docs/gallery/piechart#making-a-donut-chart

If you feel you need more options on the basis of the options Google supports, can you suggest them? Maybe we can add them as part of pro.

[2018-11-28 13:14] contactashish13 commented on #311
@mileamadalin the issue reported by Hardeep is different from the HS user even though both are similar . Please don't mix the two. You can create a new issue.

As far as the original issue is concerned. the problem is because our sample files contain invalid dates in the format `YYYY/MM` whereas they should be `YYYY/MM/DD`. Have fixed this now as part of PRs https://github.com/Codeinwp/visualizer/

[2018-11-29 08:19] contactashish13 commented on #326
@mileamadalin can you please add the wp.org link as well so that I can understand what exactly is required?

Both X and Y axes have formatting options available so I'm not sure what the user wants.

[2018-11-29 13:39] contactashish13 opened #328 "Optimize front-end display of charts by storing chart image"
https://developers.google.com/chart/interactive/docs/printing

This might not be feasible as the images are static and prevent any interaction with the charts.

[2018-12-03 08:18] contactashish13 opened #331 "add new Table chart to Gutenberg"

[2018-12-03 08:18] #217 closed

[2018-12-03 08:18] #306 closed

[2018-12-03 08:18] #307 closed

[2018-12-03 08:18] #321 closed

[2018-12-03 08:19] contactashish13 commented on #311
@mileamadalin please test this with the new version.

[2018-12-03 09:17] contactashish13 commented on #316
closing this as this has been mentioned in https://github.com/Codeinwp/visualizer/issues/312

[2018-12-03 09:17] #316 closed

[2018-12-03 09:52] contactashish13 commented on #319
closing this and will solve as part of https://github.com/Codeinwp/visualizer/issues/312

[2018-12-03 09:52] #319 closed

[2018-12-03 10:12] ineagu opened #333 "update screenshots"
@contactashish13 @sab2ina would be good to update those + add more screenshots, all the same size, even some with gutenberg : https://www.dropbox.com/s/ji01cnngofaxxop/Screenshot%202018-12-03%2010.11.48.png?dl=0

[2018-12-03 10:33] contactashish13 commented on #318
closing this as this chart type is now deprecated

[2018-12-03 10:33] #318 closed

[2018-12-03 10:42] contactashish13 commented on #317
@HardeepAsrani you are correct but unfortunately that way does not work because for some reason it strictly expects true/false values which we are unable to send from PHP. That is why these lines https://github.com/Codeinwp/visualizer/blob/master/js/render-google.js#L97. You will have to find a way around it for Gutenberg unfortunately.

[2018-12-03 10:45] contactashish13 commented on #309
closing this as https://docs.themeisle.com/article/970-visualizer-sample-queries-to-generate-charts now contains all the queries

[2018-12-03 10:50] ineagu commented on #309
as a user I would love to see how those looks like with some sample data, a
small video, image, like just 1 image of a page with all those reports

On Mon, Dec 3, 2018 at 10:45 AM contactashish13 <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-12-03 10:55] contactashish13 commented on #313
@HardeepAsrani for https://github.com/Codeinwp/visualizer/issues/313#issuecomment-432402820, please check https://github.com/Codeinwp/visualizer/blob/master/js/render-google.js#L160

for https://github.com/Codeinwp/visualizer/issues/313#issuecomment-432423936, I don't see this problem. Can you share a video?

PS - this will be fixed as part of #312

[2018-12-03 10:56] contactashish13 commented on #312
@mileamadalin

Geo, Gauge, Table: This is not a missing feature - it mentions quite clearly `Text to display in the back-end admin area.`. This title is shown only in the library. This is different for other charts where it mentions `Text to display above the chart`.

Have fixed the Gauge visual bug and problem with the Timeline options. Fixing the below as well as part of the same PRs:
- https://

[2018-12-03 11:21] contactashish13 commented on #309
@sab2ina can you help?

[2018-12-04 05:09] HardeepAsrani opened #335 "Warning: A non-numeric value encountered"
This comes when you view the plugin in Gutenberg:

`Warning: A non-numeric value encountered in /var/www/html/wp-content/plugins/visualizer/classes/Visualizer/Module/Admin.php on line 219`

Something related to: https://github.com/Codeinwp/visualizer/blob/33ee9a286b3623285160e341c8e14210d13e7cbe/classes/Visualizer/Module/Admin.php#L219

@contactashish13

[2018-12-04 05:18] HardeepAsrani commented on #313
I’ve made a video but it won't explain much either.

Basically, Horizontal Grid Lines is a part of vAxis settings, while Vertical Grid Lines are a part of hAxis settings.

The lines are Horizontal but axis is Vertical, so it should be a part of Vertical Axis Settings.

[2018-12-04 05:21] #317 closed, assigned to HardeepAsrani

[2018-12-04 08:28] contactashish13 opened #336 "filter out new Table chart from Gutenberg till full support is added"
this is required till https://github.com/Codeinwp/visualizer/issues/331 is pending

[2018-12-04 13:55] Vishakha-Patel commented on #335
+1
https://secure.helpscout.net/conversation/722953475/174985?folderId=212385

[2018-12-05 04:40] contactashish13 commented on #312
@mileamadalin please verify these problem are no longer present with the new version and close this issue

[2018-12-05 04:40] #313 closed

[2018-12-05 04:42] contactashish13 opened #339 "Table chart: chart with all options prevents user from clicking action buttons in library"
- create a table chart with many rows
- enable all options in the settings
- go to the library and try to edit the chart. The button cannot be clicked

[2018-12-05 04:51] contactashish13 commented on #335
@Vishakha-Patel can you test with the new release 3.1.1?

[2018-12-05 04:52] #282 closed

[2018-12-05 07:17] Vishakha-Patel opened #341 "Adding New table chart is not working"
User: "Hello. When i add new the table it now just spin's and will not open. This is happening only for that new chart. After i updated the plugin."

Ticket: https://secure.helpscout.net/conversation/721721019/174851/

@contactashish13

[2018-12-05 07:36] contactashish13 commented on #341
@Vishakha-Patel have you checked with 3.1.1 as mentioned on Slack?

[2018-12-05 09:57] contactashish13 commented on #335
@Vishakha-Patel does not happen with 3.1.1. If it does for you, please share a video.

[2018-12-05 16:12] Vishakha-Patel commented on #341
@contactashish13 is working now after 3.1.1.

Thanks.

[2018-12-05 16:12] #341 closed

[2018-12-06 09:55] contactashish13 commented on #335
I was able to reproduce this.

[2018-12-06 12:21] HardeepAsrani opened #347 "Table chart preview in small screens"
As you can see, in small screens this might occur.

<img width="1680" alt="screen shot 2018-12-06 at 5 49 37 pm" src="https://user-images.githubusercontent.com/2649903/49583836-59f21400-f97f-11e8-9d06-774abc6aa89c.png">

[2018-12-06 13:01] HardeepAsrani commented on #347
<img width="1109" alt="screen shot 2018-12-06 at 6 30 59 pm" src="https://user-images.githubusercontent.com/2649903/49585707-231efc80-f985-11e8-8196-3ceece3e68e8.png">

[2018-12-06 13:04] contactashish13 commented on #347
For the front end you need to use the option for responsive table. You may want to look at all the options as well.

On Dec 6, 2018, 18:31, at 18:31, Hardeep Asrani <notifications@github.com> wrote:

[2018-12-06 13:05] HardeepAsrani commented on #347
It still shouldn't overflow the container, even if it's not responsive. Hiding the overflow seems a better idea. What do you think?

[2018-12-06 13:32] HardeepAsrani commented on #347
Also, I'm not able to click on this part, including Edit controls, as the chart is overflowing there, I guess.

<img width="1105" alt="screen shot 2018-12-06 at 7 01 15 pm" src="https://user-images.githubusercontent.com/2649903/49587259-64191000-f989-11e8-986d-d647cb87e384.png">

[2018-12-06 14:09] contactashish13 opened #348 "Date type column does not work with Combo charts"
ref: https://secure.helpscout.net/conversation/707856590/173514/

not related to #311

[2018-12-06 14:12] #339 closed

[2018-12-06 14:15] contactashish13 commented on #347
@HardeepAsrani it becomes hard to respond to multiple issues in one issue. In the future can you please edit your original post so that all issues are part of one post?

https://github.com/Codeinwp/visualizer/issues/347#issuecomment-444871557 - this is fixed in https://github.com/Codeinwp/visualizer/issues/339 and released in 3.1.2

https://github.com/Codeinwp/visualizer/issues/347#issuecomment-44

[2018-12-06 15:28] Vishakha-Patel opened #350 "Multiple instances of chart not showing"
When we insert same shortcode multiple times in a single post, it shows the chart only once.

Ticket: https://wordpress.org/support/topic/multiple-instances-of-chart-not-showing/

cc: @contactashish13

[2018-12-07 04:03] contactashish13 commented on #350
PR: https://github.com/Codeinwp/visualizer/pull/351

[2018-12-07 04:04] #335 closed

[2018-12-10 10:38] sab2ina commented on #333
@dascalescuro can you help?

[2018-12-10 13:06] dascalescuro commented on #333
sure, I just want to know if we are doing this across the product: product page, demo page, wp.org page, docs.

if yes, I can prepare the screenshots and implement them where needed, except for the docs where I would need help.

[2018-12-10 14:31] sab2ina commented on #333
We can start with the ones of WP.org and then update the others as well.

[2018-12-13 07:04] contactashish13 opened #352 "Add links to documentation"
* link to https://docs.themeisle.com/article/728-manual-configuration

@Vishakha-Patel @HardeepAsrani can you mention any other documents that we can link to from within the plugin such as the above?

[2018-12-13 07:07] contactashish13 commented on #352
PR: https://github.com/Codeinwp/visualizer/pull/353

[2018-12-13 17:05] sab2ina commented on #309
@contactashish13 having a visual resource for DB charts would certainly help explain this feature better. How do you suggest we can create it so we can include it in the plugin page and docs? I am not sure how to tackle this, do you think you can give us a hand?

cc @dascalescuro

[2018-12-13 17:42] dascalescuro commented on #309
No the best way to present this, but we tried to add this to a video: https://youtu.be/sbm8Q0bJGRM?t=73

are we talking about a video for the doc or something else?

[2018-12-14 06:02] contactashish13 commented on #309
@sab2ina the only way to create charts for real life scenarios is to use the plugin on known databases - maybe themeisle?

[2018-12-14 13:30] sab2ina commented on #309
@contactashish13 I think we can talk to @selul to give you access?

@dascalescuro cool, the timed video should be okay for the doc https://docs.themeisle.com/article/970-visualizer-sample-queries-to-generate-charts

[2018-12-15 05:02] Vishakha-Patel commented on #352
Maybe these three:
https://docs.themeisle.com/article/773-how-to-change-colour-of-graphs-in-visualizer
https://docs.themeisle.com/article/774-how-to-change-width-and-height-of-a-chart-in-visualizer
https://docs.themeisle.com/article/607-how-can-i-populate-data-from-google-spreadsheet

[2018-12-17 07:43] selul commented on #309
@contactashish13 @sab2ina I can not do that.

- For woocommerce, we can import the default [ sample data ](https://docs.woocommerce.com/document/importing-woocommerce-sample-data/) and do some payments.
- For edd this [sample xml](https://github.com/easydigitaldownloads/easy-digital-downloads/blob/master/assets/sample-products-import.xml ) and do some sample payments.
- For core the [unit test dat

[2018-12-19 14:04] mileamadalin opened #354 "Fatal error with interaction with SSH SFTP"
A user reported us that he had a PHP fatal error when he used our plugin Visualizer with SSH SFTP Updater plugin: https://wordpress.org/plugins/ssh-sftp-updater-support/

This bug was reported on their side as well, and they said that: visualizer calls the WP_Filesystem API wrongly, ignoring when error codes are returned, and instead of carrying on with operations that can’t work (and cause a cras

[2018-12-21 12:40] dascalescuro commented on #333
Let me know if these screenshots work for wp.org: https://drive.google.com/drive/folders/16qDQigWe3JJTT69tVsMTXBMSyh8NOshB?usp=sharing

[2018-12-25 05:39] Vishakha-Patel opened #356 "Scheduled import not working"
Visualizer charts are not auto updating from Google spreadsheet changes.

Charts do update if I re-enter Google spdsht URL into One-time Import field But scheduled import not working.

Ticket: https://secure.helpscout.net/conversation/739604519/176559?folderId=948378
https://secure.helpscout.net/conversation/739217466/176504?folderId=212385

cc: @contactashish13

[2018-12-25 06:11] contactashish13 commented on #356
@Vishakha-Patel have you been able to reproduce this on your dev instance?

[2018-12-25 06:57] Vishakha-Patel commented on #356
@contactashish13 Yes. I tried to fetch a sheet and run cron multiple times to see if it updates the chart. But it does not.

To double check, the same happened with Poonam's instance.

[2018-12-25 08:30] contactashish13 commented on #356
@Vishakha-Patel the customer clearly states

he is not using scheduled charts. How can this be a bug? :)

In the other ticket, I can't even login. Have you tried to log in and verify the customer's assertion?

cc @mileamadalin

I have tried it on my local instance and it works perfectly. Please share a test instance (not the customer's) where you feel this is not happening. First we need to make s

[2019-01-04 08:56] dascalescuro commented on #352
on the topic of links, @contactashish13 , I think this one is not working properly:
![image](https://user-images.githubusercontent.com/12775984/50680130-34ecd180-100f-11e9-81eb-a08cdbc1aeab.png)

maybe we can send to the respective documentation: https://docs.themeisle.com/article/607-how-can-i-populate-data-from-google-spreadsheet

[2019-01-04 10:33] #356 closed

[2019-01-11 08:54] Vishakha-Patel opened #357 "Table chart not showing on IE"
Table chart not getting displayed on IE - http://prntscr.com/m5qbts.

There is a table like this actually - http://prntscr.com/m5qc5c

Ticket: https://secure.helpscout.net/conversation/751253745/177567?folderId=948378

@contactashish13

[2019-01-15 05:11] purplecodes opened #359 "Markers not visible when set to display mode in Geo map."
When setting the display mode the Geo Map to 'Markers' it would only display a blank map.
See here -->> https://prnt.sc/m7b1li
It works fine when set to auto or regional mode -->> https://prnt.sc/m7b232

Ticket: https://wordpress.org/support/topic/map-markers-not-showing-anymore/#post-11059333

[2019-01-17 08:42] contactashish13 commented on #359
@purplecodes please check the chrome console for any errors. If there is an error, please try to use another API key.

I have mentioned this before to the support team. CC @mileamadalin

[2019-01-17 08:53] contactashish13 commented on #354
@mileamadalin I am unable to reproduce this by using that plugin. I'm not getting any errors in my log file either. Please try to reproduce this bug at your end and share the steps.

[2019-01-17 09:08] contactashish13 opened #360 "changes for PHPCS (variable/property not in snake case)"

[2019-01-17 09:46] contactashish13 commented on #286
@cristian-ungureanu @rodica-andronache can we close this if this is no longer an issue?

[2019-01-17 10:33] contactashish13 opened #362 "Undefined index: id in \visualizer\classes\Visualizer\Gutenberg\Block.php on line 124"
@HardeepAsrani this error is seen in the logs by following these steps:

1. Have existing charts in a post
2. Use gutenberg to add a new visualizer block
3. click on display an existing chart
4. check logs

when the error is seen, the value of `$attr` is
[code]

[2019-01-17 10:45] contactashish13 commented on #333
@sab2ina are these screenshots for packaging into the plugin?

@dascalescuro I don't seem to have access to them.

[2019-01-17 10:46] contactashish13 commented on #309
@sab2ina I think we need outside help to generate this data for us.

[2019-01-17 11:42] sab2ina commented on #333
@contactashish13 yes, they should go in the _Screenshots_, under Description here https://wordpress.org/plugins/visualizer/

I shared the folder with you, let me know if you have access. We can add even more if some features are missing 👍

[2019-01-17 11:54] sab2ina commented on #309
@contactashish13 okay, I can give you our Fiverr account details on Slack, so you can set up a gig

[2019-01-17 13:51] contactashish13 commented on #333
Can we add the following as well?

1. An image for the new table chart that can be used in the types selection popup (right now I'm using the same image as that for the Google table chart)

2. A screenshot of the new table chart

3. Screenshots for the pro features

On Jan 17, 2019, 17:12, at 17:12, Sabina Ionescu <notifications@github.com> wrote:

[2019-01-17 14:08] sab2ina commented on #333
@contactashish13 please feel free to add those as well, Claudiu is off for a parental holiday atm

[2019-01-18 05:50] contactashish13 commented on #333
@sab2ina

I cannot update/create the sprite for this. We can wait till he gets back.

As for the other screenshots, are they just screenshots (Ctrl+PrtSc) or are they enhanced in some way?

Currently, I do not see any images for the pro features. Is it recommended to add those or should we restrict these to free features only?

[2019-01-18 10:57] contactashish13 opened #363 "Front end action 'print' should print the chart (and fall back to printing the data)"

[2019-01-18 15:48] #286 closed

[2019-01-19 06:57] contactashish13 commented on #363
PR https://github.com/Codeinwp/visualizer/pull/364

[2019-01-20 12:57] HardeepAsrani commented on #362
Worked just fine for me, wasn't able to reproduce this on the latest development branch. Can you send a video or something so I can make sure I'm doing it right? @contactashish13

[2019-01-21 04:37] HardeepAsrani commented on #347
It's fine then, we can leave it this way. Why would anyone want a non-responsive chart, by the way? Does it show scrollbars when the table is too big for small screens or just hides the overflow?

[2019-01-21 08:33] contactashish13 commented on #362
PR https://github.com/Codeinwp/visualizer/pull/366

[2019-01-23 10:40] poonam279 opened #368 "PHPOffice library deprecated"
@contactashish13 A user reported this issue on wp.org.
https://wordpress.org/support/topic/phpexcel-deprecated/

The PHPOffice library that you are using, PHPExcel, was deprecated in 2015 and as of 2019 is permanently archived. The authors state that anyone using the library should upgrade to it’s direct successor. Just a heads up.

Deprecated: https://github.com/PHPOffice/PHPExcel
Successor: http

[2019-01-25 06:56] purplecodes commented on #359
@contactashish13
Thanks, I have used @mileamadalin API key and it worked like how it should be.
https://prnt.sc/mbwbv0

[2019-01-25 07:10] contactashish13 commented on #359
@purplecodes I'm confused :) Is this still an issue or is this okay now?

[2019-01-25 08:04] purplecodes commented on #359
All good now, thanks.
@contactashish13

[2019-01-25 08:04] #359 closed

[2019-01-25 08:36] contactashish13 opened #370 "Google charts do not display with jquery 3.3.x"
![image](https://user-images.githubusercontent.com/12953439/51734386-63a81600-20aa-11e9-9684-897cd21818dc.png)

[2019-01-26 09:16] Vishakha-Patel opened #372 "demo feedback: Chart type examples, header image and shortcode text"
Hey @contactashish13,

Came across some Visualizer demo enhancement ideas that can help us showcase better.

1. It is interesting, how different varieties (features) of single chart type is showcased here - http://extensions.megamain.com/interactive-maps-charts-graphs/column-chart/. We can also showcase the same.

2. Shortcode Information: On chart pages like https://demo.themeisle.com/visualizer/

[2019-01-26 17:55] selul commented on #372
@Vishakha-Patel would you like to beautify a bit the demos for viz, by implementing your ideas? I can setup you the access and @contactashish13 can help you with any guidance that you need.

Is not something urgent, but if you have some time to do them, I'm sure you will do a great job.

[2019-01-28 06:29] contactashish13 opened #373 "Add support for ChartJS"
https://wordpress.org/plugins/wp-charts/ uses https://www.chartjs.org/ but the support on https://wordpress.org/support/plugin/wp-charts/ is poor

[2019-01-28 07:10] contactashish13 opened #374 "add support for query language to get subset of data"
https://developers.google.com/chart/interactive/docs/querylanguage

- useful when users want to use a subset of a sheet to display charts. right now they have to reduce the sheet into the exact columns as expected by the plugin
- csv can be extracted by adding `gviz/tq?tq=select%20A%2C%20B%20&tqx=out:csv` to the spreadsheet URL

[2019-01-28 16:11] ineagu commented on #373
the plugin was just sold, so might pick steam. A reason to add support is that those seem to be much cleaner/faster, no jquery vs google charts.

[2019-01-30 12:19] mileamadalin commented on #327
@contactashish13 Thank you for clarifications. I have checked and is working pretty good; the only problem is that if the pie is too thin, the percentage cannot be seen. Please see the image attached:

https://www.dropbox.com/s/y28mdcigf6cupiy/Screenshot%202019-01-30%2014.13.26.png?dl=0

And here is a short video: https://www.dropbox.com/s/k2q2jufrjsnw998/Screen%20Recording%202019-01-30%20at%202.1

[2019-01-30 12:33] mileamadalin commented on #311
@contactashish13 Tested and now worked as expected. We can close it.

[2019-01-30 13:32] mileamadalin commented on #326
@contactashish13 here is the link from the wp.org ticket: https://wordpress.org/support/topic/decimals-digits-cut/

[2019-01-31 11:54] #311 closed

[2019-01-31 11:57] contactashish13 commented on #327
@mileamadalin that option is not available on https://developers.google.com/chart/interactive/docs/gallery/piechart#configuration-options so the user will just have to reduce the piehole. please close this once you read this.

[2019-01-31 11:58] contactashish13 commented on #326
@mileamadalin the link does not have any screenshots. Maybe support team should always ask for screen shots so that things are clearer. Please close this once you read this unless there is more clarity on this.

[2019-01-31 13:42] #326 closed

[2019-01-31 13:43] #327 closed

[2019-02-01 09:33] mileamadalin commented on #312
@contactashish13 I have checked, and I can confirm that the bugs were fixed

[2019-02-01 09:33] #312 closed

[2019-02-01 13:06] Vishakha-Patel commented on #372
Sure!. Would like to give it a try.

[2019-02-02 07:17] Vishakha-Patel opened #375 "Not possible to change column settings of the last column in table chart"
The last column does not display when we try to change the Thousands Separator, Decimal Separator, Precision and Suffix of the last column in the table chart.

Screenshot: http://prntscr.com/mfkgjh

@contactashish13

[2019-02-05 08:55] SilviuDinu opened #376 "Logarithmic scale"
A pre-sale customer was asking if visualizer includes logarithmic scale or if we will consider adding it in the future so I thought I should forward his feedback.

Ticket link -> https://secure.helpscout.net/conversation/763122798/178808?folderId=212385

[2019-02-05 08:57] #376 closed

[2019-02-08 08:59] contactashish13 commented on #375
PR https://github.com/Codeinwp/visualizer/pull/379

[2019-02-12 16:15] contactashish13 commented on #374
PR https://github.com/Codeinwp/visualizer/pull/381

[2019-02-24 07:26] #336 closed

[2019-02-24 07:54] #348 closed

[2019-02-24 07:54] #350 closed

[2019-02-24 07:54] #352 closed

[2019-02-24 07:54] #357 closed

[2019-02-24 07:54] #360 closed

[2019-02-24 07:54] #362 closed

[2019-02-24 07:54] #363 closed

[2019-02-24 07:54] #368 closed

[2019-02-24 07:54] #370 closed

[2019-02-24 07:54] #374 closed

[2019-02-24 07:54] #375 closed

[2019-03-20 08:14] mileamadalin commented on #354
I will close that. I wasn't able to replicate it with the latest version of plugins and WordPress.

[2019-03-20 08:14] #354 closed

[2019-03-25 15:30] mileamadalin opened #384 "Possible issue with Customization JS file"
@contactashish13 a user reported usthat we defined two file paths:

 one generic/default
`$file = $wp_filesystem->wp_content_dir() . 'uploads/visualizer/customization.js';`
and another specific
`$specific = $uploads['baseurl'] . '/visualizer/customization.js';`

and when we test the existence of these files, we return the path of the specific one:

[code]

and here is his recommendation:

[code]

[2019-03-26 12:07] contactashish13 commented on #384
@mileamadalin it would be best to test this new code against the the intent of the original code. The original code gives the user a template JS file as part of the plugin and then copies this template JS file into the WP uploads folder so that changes can be made by the user to **that** instead of the file inside the plugin folder. This is because the user's changes should not get overwritten by

[2019-04-02 10:43] poonam279 opened #385 "Not working with Modern Events Calendar Lite"
@contactashish13 Visualizer plugin is having a conflict with the Modern Events Calendar (https://wordpress.org/plugins/modern-events-calendar-lite/) plugin. The issue is happening across all browsers. When I click the edit pencil to edit a chart, the popup window is an empty white box, there is no content in it. I get this error in the browser console: “Unchecked runtime.lastError: The message por

[2019-04-05 05:09] contactashish13 opened #386 "Gutenberg: Add ability to add new charts"

[2019-04-05 05:10] contactashish13 opened #387 "Enable editing mode for datatables chart"

[2019-04-05 05:11] contactashish13 opened #388 "Lite: HTML table/text area for chart editing"

[2019-04-08 13:54] contactashish13 commented on #308
PR https://github.com/Codeinwp/visualizer/pull/389. This currently only supports JSON endpoints but can be extended to XML endpoints as well.

This is a demo of how it works: https://drive.google.com/file/d/1M6zjvzEerd_5QB66d_0ccqz3EROkt_J2/view

For some JSON endpoints such as `https://data.cityofnewyork.us/api/views/kku6-nxdu/rows.json`, sometimes the first few elements of the relevant array mig

[2019-04-08 17:02] ineagu commented on #308
a usecase we wanted here is to have a chart for uptimerobot data for posts ( just so you have another example )

[2019-04-09 04:55] contactashish13 commented on #308
@ineagu @selul can you share a sample URL that I can test with?

[2019-04-09 06:38] selul commented on #308
@contactashish13 i've added the details on slack

[2019-04-09 10:38] contactashish13 commented on #308
@selul @ineagu this is how it would look by using the filter provided in the implementation:

`
add_filter( 'visualizer_json_args', 'visualizer_json_args', 10, 2 );
function visualizer_json_args( $args, $url ) {
	if ( $url === 'https://api.uptimerobot.com/v2/getMonitors' ) {
		$args = array(
			'method' => 'POST',
			'headers' => array(
				'cache-control' => 'no-cache',
				'content-type' => 'app

[2019-04-09 10:47] selul commented on #308
@contactashish13 not very helpful this one, we need something where we can plot the response time, i.e http://prntscr.com/n9imgt for the individual monitor.

Tweaking with filters the request is a good start, we can add doc for this as I think it will be many users who will want to use rest endpoints with Authentications mechanisms, headers and so on.
Furthermore, we can link the doc in the area w

[2019-04-11 08:41] contactashish13 commented on #315
PR https://github.com/Codeinwp/visualizer/pull/390

[2019-04-11 08:43] contactashish13 commented on #333
@sab2ina can Claudiu address this if he is back? Also, I don't have access to wp.org to update the plugin's assets so this can be routed through @selul

[2019-04-11 08:49] #328 closed

[2019-04-11 09:06] contactashish13 commented on #385
@poonam279 this is a problem with the code of that plugin, specifically https://plugins.trac.wordpress.org/browser/modern-events-calendar-lite/trunk/app/libraries/factory.php#L247, which is written incorrectly. Commenting out that line makes our plugin work.

[2019-04-11 09:22] contactashish13 opened #391 "remove (Lite) from the plugin name"
change `Visualizer: Tables and Charts Manager for WordPress (Lite)` to `Visualizer: Tables and Charts Manager for WordPress`

[2019-04-11 09:26] contactashish13 commented on #391
@selul should the URL and the name change on https://themeisle.com/plugins/visualizer-charts-and-graphs-lite/ as well? One of the many names the plugin has is `Visualizer Lite: Tables & Charts`. Maybe all names should become identical?

[2019-04-11 09:28] contactashish13 commented on #391
PR https://github.com/Codeinwp/visualizer/pull/392

[2019-04-11 09:28] selul commented on #391
@contactashish13 , yes the name should be consistent, we should update themeisle.com page, we will adress it in the redesign.

[2019-04-11 09:42] contactashish13 commented on #387
closing this as this needs us to purchase a copy of the editor

[2019-04-11 09:42] #387 closed

[2019-04-12 07:22] contactashish13 opened #393 "new PHPCS rules for strict comparison"

[2019-04-15 04:46] contactashish13 opened #395 "Tested upto WP 5.2"

[2019-04-15 09:59] contactashish13 opened #396 "Make data type row in CSVs optional"
Most data sets (e.g. https://www.quandl.com/api/v3/datasets/WIKI/AAPL.csv) do not provide the data type of the column as it is self-explanatory to humans. But because the plugin requires the data type to be specified, this prevents users from hooking directly into an API or a remote URL that does not provide the data type. We should make such integrations easier.

[2019-04-19 10:04] contactashish13 commented on #391
@selul you mentioned this might impact the license check. can you check that?

[2019-04-19 10:17] selul commented on #391
@contactashish13 it should be ok now.

[2019-04-22 17:53] contactashish13 opened #399 "add schema support for dataset"
https://developers.google.com/search/docs/data-types/dataset

[2019-04-24 05:36] contactashish13 opened #400 "JS scripts loading on all pages in the backend"

[2019-04-24 05:50] contactashish13 commented on #400
closing this as this is not an issue. These scripts load in the post pages and visualizer media pages only.

[2019-04-24 05:50] #400 closed

[2019-04-26 05:49] contactashish13 commented on #388
PR https://github.com/Codeinwp/visualizer/pull/401

The user can use either the HTML table or a text area editor. The latter is more useful for adding/subtracting rows and the former to see arrangement of the data.

[2019-04-27 09:57] mileamadalin opened #402 "Download Excel and CSV issue"
@contactashish13 we have a bug with downloading the excel data from chart on internet explorer and edge.

A customer reported the issue here: https://secure.helpscout.net/conversation/835993203/187167?folderId=212385

Vishaka and I succeeded to replicate the customer issue, and l will attach a few videos to show the problem:

1. You can download the excel file on Safari:

https://www.dropbox.com/s

[2019-04-29 07:28] contactashish13 commented on #402
@mileamadalin During my testing, I found that the option for CSV also had the same problem.

PR https://github.com/Codeinwp/visualizer/pull/403 solves these issues. Please test and confirm. cc @Vishakha-Patel

PS - its usually good practice to test similar/related functionality as well to check if they are buggy or not e.g. all the 4 front end actions.

[2019-05-02 06:28] contactashish13 commented on #331
@HardeepAsrani try to target this for 3.3.0

[2019-05-02 08:03] contactashish13 commented on #395
PR https://github.com/Codeinwp/visualizer/pull/404

[2019-05-03 07:57] contactashish13 commented on #308
@mileamadalin this is a major new feature that will be released as part of v3.2.0.  Here are some resources that will help you understand this feature:

- https://drive.google.com/file/d/1M6zjvzEerd_5QB66d_0ccqz3EROkt_J2/view
- https://docs.themeisle.com/article/1052-how-to-generate-charts-from-json-data-rest-endpoints
- https://docs.themeisle.com/article/1043-visualizer-how-to-extend-rest-endpoin

[2019-05-03 09:58] #315 closed

[2019-05-03 09:58] #388 closed

[2019-05-03 09:58] #391 closed

[2019-05-03 09:58] #393 closed

[2019-05-03 09:58] #395 closed

[2019-05-03 09:58] #402 closed

[2019-05-04 05:24] contactashish13 commented on #388
@mileamadalin https://drive.google.com/file/d/1ztnoAo0NU8_u_JWDFVL6EAopREYH9cbd/view shows how to use this feature

[2019-05-04 09:15] mileamadalin commented on #402
@contactashish13 The issue was fixed with the new version.

Thank you @Vishakha-Patel for confirmation.

[2019-05-04 09:18] mileamadalin commented on #308
@contactashish13 Thank you! I have shared those informations with the Support team

[2019-05-05 06:56] contactashish13 opened #407 "Async loading of JS fails to load chart sometimes"
related to changes in https://github.com/Codeinwp/visualizer/issues/315 for release v3.2.0

reported here https://wordpress.org/support/topic/stopped-working-after-updating-to-3-2-0/

[2019-05-05 07:02] contactashish13 commented on #407
PR https://github.com/Codeinwp/visualizer/pull/408

[2019-05-05 11:11] HardeepAsrani commented on #331
@contactashish13 When are you planning to release 3.3.0?

[2019-05-05 16:16] contactashish13 commented on #407
@mileamadalin if anyone reports the error similar to https://wordpress.org/support/topic/stopped-working-after-updating-to-3-2-0/ on v3.2.0, you can ask them to upgrade to v3.2.1 that fixes this issue

[2019-05-05 16:16] #407 closed

[2019-05-06 04:29] contactashish13 commented on #331
mid to end of june. You can check the date on the milestone as well: https://github.com/Codeinwp/visualizer/milestone/11

[2019-05-06 09:04] ineagu commented on #308
@contactashish13 here I believe authentification is required by most of the services, requiring users to code for that seems too complicated, @selul thoughts?

[2019-05-06 09:09] selul commented on #308
@ineagu I have no idea how we could cover a good amount the authentication mechanisms that most of the APIs uses.

@contactashish13 maybe you can do some research on services like iftt, zapier that might abstract those things and see how we can have a slim version of this?

[2019-05-06 14:54] contactashish13 opened #412 "PRO build failure because test cases fail when PRO is not found"
the failure occurs at https://github.com/Codeinwp/visualizer/blob/master/classes/Visualizer/Module/Chart.php#L772

For some reason `VISUALIZER_PRO` is false. This only happens in the unit test cases.

[2019-05-06 15:28] #412 closed

[2019-05-15 13:52] contactashish13 opened #415 "Add a path parameter to override default behavior of AMP pages"
related to the filter `visualizer_amp_view` added in https://github.com/Codeinwp/visualizer-pro/issues/111

[2019-05-17 09:07] sab2ina opened #417 "Add new banner and logo"
Let's update Visualizer logo & bananner for WP.org https://wordpress.org/plugins/visualizer/

Files can be found here:
https://drive.google.com/drive/folders/15KMzvbOx66et-WkSXIlFA99pX0emnGRM?usp=sharing

[2019-05-17 09:43] sab2ina commented on #417
I don't have access in the Feedzy and WPPR repos, their banners should also be changed.

[2019-05-17 10:01] ineagu commented on #417
cc @contactashish13

[2019-05-17 10:27] sab2ina commented on #417
I think only @selul has access to WP.org

[2019-05-17 10:36] selul commented on #417
I'm adding them now

[2019-05-17 11:06] selul commented on #417
@sab2ina done.

[2019-05-17 11:16] sab2ina commented on #417
ty

[2019-05-17 11:16] #417 closed

[2019-05-21 10:08] SilviuDinu opened #418 "Confusing behavior of horizontal/vertical grid lines on bar/column charts"
A user on HS wanted to remove the grid lines of his charts (the horizontal ones) and it looks like the option of changing the number for the grid lines or their colors doesn't seem to be working as expected.

I have also tested this on my end -> https://embed.vidyard.com/share/dcrqfr54b3yqG6qWiJ3qwM?

it looks like changing the color for the minor grid lines is working, but for the main ones it's

[2019-05-24 19:16] contactashish13 opened #419 "Add alpha color picker"
https://github.com/kallookoo/wp-color-picker-alpha

- RGBA values are not supported by google charts

[2019-05-25 06:02] contactashish13 commented on #419
will be tackled as part of #373

[2019-05-30 09:17] contactashish13 opened #421 "Travis builds for PHP below 5.6 fail with latest WP"

[2019-05-30 09:20] selul commented on #421
Just and idea if you are looking how to solve it, you can change the WP_VERSION environment variable to 5.1.1  for PHP lower than 5.6

[2019-05-30 09:25] contactashish13 commented on #421
PR https://github.com/Codeinwp/visualizer/pull/422

[2019-05-30 10:16] #421 closed

[2019-05-31 13:28] Vishakha-Patel opened #423 "animate on screen load"
Animate the chart when visible on screen instead of page load

https://secure.helpscout.net/conversation/853284982/188699/

@contactashish13

[2019-06-03 03:13] contactashish13 commented on #423
google charts does not support this and this is only a good to have feature so putting this on hold till more such requests come in.

[2019-06-06 22:26] HardeepAsrani opened #424 "DataTables: Scrolling doesn't work properly"
ScrollCollapse doesn't work. We need to have a `scrollY` property which is only applied when `scrollCollapse` is enabled.

[2019-06-12 07:42] contactashish13 commented on #373
PRs https://github.com/Codeinwp/visualizer/pull/425 and https://github.com/Codeinwp/visualizer-pro/pull/168

There is a slight change in the workflow to support this. The option to choose the library (default would be Google Charts for all except DataTable for table charts and ChartJS for polar and radar charts) can be found in the chart type selection screen. Selecting a chart will automatically

[2019-06-12 13:12] contactashish13 commented on #415
PR https://github.com/Codeinwp/visualizer/pull/426

If the URL contains `view=<something>`, it will show that instead of using the filter. This supports 3 types of views
- `view=<number>` assumes view is the attachment ID
- `view=<relative url>` assumes it needs to load the `siteurl/<relative url>`
- `view=<absolute url>` assumes it needs to load the `<absolute url>`

[2019-06-18 05:27] contactashish13 commented on #333
@sab2ina can we close this if this has been done?

[2019-06-18 05:28] #385 closed

[2019-06-18 15:25] purplecodes opened #427 "In the library, table thumbnail makes the options hidden/unclickable"
In the free version of Visualizer, Table thumbnail options are almost hidden because of image overlap.

See here -->> https://snag.gy/4pyqnA.jpg

Tested all other graphs, only happens with the Table graph.
The issue seems to go away when the Pro version is activated.

Tested with Poonam and was able to replicate the same issue.
Visualizer v3.2.1
WordPress 5.2.1

@contactashish13

[2019-06-19 05:32] contactashish13 commented on #427
PR https://github.com/Codeinwp/visualizer/pull/428

[2019-06-19 09:45] contactashish13 commented on #424
PR https://github.com/Codeinwp/visualizer/pull/429

[2019-06-21 05:56] mileamadalin commented on #373
I will check it next week and come back.

[2019-06-21 07:02] contactashish13 opened #430 "GeoChart: add option to switch off legend"

[2019-06-22 22:36] purplecodes opened #431 "Gauge chart shows JS warnings"
User reported that all the Gauge chart that he created shoes JS warnings when inspecting the element.

Sample URL: https://absr-research.com/commodity-analytics/
Ticket: https://secure.helpscout.net/conversation/877745181/191762/

I was able to replicate the issue on my own site.
https://snag.gy/hY2CQi.jpg

@contactashish13

[2019-06-22 23:02] mileamadalin commented on #431
@contactashish13 Do you think that it's something we can fix in the future? I mean, even if are not errors (fatal errors) maybe we can improve them.

It looks like the warning that appears is caused by images that we load for the chart from render-google.js, but not sure why that's happening.

[2019-06-24 05:00] contactashish13 commented on #431
@mileamadalin @purplecodes these are warnings that indicate that the chart cannot be converted into a static image. These warnings are useful when someone wants to use the static chart image and then wonders why they cannot use it. These are warnings and can be ignored.

@mileamadalin please close when you read this.

[2019-06-25 05:16] contactashish13 opened #432 "Add interactive visualizations"
https://github.com/owid/owid-grapher - amazing tool developed for https://ourworldindata.org/ (https://ourworldindata.org/owid-grapher). As they say in their GH

But if we could somehow make this work....

[2019-06-25 10:10] sab2ina commented on #333
it's not done, as far as I see.
Please create & upload the screenshots as you see fit.

[2019-06-25 10:24] selul commented on #333
I suggest the next action plan:

1. @SilviuDinu can prepare the screenshots with @contactashish13's guidance for each of the use cases. I suggested Silviu because he started to be more involved in Visualizer's support side.
2. Once @contactashish13 you approve them, share the zip with me via Slack and I can upload them directly to wporg.

@contactashish13 can you let me know if that's good to you

[2019-06-25 11:02] contactashish13 commented on #333
@selul sounds good. @SilviuDinu ping me on slack if you have any confusion about the use cases and we can discuss.