[2019-06-26 06:43] #431 closed

[2019-06-26 10:19] SilviuDinu commented on #333
@contactashish13 sure, will get right to it and let you know as soon as I need help.

[2019-07-01 08:30] SilviuDinu commented on #373
I have tested how creating / displaying a chart created with ChartJS works and I have made a few videos with the results:

- https://embed.vidyard.com/share/d1k1mHcVoUapgpf2CL2hFg

- https://embed.vidyard.com/share/tyyvLMgZQLeyQ3kFhPUe2Y?

- https://embed.vidyard.com/share/d1k1mHcVoUapgpf2CL2hFg

The charts seem to behave strange when editing them. Hovering over certain areas make the chart black

[2019-07-02 14:35] DanyCaissy opened #434 "Candlestick manual data gives error on default data"
Error: Last domain does not have enough data columns (missing 3)
Environment: Pro version, license not activated.

Steps to reproduce:

1- Add new candlestick
2- Go to manual data, view editor: https://i.imgur.com/xHxRy1R.png
3- Change nothing, click 'show chart'

Result: https://i.imgur.com/nSP8cFt.png

[2019-07-03 10:52] SilviuDinu commented on #373
Update: It seems there are still some hovering issues, but they behave slightly different (the background does not turn black anymore):

- https://embed.vidyard.com/share/owhUzv4p4Ke382X8wMdBaM? - Creating and editing the bar chart. Issue when hovering.

- https://embed.vidyard.com/share/m7CrgbW8jLRT4fyCSDzVNf? - Issue with the Pie chart on hover. Also, choosing the Donut option also adds up to th

[2019-07-05 09:40] contactashish13 opened #437 "import from json does not work on some sources"
ref https://wordpress.org/support/topic/import-from-json-url-not-working/

[2019-07-08 09:16] IosifGabriel opened #438 "Central African countries do not show a Tooltip"
Description:
Democratic Republic of the Congo, South Sudan,  Republic of Congo do not show a ToolTip

How to reproduce:
1.Make a geochart
2. import from the file below, because it has all the countries.

Expected behaviour:
All countries should show a ToolTip

Current behaviour:
Central African countries do not show it.

Reference:
http://prntscr.com/oc1b40

link for csv.
[https://docs.google.com/

[2019-07-08 09:16] IosifGabriel commented on #438
https://secure.helpscout.net/conversation/893757886/193921?folderId=212385

[2019-07-09 06:47] contactashish13 commented on #437
PR https://github.com/Codeinwp/visualizer/pull/439

[2019-07-09 17:47] contactashish13 commented on #438
@IosifGabriel can't do much about this. Seems to be an issue with Google: https://github.com/google/google-visualization-issues/issues/2488.

[2019-07-10 11:21] radu-themeisle commented on #427
[+1](https://secure.helpscout.net/conversation/897490616/194335/)

[2019-07-10 11:33] SilviuDinu commented on #373
I pulled the latest changes and I'm not noticing the hovering issues from above anymore:

For the first 2 videos, I used an already existing instance and the ShopIsle theme (Lite). The third video was made on an instance where I had the previous version of the plugin, where the hover issue used to happen. For the last video, I used a fresh instance with the default WordPress theme

- https://embed

[2019-07-10 23:53] HardeepAsrani opened #440 "Add datatable assets locally"
We should load dataTable assets from the plugin instead of CDN as it makes it hard for the plugin to work offline.

@contactashish13

[2019-07-11 14:11] SilviuDinu opened #441 "Chart not resizing according to the window zoom factor with the TwentyNineteen WordPress themes"
After testing the ChartJS implementation in Visualizer, I've noticed a weird behavior related to the zoom factor.

With the Google Charts, the charts are resizing according to the zoom factor of the browser window, no matter which theme i'm using. -> https://embed.vidyard.com/share/TgngzYiQXmLvFeudwMKhYQ?

After creating a chartJS chart:

- The chart resizes correctly if I am using Hestia, Zelle/Z

[2019-07-11 14:16] DanyCaissy commented on #434
This is meant for the pro version, so will close it here.

[2019-07-11 14:16] #434 closed

[2019-07-12 04:18] contactashish13 commented on #440
@selul what do you think about this? CDN better or local? @HardeepAsrani says the WP theme review team has strict rules about CDNs. What about the plugin review team?

Whats our usual stance on this?

@DanyCaissy maybe you want to weigh in too?

[2019-07-12 07:15] selul commented on #440
@contactashish13 I would have it locally in the plugin files for the next reasons:

1) As Hardeep stated, it might be a good idea to work offline.
2) For privacy reasons due to the fact that we don't know what kind of data the CDN collect related to their visitors.
3) Freeze the dataTable js to a certain version. It might happen that the js file to get modified ( a new version release ) and the co

[2019-07-12 07:36] contactashish13 commented on #440
PR https://github.com/Codeinwp/visualizer/pull/445

[2019-07-13 10:53] HardeepAsrani commented on #424
@contactashish13 I merged this to my branch and `Scroll Collapse` is still not working while it seems you've removed the other three option. Is that correct or I'm just missing something?

[2019-07-16 08:11] HardeepAsrani commented on #424
Updated the ticket about the scrollCollapse issue we discussed.

[2019-07-16 08:15] HardeepAsrani opened #450 "Improvements to CSS Props for DataTable"
There are a few issues with it:

- `transform` property is of no use, and we should remove it. Not sure if anyone uses it.
- We have three CSS areas, which are the following:

<img width="302" alt="Screen Shot 2019-07-16 at 1 42 42 pm" src="https://user-images.githubusercontent.com/2649903/61277394-b9df5180-a7cf-11e9-99db-4c665c1f75cb.png">

Table Cell overrides both Even/Odd columns, and it makes

[2019-07-16 13:17] HardeepAsrani opened #451 "Date format in Visualizer"
Having some issue with the date format. Right now we format the dates like this:

`return moment( data ).format( fromFormat, toFormat );`

And that code doesn't really work. I tried the classic integration and the format doesn't work. When building the Gutenberg part, I tried this and it seems to work just fine:

`return moment( data ).format( toFormat );`

I'm sure there are reasons why we use a

[2019-07-18 06:32] contactashish13 commented on #451
@HardeepAsrani it works as expected

![image](https://user-images.githubusercontent.com/12953439/61434554-e3c18100-a953-11e9-8a2b-a865251333df.png)

[2019-07-18 07:08] contactashish13 commented on #450
@HardeepAsrani transform was part of the old table chart as well, so it has been retained. Why we included it is something we will have to go back in history for. We don't know if someone uses it or not so we can't drop it just because we don't understand its value.  We should retain it to ensure consistency in both interfaces.

PR https://github.com/Codeinwp/visualizer/pull/454 fixes the issues w

[2019-07-18 08:11] HardeepAsrani commented on #451
Seems to work now. I think there was some issue in the date format before.

[2019-07-18 08:11] #451 closed

[2019-07-18 09:09] contactashish13 commented on #424
PR https://github.com/Codeinwp/visualizer/pull/455

Have addressed horizontal and vertical scrolling. Merged into 3.3.0

[2019-07-18 10:10] contactashish13 commented on #437
Doesnt work with the JSON file but works when the same JSON is converted into a CSV (both attached)

[test.json.txt](https://github.com/Codeinwp/visualizer/files/3405824/test.json.txt)
[test.csv.txt](https://github.com/Codeinwp/visualizer/files/3405825/test.csv.txt)

PR https://github.com/Codeinwp/visualizer/pull/456 fixes this.

[2019-07-18 11:02] contactashish13 commented on #450
PR https://github.com/Codeinwp/visualizer/pull/457 for header row configuration

[2019-07-23 06:51] contactashish13 opened #459 "Better error messages for invalid CSVs/URLs"

[2019-07-27 05:00] contactashish13 opened #464 "Create main menu with support page"
https://app.asana.com/0/1129400186358085/1130045007967911/f

[2019-07-27 07:17] contactashish13 opened #466 "Use filter instead of constant VISUALIZER_PRO"
This will fix unpredictable bugs that result from the Pro class loading afterwards causing some Pro to become unavailable

[2019-07-29 13:03] contactashish13 commented on #466
PR https://github.com/Codeinwp/visualizer-pro/pull/180 and https://github.com/Codeinwp/visualizer/pull/467

[2019-07-30 05:01] contactashish13 opened #468 "Remove strict comparison while rendering select element"
A consequence of #393. Results in https://github.com/Codeinwp/visualizer-pro/issues/181

[2019-07-30 05:15] contactashish13 commented on #468
PR https://github.com/Codeinwp/visualizer/pull/469

[2019-07-30 09:05] SilviuDinu opened #470 "Display the legend vertically below the chart"
A user wanted me to note her feature request about the Legend placement.

Currently, you can place the legend below the chart, but it's horizontal like this -> http://prntscr.com/olw63y and like this -> http://prntscr.com/olw6e8

So, the user wanted to display them vertically (one below the other) just like an `<ul>` html list.

[2019-07-31 10:33] contactashish13 commented on #464
PR https://github.com/Codeinwp/visualizer/pull/471 adds

- new menu item
- 3 sub menu items
- new icon

[2019-08-01 06:24] contactashish13 opened #472 "Inconsistent chart type listing in library, types screen and readme"
while using just the free version. with 0 gauge and 0 candlestick, the library shows

![image](https://user-images.githubusercontent.com/12953439/62270192-07f08800-b453-11e9-8595-4d11fda191bf.png)

and the chart types screen shows

![image](https://user-images.githubusercontent.com/12953439/62270234-23f42980-b453-11e9-9337-c6cc7153212f.png)

even though Gauge and Candlestick are part of pro

[2019-08-01 06:53] contactashish13 commented on #470
@SilviuDinu this can be done through CSS manipulation but there is no support for this in the API. You can add examples for this in the documentation.

[2019-08-02 05:31] HardeepAsrani opened #475 "Export/Import Chart + Settings"
I don't know if anyone has suggested this but we should also allow users to export/import a chart with all the settings.

But this is just an idea and also only worth doing if users have requested for this. If not then we can let it just float.

[2019-08-03 04:44] contactashish13 opened #479 "Add links to survey"
https://app.asana.com/0/1129400186358085/1131896478970676/f

[2019-08-03 05:23] contactashish13 commented on #479
PR https://github.com/Codeinwp/visualizer/pull/480 adds the surveys to the support page as well as the below box in the library page when only free is being used.

![image](https://user-images.githubusercontent.com/12953439/62407646-592a8400-b5d9-11e9-89a7-81e8e0729bce.png)

@DanyCaissy could you please add the appropriate verbiage?

![image](https://user-images.githubusercontent.com/12953439/6240

[2019-08-03 15:32] DanyCaissy commented on #479
@contactashish13

### Answer a few questions for us to help us improve the product

We're always looking for suggestions to further improve Visualizer, if you'd like to help us, please fill out this [survey].

[For Free users only] If your feedback is especially helpful and we choose to do an interview with you to discuss your suggestions, you will even gain a yearly membership for free for your t

[2019-08-05 06:53] contactashish13 opened #481 "JSON import: Provide some support for authentication out of the box"
https://github.com/Codeinwp/visualizer/issues/308#issuecomment-489554678

[2019-08-05 06:55] contactashish13 commented on #481
For basic authentication, we can ask the user to provide
- username/access key
- password/access secret

The header in basic auth would be called `Authorization` with value of `Basic base64(username:password)`

[2019-08-05 14:46] IosifGabriel opened #482 "Chart does not save if you do not click on show chart in manual data"
**How to recreate:**
Create a new chart
Enter manual data and change it accordingly
Click create chart.

**Expected behavior**
Save the chart regardless

**Current behavior**
1. It may not save the chart at all if you insert data right when you create it from Add New ( i was able to replicate 3 times out of 5-6 )
2. It does not save the manual data if the chart is the default one and already creat

[2019-08-06 04:57] contactashish13 commented on #482
Closing this as this is not a feature bug but a consequence of the design paradigm. You **have** to click on show chart to save the data.

[2019-08-06 04:57] #482 closed

[2019-08-06 22:58] DanyCaissy opened #484 "Link for "create a chart" not working"
Here: https://i.imgur.com/C9VEzzH.png

There are two issues:

1- The link to create a new chart redirects me to the page I am already in, instead of the page to create a new chart. To reproduce it, just try it out on this page: https://uninterested-capybara.jurassic.ninja/wp-admin/post.php?post=240&action=edit

2- Regarding the notice, I think it should be moved to the selection page: https://i.im

[2019-08-07 06:14] contactashish13 opened #486 "Show chart automatically when user clicks on another menu item"
https://app.asana.com/0/1129400186358085/1132060281071731/f

[2019-08-07 12:52] contactashish13 commented on #486
PRs https://github.com/Codeinwp/visualizer/pull/487 and https://github.com/Codeinwp/visualizer-pro/pull/191 (merged into 3.3.0/1.9.0) take care of the following UX/UI features:

- automatically show chart when a user has clicked some other function (e.g. create parameters) and then switches to another function without clicking show chart
- collapse other open subsections of a section (similar to h

[2019-08-07 12:58] contactashish13 commented on #484
@DanyCaissy this was also fixed by @HardeepAsrani and merged into 3.3.0. can you please test?

[2019-08-07 13:22] DanyCaissy commented on #484
This seems good now.

[2019-08-07 13:22] #484 closed

[2019-08-08 05:03] contactashish13 opened #490 "Documentation for each chart"
ref: https://app.asana.com/0/1129400186358085/1131030206470578/f

Things missing that could help:
A) Documentation about combo chart
B) Documentation about timeline chart

We could consider having one article per chart type eventually, and link it in the chart in question. At a minimum, the more complex charts should have an article dedicated to them.

@SilviuDinu can you please take care of this?

[2019-08-12 13:31] IosifGabriel opened #492 "Frontend actions do not save through rollbacks and updates"
Tick boxes in the Frontend do not save through rollbacks and updates.

Tested both on local and public instance
Video of the issue -> https://embed.vidyard.com/share/6JWLJgPgMfqHbnqMDJN9wF? (all of the charts had the checkboxes activated in the beginning of the video)

Credits for the public instance
https://rude-ratel.jurassic.ninja/wp-admin/upload.php?page=visualizer
demo
HlLHQ2YDkae3

[2019-08-12 13:32] IosifGabriel commented on #492
https://secure.helpscout.net/conversation/926278888/199007?folderId=212385

[2019-08-13 07:04] contactashish13 opened #493 "Format applied to hAxis does not apply to tooltips"
ref https://secure.helpscout.net/conversation/924703468/198875/

suggested solution is to add the below line

[code]
before
[code]

[2019-08-13 07:25] contactashish13 commented on #492
@IosifGabriel this has been fixed in 3.3.0. Please test this with the 3.3.0 branch and let me know if this is an issue. The release is due by tomorrow.

[2019-08-13 08:36] contactashish13 commented on #492
closing this as this has been fixed as part of #468

[2019-08-13 08:36] #492 closed

[2019-08-13 13:12] SilviuDinu opened #494 "Charts are not being displayed on Add New"
A user reported that he can't create a new chart because the page is blank for him.

I have tested too on his end and when I go to Add New from Media -> Visualizer Library I'm getting this screen and a request error in the console -> https://prnt.sc/os3iq8

Ticket link -> https://secure.helpscout.net/conversation/928310597/199188/

This occurs both if the PRO version is activated or not, so the pr

[2019-08-14 09:27] #373 closed

[2019-08-14 09:27] #415 closed

[2019-08-14 09:27] #419 closed

[2019-08-14 09:27] #424 closed

[2019-08-14 09:27] #427 closed

[2019-08-14 09:27] #430 closed

[2019-08-14 09:27] #437 closed

[2019-08-14 09:27] #440 closed

[2019-08-14 09:27] #450 closed

[2019-08-14 09:27] #459 closed

[2019-08-14 09:27] #464 closed

[2019-08-14 09:27] #466 closed

[2019-08-14 09:27] #468 closed

[2019-08-14 09:27] #472 closed

[2019-08-14 09:27] #479 closed

[2019-08-14 09:27] #486 closed

[2019-08-15 04:53] contactashish13 opened #498 "Issues on multisite install"

[2019-08-15 04:54] contactashish13 commented on #498
`customization.js` does not seem to work properly - https://wordpress.org/support/topic/cant-add-or-remove-rows-using-manual-editor/

[2019-08-15 05:05] contactashish13 opened #499 "Support object caching"
ref https://wordpress.org/support/topic/query-caching-redis-support/

[2019-08-16 00:14] DanyCaissy commented on #498
I do get that error: https://i.imgur.com/PFvS5Ju.png

[2019-08-16 05:07] contactashish13 commented on #494
Closing this as this is not an issue and was fixed by the customer on his installation.

PS - @SilviuDinu as discussed, please do not create tickets without going through the entire cycle of troubleshooting.

[2019-08-16 05:07] #494 closed

[2019-08-16 05:46] contactashish13 commented on #498
PR https://github.com/Codeinwp/visualizer/pull/500 fixes issue with https://i.imgur.com/PFvS5Ju.png

[2019-08-16 05:56] #438 closed

[2019-08-16 06:11] contactashish13 commented on #331
released as part of 3.3.0

[2019-08-16 06:11] #331 closed

[2019-08-16 06:14] contactashish13 commented on #384
closing this for lack of response + this is probably related to #498

[2019-08-16 06:14] #384 closed

[2019-08-16 06:15] #308 closed

[2019-08-16 06:16] contactashish13 commented on #333
Closing this as this was done

[2019-08-16 06:16] #333 closed

[2019-08-17 05:32] contactashish13 opened #501 "Change upgrade link"
https://github.com/Codeinwp/themeisle/issues/795

[2019-08-17 05:48] contactashish13 opened #502 "Ensure consistent and clear documentation across product assets"
We need to review all the below assets to ensure that they have consistent and clear documentation on what features are part of pro and what are not. From an end users point of view, we may want to assume they can land on any page using a search engine and not necessarily follow a sequential order from one page to another.

We should also make sure the UX makes sense. For example, I have no clue w

[2019-08-17 13:13] DanyCaissy commented on #502
@contactashish13 Yup I've started working on that, just need to gain access.

[2019-08-19 23:31] DanyCaissy commented on #502
I've gained access, I'll keep track of updates on asana.

[2019-08-19 23:39] DanyCaissy opened #503 "Long responsive table can overflow on smaller screens"
This is fairly specific but a user reported this issue, it happens when they create a table with a lot of data, and they check 'responsive', and their screen is smaller. I've included a gif to demonstrate.

![2019-08-19_18-35-39](https://user-images.githubusercontent.com/5183243/63306534-9321a880-c2b0-11e9-8d1a-1db6a8c13fd5.gif)

[2019-08-20 02:45] contactashish13 commented on #502
I think we should keep track here especially if the people who need to take action will not have access to Asana. If we are going to give them access to Asana then I don't see the point of having 2 platforms. @selul we need to discuss the exact sequence of using Asana and GitHub.

On Aug 20, 2019, 05:01, at 05:01, Dany Caissy <notifications@github.com> wrote:

[2019-08-20 08:33] selul commented on #499
just a note here, maybe it will be helpful, you can use transients for this aswell.

This will work with or without object caching. If the environment is using object cache, it will add it there, otherwise, it will store it in the database.
https://codex.wordpress.org/Transients_API

[2019-08-20 12:22] IosifGabriel opened #504 "Column search no longer available"
In the latest version of the Visualizer lite (3.3.0) the check box for column search is no longer available. Although i'm not sure that this is an issue or it has been removed as there is no mention about it in changelog.

Version 3.3.0 -> [http://prntscr.com/ov3gu9](http://prntscr.com/ov3gu9)
Version 3.2.1 -> [http://prntscr.com/ov3e4y](http://prntscr.com/ov3e4y)

[2019-08-20 12:22] IosifGabriel commented on #504
https://secure.helpscout.net/conversation/930832704/199401?folderId=212385

[2019-08-20 14:21] DanyCaissy commented on #502
@contactashish13 We can stop using Asana and move things to a github project instead, that's fine with me. Let me know what you think on Slack.

[2019-08-21 06:22] contactashish13 commented on #504
@IosifGabriel it has always been part of pro. can you confirm that this was part of free before?

[2019-08-21 06:49] contactashish13 commented on #502
@DanyCaissy as discussed on slack we can continue to use asana to discuss stuff and then, when we reach a conclusion, use github so that any code changes can be traced back to an issue. If (1) no code change is required and (2) no other person who doesn't have access to asana needs to be assigned a task then we can continue to use asana for that particular task. cc @selul

We can close this task b

[2019-08-21 06:49] #502 closed

[2019-08-21 07:02] contactashish13 commented on #501
PR https://github.com/Codeinwp/visualizer/pull/505

[2019-08-21 17:13] DanyCaissy opened #506 "Error adding chart on page"
https://uninterested-capybara.jurassic.ninja/wp-admin/post.php?post=329&action=edit

Upon trying to add a chart on the page itself, we get this error: https://i.imgur.com/6qE8h9k.png

This seems to be somewhat new, might be due to the latest updates.

[2019-08-22 07:10] contactashish13 opened #507 "Increase minimum requirement to PHP 5.6"
The spreadsheet component requires `"markbaker/matrix": "^1.1` as part of its composer.json and that component is supported only on PHP 5.6 and above. This means that visualizer may cause problems for PHP versions below 5.6

ref https://wordpress.org/support/topic/infinite-spinner-when-trying-to-create-a-chart/#post-11854670

[2019-08-22 07:10] contactashish13 commented on #507
@selul what do you think?

[2019-08-22 07:15] selul commented on #507
Yes, makes sense. Make sure to increase the required php version in the readme.txt file aswell.

[2019-08-22 08:02] contactashish13 commented on #507
PR https://github.com/Codeinwp/visualizer/pull/508

[2019-08-22 12:55] HardeepAsrani commented on #506
Note for self: It appears to be due to some change in Custom CSS options which don't map nicely with the block.

[2019-08-25 21:34] HardeepAsrani commented on #506
I'm not able to reproduce it on my side. I believe it's due to something in Row/Column Settings of Table Block. Can you try and see what in particular causes this?

[2019-08-27 02:09] DanyCaissy opened #509 "Data changes cancel previous design changes"
![canceled-design-changes](https://user-images.githubusercontent.com/5183243/63735413-5cfe9e80-c845-11e9-8c54-2d813897a8f7.gif)

If you modify a chart's design, then modify the data in any way, the design will be reset to before you modified the design.

Note that this happens visually (the preview chart), but the correct design settings are saved if the user decides to save right after modifying

[2019-08-27 05:27] contactashish13 commented on #509
@DanyCaissy this is part of the whole UX/UI redo. I'm sure it will confuse first time users but I guess users have either got used to this or have not faced this. We can keep this in the UX revamp bucket that we need to address at some point in time anyway.

[2019-08-27 19:16] HardeepAsrani commented on #506
@DanyCaissy Can you reproduce this without adding Table Block? I suspect it has to do with the table block.

[2019-08-28 04:30] contactashish13 opened #510 "For every chart show the last updated date and any error that exists"
This would help users understand when their scheduled chart was last updated vs. its schedule. This may help in reducing the steps in troubleshooting and maybe help us determine if there is a problem with the cron.

This would also include showing a relevant error if the chart tried to be updated but was not updated because of some error.

[2019-08-28 04:34] contactashish13 commented on #510
@DanyCaissy what is the UX/UI you suggest for this?

[2019-08-30 04:53] contactashish13 opened #512 "Can’t edit chart while importing data from Google Spreadsheet"
This happens with PRO disabled.

ref https://wordpress.org/support/topic/cant-edit-chart-while-importing-data-from-google-spreadsheet/

[2019-08-30 04:58] contactashish13 commented on #512
PR https://github.com/Codeinwp/visualizer/pull/513

[2019-08-30 05:33] contactashish13 opened #514 "Cloning a chart resets the chart library to Google"
ref https://wordpress.org/support/topic/neat-but-a-tad-buggy/

[2019-08-30 06:48] contactashish13 commented on #514
PR https://github.com/Codeinwp/visualizer/pull/515

[2019-08-30 07:15] contactashish13 opened #516 "Add messages to address current UX"
- on editing manual data, click Show Chart before Save Chart

[2019-08-30 08:33] contactashish13 opened #517 "ChartJS: manual addition of data changes color for existing values"
ref https://wordpress.org/support/topic/neat-but-a-tad-buggy/#post-11882227

[2019-08-30 10:29] contactashish13 commented on #517
PR changes the behavior of how defaults are applied to ChartJS charts. We will now **not** add defaults when charts are modified. We were adding default colors because ChartJS does not provide default colors when a new series is added and it appears grey. The problem with this is that if
- a series is added
AND
- a config in advanced setting is modified

the latter overwrites the default color we

[2019-08-30 12:08] IosifGabriel opened #519 "Schedule import stopped when updated from 3.2.1 to 3.3.0"
Two users already reported that their schedule import stoped when updating to 3.3.0

So far, i know that it's not related to the Cron to one of them
-> https://secure.helpscout.net/conversation/938943902/200099?folderId=212385

The second one has the exact scenario (stopped importing, just come now)
->https://secure.helpscout.net/conversation/942885030/200471/

[2019-08-31 13:16] DanyCaissy commented on #506
@HardeepAsrani

**Before adding tables**

The pagination issue happens on this new instance, no table chart was ever created yet: https://i.imgur.com/16R4JOa.png. There are 5 google charts so I shouldn't need to load more to see the 4th and 5th.

This is happening after I created chartjs charts, they mess with the pagination.

**After adding tables**

Once creating one table, adding one to the pos

[2019-08-31 18:39] DanyCaissy commented on #510
Yes, I think we can have a 'last updated date', in the date('Y-m-d H:i:s') format maybe, and, if there were errors/logs, have a red 'last error' button show up. That could open a popup or something similar to show the last errors.

I think we only need to worry about the last errors, I don't see the point saving older errors, it'd be better not to save them (they'll clog up the database if there a

[2019-09-03 05:52] contactashish13 commented on #510
![image](https://user-images.githubusercontent.com/12953439/64147082-dcd7ca80-ce3c-11e9-95da-f3bd57090af7.png)

This shows how the date updated will look as well as how the last status of the chart will be displayed. In case of an error, the user can click on the X icon to see details.

@DanyCaissy let me know what you think.

[2019-09-05 13:03] IosifGabriel opened #522 "Ability to add source for data"
An enhancement to be able to add sources to the data of graphs (possible footer/header like in this screenshot -> http://prntscr.com/p24vpo )

However, there is a workaround with JS (it modifies the horizontal axis description but if the description is needed, there is no solution) with the following code, trying JSON from google's API doesnt work in manual configuration.

`<script type = "text/ja

[2019-09-06 04:29] contactashish13 commented on #522
@IosifGabriel @SilviuDinu this can be done by adding an element in the post content below the shortcode or by adding a block in gutenberg. This does not need any exotic changes to JS.

Will keep this on hold to see how many people require this.

[2019-09-06 04:32] contactashish13 commented on #516
PR https://github.com/Codeinwp/visualizer/pull/523

[2019-09-06 07:12] contactashish13 commented on #516
@DanyCaissy till we completely overhaul the UX let me know what all messages you think we need to add that will make the "annoyance" of the current UX a little less. (Ignore the previous notification as it goes to the PR and I'd rather have all possibilities listed down in the issue)

[2019-09-06 07:21] HardeepAsrani commented on #506
Any updates on the credentials I emailed you? @DanyCaissy :)

[2019-09-06 07:23] contactashish13 opened #524 "Add back Google Table charts"
https://app.asana.com/0/1129400186358085/1136935251791377/f

[2019-09-06 14:12] contactashish13 opened #525 "Combine one time import and schedule import"
merge the one-time csv import and the scheduled csv import into one as both are effectively the same feature.

![image](https://user-images.githubusercontent.com/12953439/64434562-6d810580-d0de-11e9-861f-52bbb535ec2c.png)

![image](https://user-images.githubusercontent.com/12953439/64434581-7e317b80-d0de-11e9-9418-df6969e77cc1.png)

[2019-09-11 16:34] DanyCaissy commented on #510
@contactashish13 This seems fine, but I think we have to clarify that this is "last data updated" somehow. Otherwise the user might think this is the creation date, the last date they updated the chart, settings etc.

[2019-09-11 17:29] DanyCaissy commented on #506
@HardeepAsrani I haven't been able to install visualizer pro, I get:

Unable to create directory wp-content/uploads/2019/09. Is its parent directory writable by the server?

[2019-09-11 18:53] DanyCaissy opened #526 "Unable to add charts on front-end on wpsandbox"
This seems to be specific to wpsandbox instances. We want to use wpsandbox to allow users to try our features before purchasing. Due to that, it might not be reproducible locally.

When adding a chart on the front-end using "display an existing chart", we get this error right away: https://i.imgur.com/wmzFVUh.png

 If you want access to our wpsandbox account to try to recreate this on another inst

[2019-09-11 18:58] HardeepAsrani commented on #526
@DanyCaissy Can I get access to such sandbox so I can see the setup? If possible, with admin credentials?

[2019-09-11 18:58] HardeepAsrani commented on #506
@DanyCaissy Should be fixed now. It was Docker on Linux so that's why.

[2019-09-11 19:57] DanyCaissy commented on #506
I've reproduced it on your instance: https://i.imgur.com/vGwQ9eo.png

Steps to reproduce: Create 5 google charts, create 1 chartjs chart, create 1 table.

Issues: Load more even though it shows 5 charts out of 6. Extra whitespace on chart #15

On: /wp-admin/post.php?post=1&action=edit

[2019-09-11 19:57] DanyCaissy commented on #506
@HardeepAsrani

[2019-09-13 16:21] DanyCaissy opened #528 "Duplicating a chartjs chart will create the new chart with google charts instead"
This was discovered by user feedback

I was able to reproduce it: : https://i.imgur.com/zUn4zqU.png

131 is a duplicate of 129, to reproduce, just create a default bar chart with chartjs and duplicate it

[2019-09-13 17:19] DanyCaissy commented on #528
Note: In case this helps debugging...if you duplicate a chart (and it creates a google chart instead of a chartjs chart), then modify and save right away the duplicated chart, its title will become "Array".

[2019-09-13 18:49] DanyCaissy opened #529 "Color changes randomly, is saved even if not saved"
Comment from a user:

"Column colors change randomly when switching between data editor and chart view. The fun part: The last new colors are automaticaly saved even though I didn't save them"

I did notice this behavior as well.

Desired Behaviour: When a chart is created, the colors are generated randomly in some cases. I think that't fine, however, those colors should be recorded in the json se

[2019-09-14 02:55] contactashish13 commented on #528
Closing as this is a duplicate of https://github.com/Codeinwp/visualizer/issues/514.

PS - @DanyCaissy could you check if the issue already exists before creating a new one?

[2019-09-14 02:55] #528 closed

[2019-09-14 02:55] contactashish13 commented on #529
Closing this as this is a duplicate of https://github.com/Codeinwp/visualizer/issues/517

[2019-09-14 02:55] #529 closed

[2019-09-14 05:09] contactashish13 commented on #516
@DanyCaissy messages that I've added:

![image](https://user-images.githubusercontent.com/12953439/64903725-d1f22500-d6db-11e9-9013-1ab93b97fca7.png)

![image](https://user-images.githubusercontent.com/12953439/64903733-e20a0480-d6db-11e9-9e7b-4da433235423.png)

[2019-09-16 15:19] DanyCaissy commented on #516
@contactashish13

One thing I can think of is the charts which have design modifications that are only visible after saving. There already is a message about it, but it's not very visible, I hadn't noticed it the first time.

We could make that message more visible, akin to your last image.

[2019-09-16 16:57] DanyCaissy opened #532 ""Load More" when less than 6 tables"
I feel like there was a ticket for this before...but I can't find it. Or maybe I just mentioned it on other tickets. If its duplicate feel free to close it.

--

The is a load-more button even when unnecessary: https://i.imgur.com/vxCpq1r.png

Or it will display empty spots. On this screenshot, there are 7 charts, one table, 3 google, 3 chartjs. The chartjs charts are what cause changes to the pag

[2019-09-16 18:57] DanyCaissy commented on #526
@HardeepAsrani That does seem to be fixed on sandbox now

[2019-09-17 00:40] HardeepAsrani commented on #526
YES! We did it, finally! :D

[2019-09-17 00:42] HardeepAsrani commented on #532
It's not possible to fix as the rest route sends 6 posts each time and then we have to display them. Once we implement chartsjs, this should be taken care of.

What do you think @contactashish13? If needed I try to modify and find a way but is this important for now?

[2019-09-18 15:17] DanyCaissy commented on #526
Woot woot! Don't get too happy though, the bug gods feed on happiness.

[2019-09-18 15:39] DanyCaissy commented on #532
@HardeepAsrani When do you think chartjs will be implemented?

The Rest route cannot use a condition to filter out chartjs charts for now?

If chartjs will be implemented within a month, I think this could be ignored. If fixing chartjs is expected to take much longer, I think it'd be worth resolving this first.

[2019-09-24 03:18] contactashish13 commented on #516
@DanyCaissy could you share a screenshot of message that you are referring to?

[2019-09-24 03:23] contactashish13 opened #533 "Fix critical security issues"
https://secure.helpscout.net/conversation/960428242/202130/

@HardeepAsrani please refer to the above ticket. Both issues are part of the Gutenberg block. We need to fix this today and release 3.3.1 this week. cc @DanyCaissy

[2019-09-24 12:37] contactashish13 commented on #533
PR https://github.com/Codeinwp/visualizer/pull/535

[2019-09-24 17:45] DanyCaissy commented on #516
@contactashish13 Oh, this only happens to tables actually, I think. This:

https://i.imgur.com/Y08aQnf.png

I think ideally we'd find a way for the changes to be reflected right away. In the meantime, bolding the text and adding an icon might make this text more visible.

[2019-09-27 04:26] contactashish13 commented on #510
@DanyCaissy can you please test this? It would be good to test this in conjunction with scenarios that throw an error just to see if the error is shown here.

[2019-09-27 19:13] DanyCaissy commented on #510
@contactashish13 On 3.3.1 I don't see these. Where do you want me to test this?

[2019-09-27 19:16] DanyCaissy commented on #516
I've tested and this is fine

[2019-09-27 19:31] DanyCaissy commented on #517
This is fixed

[2019-09-27 19:42] DanyCaissy commented on #517
This is fixed

[2019-09-27 19:46] DanyCaissy commented on #514
This is fixed

[2019-09-27 19:47] DanyCaissy commented on #501
Looks fine

[2019-09-27 20:28] DanyCaissy commented on #498
I've tested this and could not find the error anymore on multi sites

[2019-09-27 20:32] DanyCaissy commented on #512
Could not reproduce error anymore

[2019-09-28 04:38] #532 closed

[2019-09-28 04:39] contactashish13 commented on #510
@DanyCaissy sorry, I didn't publish the branch. You can test this PR - https://github.com/Codeinwp/visualizer/pull/537 for the next release.

[2019-09-30 05:33] #498 closed

[2019-09-30 05:33] #501 closed

[2019-09-30 05:33] #507 closed

[2019-09-30 05:33] #512 closed

[2019-09-30 05:33] #514 closed

[2019-09-30 05:33] #516 closed

[2019-09-30 05:33] #517 closed

[2019-09-30 05:33] #526 closed

[2019-09-30 05:33] #533 closed

[2019-09-30 05:34] contactashish13 opened #540 "Test with WP 5.3"
RC1 target date 15 Oct 2019

https://make.wordpress.org/core/5-3/

[2019-09-30 05:35] contactashish13 commented on #372
@DanyCaissy could you please review these suggestions and see if they can be implemented?

[2019-10-01 04:53] contactashish13 commented on #499
@selul thinking about this more, I don't think we should be using transients. This is because if a caching plugin is not active, everything will go into the options table. **each chart's data will be there in post/postmeta as well as in options**. If we use object caching methods directly and if a caching plugin is not active, the database will not be messed up. What do you think?

[2019-10-01 04:56] jdcast opened #542 "Number Format for Data Series in Column Chart only applied in Chart Preview"
When using Google Charts engine and producing a column chart, the `Chart Settings -> Series Settings -> Number Format` formatter in the chart editor is applied in the `Chart Preview` area in the wp admin panel but is not applied in the final rendered chart in my wp website page when using the following `Manual Configuration`:

[code]

I've looked for a manual configuration option to get the series

[2019-10-01 05:04] contactashish13 commented on #525
PR https://github.com/Codeinwp/visualizer/pull/543 and https://github.com/Codeinwp/visualizer-pro/pull/210

@DanyCaissy can you please test this?

[2019-10-02 10:14] contactashish13 commented on #542
@jdcast if you remove the `series` portion of the manual configuration, do you see the formatting applied?

[code]

[2019-10-02 17:35] jdcast commented on #542
@contactashish13 Yes, the formatting is applied if I remove this.  Though, due to client requirements, I need this `series` portion of the manual configuration.

[2019-10-03 04:19] contactashish13 commented on #542
@jdcast in that case you may need to provide the formatting as part of the manual configuration because that is applied after the rest of the settings have been applied.

[2019-10-03 05:24] jdcast commented on #542
@contactashish13 what are the formatting option(s) for this?  As mentioned in my original question, I have so far failed to find any documentation revealing this particular formatting option within Google Charts' docs.

[2019-10-03 06:34] contactashish13 opened #544 "Add existing features to block editor"
- import from json
- import from db

[2019-10-03 07:00] contactashish13 commented on #386
Closing this as we have decided that only existing charts can be inserted using the gutenberg editor. This is because the visualizer library will be the central resource that contains all charts. We can decide to reopen this later.

[2019-10-03 07:00] #386 closed

[2019-10-03 07:33] contactashish13 commented on #493
PR https://github.com/Codeinwp/visualizer/pull/547

[2019-10-03 15:28] contactashish13 commented on #399
PR https://github.com/Codeinwp/visualizer/pull/548

[2019-10-03 16:15] contactashish13 commented on #522
Can use the `description` field added for https://github.com/Codeinwp/visualizer/issues/399 if this is required.

[2019-10-03 16:16] #399 closed

[2019-10-03 16:16] #493 closed

[2019-10-03 16:17] contactashish13 commented on #292
closing this as a duplicate of #399 (and implemented as part of v3.3.2)

[2019-10-03 16:17] #292 closed

[2019-10-07 07:30] selul commented on #499
@contactashish13 that's fine as long as we set a proper expiration time for transients.

[2019-10-07 07:56] contactashish13 commented on #499
@selul so are you advocating that we use transients despite it messing up the database over a period of time vs. using only caching methods that will serve the same purpose in a better way?

[2019-10-07 07:57] selul commented on #499
yes, is not messing the database in any way.

[2019-10-07 19:26] HardeepAsrani commented on #540
Is this only for Gutenberg part or the entire plugin?

[2019-10-08 03:21] contactashish13 commented on #540
We have discussed this on slack. Here is my verbatim response from there :)

"Only Gutenberg. I'll test the rest"

On Oct 8, 2019, 00:56, at 00:56, Hardeep Asrani <notifications@github.com> wrote:

[2019-10-08 15:43] DanyCaissy commented on #510
@contactashish13 This seems great

[2019-10-08 15:47] DanyCaissy commented on #372
@contactashish13 @Vishakha-Patel I did update these recently, I've added some missing charts, and on each page, I've added more text and more varied examples.

If you want to improve them more and you have time, feel free to do so.

[2019-10-08 16:01] DanyCaissy commented on #525
@contactashish13 There is "Error during visual comparision job" on the 210. Should I still test now or should I wait for that to be fixed?

[2019-10-09 03:43] contactashish13 commented on #525
@DanyCaissy yeah that doesn't matter as long as the travis build is successful for any PR.

![image](https://user-images.githubusercontent.com/12953439/66450136-06f05e00-ea75-11e9-9995-016040cd9152.png)

[2019-10-09 03:49] contactashish13 commented on #542
@jdcast please search for `hAxis.format`  in https://developers.google.com/chart/interactive/docs/gallery/columnchart#configuration-options

[2019-10-09 08:21] jdcast commented on #542
`hAxis.format` seems to be have no effect.  However, it seems that the issue I've encountered may be an open item for Google Charts `options`: https://github.com/google/google-visualization-issues/issues/530?

Is it possible to use the `NumberFormat` class from Google Charts in Visualizer?  I'm looking to be able to do what was done in this SO post https://stackoverflow.com/questions/51704424/tool

[2019-10-09 14:12] contactashish13 commented on #481
PR https://github.com/Codeinwp/visualizer/pull/550 provides support for basic authentication.

![image](https://user-images.githubusercontent.com/12953439/66464539-d7ede280-ea9c-11e9-8bee-03ad3ce4d2d4.png)

@DanyCaissy can you test this as well?

[2019-10-09 15:42] contactashish13 opened #551 "Collect more usage statistics"
- sources being used (one time import, scheduled import, json, db, wp)
- manual configuration

[2019-10-10 03:46] DanyCaissy commented on #525
@contactashish13

I've installed 543 and 210, however it seems there are issues: https://i.imgur.com/JRKtgfz.png

Only one-time is selectable, andd there is a lock on wordpress

[2019-10-10 03:52] DanyCaissy commented on #481
@contactashish13 How would I test this?

[2019-10-10 05:39] contactashish13 commented on #551
PR https://github.com/Codeinwp/visualizer/pull/552 now collects number of charts that have
- different types of sources,
- different libraries
- manual configuration
- overridden default permissions
- been scheduled

[2019-10-10 12:56] contactashish13 commented on #481
@DanyCaissy you can test it as follows:

- create a few posts on the instance
- check that you are able to access the WP API on the browser - `<siteurl>/wp-json/wp/v2/posts`
- install https://wordpress.org/plugins/wp-rest-api-authentication/ and enable basic authentication
- check that you are **not able** to access the WP API now without authentication (you can confirm by using the postman extens

[2019-10-10 12:59] contactashish13 commented on #525
@DanyCaissy no changes were made for import from wordpress. It might have to do with your license. Can you enable/disable the license (or whatever needs to be done for the license to re-register)?

[2019-10-10 13:38] contactashish13 commented on #542
@jdcast if you are comfortable with javascript and can see a way to add this in, please feel free. We'd love to know about it. If you feel you can add a generic implementation, you can also create a PR. But we cannot really provide custom code for our free users.

[2019-10-15 03:39] contactashish13 commented on #525
@DanyCaissy can you please confirm if this is tested?

[2019-10-16 20:45] DanyCaissy commented on #481
@contactashish13  Got it. I've tested this and the auth works fine for me. I've also tested some of the endpoints you've mentioned and noticed a couple issues:

1) https://i.imgur.com/N9NQ28x.png Might be planned on another ticket already, but the 'save and show chart' is at the bottom right now (below the scrollbar) and very easy to miss, the other show chart button (on the right) does not apply

[2019-10-16 21:57] DanyCaissy commented on #525
This is merged correctly, but I could not import the following file:

https://docs.google.com/spreadsheets/d/e/2PACX-1vQFRe6FW2AalDJ12FcQvhdgAe-uQQH9SutfOIVl7dYc-YtnJAoXJqy8HuQst3Ez2hMtWOqo2xzm9zvS/pub?output=csv

I get "You have entered an invalid URL. Please provide a valid URL.", why is that?

@contactashish13

[2019-10-17 02:50] contactashish13 opened #553 "PHP Fatal error: Uncaught Error: Cannot unset string offsets"
- in visualizer/classes/Visualizer/Module/Chart.php:648
- in visualizer/classes/Visualizer/Module/Admin.php:729

tickets: https://secure.helpscout.net/conversation/976342855/204089/ and https://secure.helpscout.net/conversation/961337815/202243/

[2019-10-17 02:56] contactashish13 commented on #553
PR https://github.com/Codeinwp/visualizer/pull/554

[2019-10-17 05:01] contactashish13 commented on #481
@DanyCaissy

1. It don't think its a good idea to shift the button to the right frame as that will make UX even more complicated with 2 action buttons being on the left and one on the right. Maybe we can take that up when we revamp the UX. For the time being I've added a text message.

2. Fixed

3. Fixed

[2019-10-17 05:54] contactashish13 commented on #525
@DanyCaissy this should be okay now. Can you please test again? You may want to clear your browser cache.

[2019-10-17 10:12] contactashish13 commented on #542
Closing this as this is not an issue with the plugin but with the API

[2019-10-17 10:12] #542 closed

[2019-10-17 10:14] contactashish13 commented on #540
@HardeepAsrani as RC1 is out, can you please test and update this issue? @DanyCaissy can you also lend a hand here so that we can be sure everything works on RC1? https://wordpress.org/news/2019/10/wordpress-5-3-release-candidate/

[2019-10-18 21:03] DanyCaissy commented on #525
@contactashish13 This appears fixed now

[2019-10-19 19:40] HardeepAsrani commented on #540
I've tested and it works fine for me. Can you do it @DanyCaissy to double confirm? Also, make sure to have your browser's console open while doing it. :D

[2019-10-20 07:38] HardeepAsrani commented on #544
This adds import from db feature https://github.com/HardeepAsrani/visualizer/commit/8abf98c1b81ceeede30bd9e027628c5f37b7115c

[2019-10-21 06:37] HardeepAsrani opened #556 "Inconsistency in saving schedule"
In JSON import, the meta for the schedule is only created when you click on "Save Schedule" while in Database import it is created even if you don't click on Save schedule.

<img width="748" alt="Screen Shot 2019-10-21 at 12 05 36 PM" src="https://user-images.githubusercontent.com/2649903/67181742-1ff4f980-f3fb-11e9-8c85-b9aa347eb353.png">

So one of them is a little inconsistent. @contactashish13

[2019-10-21 13:26] contactashish13 commented on #540
PR https://github.com/Codeinwp/visualizer/pull/557 ups the "tested upto"

[2019-10-21 13:52] #372 closed

[2019-10-21 14:01] contactashish13 commented on #525
@DanyCaissy I'm sure you must have tested this scenario as well but just mentioning it here in case you haven't -

1. using the previous version, create a scheduled chart and a one time import chart
2. upgrade to this version/PR check that the 2 charts function correctly

[2019-10-21 15:29] DanyCaissy commented on #540
@HardeepAsrani @contactashish13 Which PRs would I test here, for both free and pro?

[2019-10-21 19:08] DanyCaissy commented on #525
@contactashish13  Yes that worked well too.

[2019-10-22 05:53] contactashish13 commented on #481
@DanyCaissy please let me know when you have tested this.

[2019-10-22 09:26] HardeepAsrani commented on #540
@DanyCaissy You will have to test this https://github.com/Codeinwp/visualizer/pull/549

You can test it with both Free & Pro. Let me know if you need any help, on Git or Slack. :)

[2019-10-22 17:32] DanyCaissy commented on #481
@contactashish13 These are fixed

[2019-10-22 17:33] DanyCaissy commented on #481
Oops didn't mean to close.

[2019-10-23 00:52] DanyCaissy opened #558 "JavaScript Error before submit or clone"
Upon creation or duplication of a new chart, there is a JS error that shows up for like 0.5 second. It might not cause any issues but could be looked at: https://i.imgur.com/n9jjzhM.png

[2019-10-23 00:57] DanyCaissy commented on #540
@HardeepAsrani  @contactashish13

I could not find any difference witih the new WP version. No bugs that I could find.

[2019-10-23 18:47] HardeepAsrani commented on #544
This adds import from JSON feature: https://github.com/HardeepAsrani/visualizer/commit/cc30e162f61e800d114ad5e4b13cfb2d48bb6538

We can test now. cc @DanyCaissy @contactashish13?

Give these one a throughout testing as they're little complex in terms of data handling so make sure I've missed nothing. :)

[2019-10-25 07:55] SilviuDinu commented on #470
@contactashish13 I investigated this and couldn't find a general way to do it through CSS. It only works with **transform: translate;** property and you need to add <br> in the HTML to add spaces. I don't think it's worth adding this in the docs since it's just this client asking about it.

Did you have something else in mind when you mentioned CSS manipulation? Maybe there is a tool or something

[2019-10-25 09:45] contactashish13 commented on #470
@SilviuDinu yes, you can use that and then add padding/margins. You can close this if this is not a generic issue

[2019-10-25 12:59] #470 closed

[2019-10-25 21:06] DanyCaissy commented on #544
@HardeepAsrani

I was able to import from http://swapi.co/api/people properly.

I could not import from this: https://jsonplaceholder.typicode.com/posts, the error says its not valid json. Is there a reason for that?

Database import was working that I could tell so far.

Whenever I click "import from other charts" I get this error:

Invariant Violation: Minified React error #31; visit https://rea

[2019-10-29 16:41] contactashish13 commented on #214
PR https://github.com/Codeinwp/visualizer/pull/560 adds support for multiple `roles` as defined in https://developers.google.com/chart/interactive/docs/roles#what-roles-are-available

This option will be available under each series as below
![image](https://user-images.githubusercontent.com/12953439/67788544-8d0e2c00-fa98-11e9-8877-357e40faab71.png)

The intent is to allow the user to upload any C

[2019-11-01 05:51] contactashish13 commented on #558
@DanyCaissy the error seems like it is being triggered by some chrome extension you are using. Do you get the error when you disable it?

[2019-11-02 19:49] HardeepAsrani commented on #544
@DanyCaissy It doesn't work with all JSON imports, so that's not an issue with the block but how the integration works.

Is the website up so I could test it with the chart import? Must be some invalid syntax. Let me know if you can provide me with the instance online so I could try it and see. :)

@contactashish13

[2019-11-03 05:54] contactashish13 commented on #544
https://github.com/DanyCaissy if a url works with the classic visualizer it should work with the block editor. If it doesn't work with the former, can you please create a new issue so that all such sources can be investigated and supported, if possible.

On Nov 3, 2019, 01:19, at 01:19, Hardeep Asrani <notifications@github.com> wrote:

[2019-11-04 01:24] DanyCaissy commented on #558
It was caused by the axe extension. Closing

[2019-11-04 01:24] #558 closed

[2019-11-04 01:26] DanyCaissy commented on #544
@contactashish13 This is something that had only happened with this PR.

[2019-11-04 04:42] contactashish13 commented on #544
@HardeepAsrani please make sure all JSON feeds that work on classic work with gutenberg too.

[2019-11-04 07:26] HardeepAsrani commented on #544
@contactashish13 @DanyCaissy That URL also doesn't work with the classic Visualizer editor.

<img width="1680" alt="Screen Shot 2019-11-04 at 12 55 28 PM" src="https://user-images.githubusercontent.com/2649903/68104791-70437f80-ff02-11e9-974e-09cefa878148.png">

[2019-11-04 07:56] contactashish13 commented on #544
@HardeepAsrani it works with the PR in https://github.com/Codeinwp/visualizer/issues/481 where I added support for many types of JSON feeds. Please try with that and support these.

[2019-11-05 07:36] contactashish13 commented on #556
Closing this as it will be handled as part of https://github.com/Codeinwp/visualizer/issues/481

[2019-11-05 07:36] #556 closed

[2019-11-05 09:26] contactashish13 commented on #481
@DanyCaissy I've come around to your way of thinking about the button. It helps address #556 as well.  PR: https://github.com/Codeinwp/visualizer/pull/563

[2019-11-06 10:29] HardeepAsrani commented on #544
@contactashish13 Given that we've changed the default root from `root > results` to `root`, it's causing an issue on older JSON URLs. The error is there in both versions but it's more visible on Gutenberg.

<img width="833" alt="Screen Shot 2019-11-06 at 3 56 07 PM" src="https://user-images.githubusercontent.com/2649903/68290492-09fb6000-00ae-11ea-862e-322484284db1.png">

It's returning Array in t

[2019-11-07 09:05] contactashish13 opened #565 "UI Change: Tabs for chart selection"
https://app.asana.com/0/1129400186358085/1131910462592070/f

[2019-11-07 12:03] HardeepAsrani commented on #506
I've added the support for flat feeds and headers. @DanyCaissy can you test and check if everything is as it should be?

[2019-11-07 14:34] DanyCaissy commented on #506
@HardeepAsrani What do you mean exactly with "flat feeds and headers" ? Is this the right ticket?

[2019-11-07 14:52] HardeepAsrani commented on #544
@DanyCaissy Yes, that issue was wrong. :)

Now you should be able to use the feed which didn't work previously, like WP Rest's API.

[2019-11-07 15:00] SilviuDinu commented on #214
@contactashish13

tested on both local and jurassic-ninja

### Annotations
I think there is a weird behavior on **bar / column charts** with annotations. Or at least I don't understand exactly how it should work.
1. For instance, I tested on a bar chart and every time I select the annotations role for a series, that particular series **vanishes** from the **chart and legend,** its color is inherit

[2019-11-07 15:25] DanyCaissy commented on #544
@HardeepAsrani Which PR?

[2019-11-07 15:26] HardeepAsrani commented on #544
It's the same PR. You just need to run git pull to pull the latest changes: https://github.com/Codeinwp/visualizer/pull/549

[2019-11-07 15:41] DanyCaissy commented on #544
@HardeepAsrani Works fine now

[2019-11-09 17:59] DanyCaissy commented on #565
Disregard, Will instead be done as part of https://app.asana.com/0/1129400186358085/1136357868952291

[2019-11-09 17:59] #565 closed

[2019-11-11 08:15] contactashish13 commented on #214
@SilviuDinu as explained and understood by you, selecting any role will take the series out of the chart. Therefore the below should no longer be a cause for confusion. Could you please edit your comment accordingly?

I have fixed the issue two issues you have found.

In the document, you can use the attached CSV file as an example of how to provide annotations. Please note that the annotation col

[2019-11-11 08:19] contactashish13 commented on #214
@DanyCaissy can you also test this please?

[2019-11-11 10:08] contactashish13 opened #567 "Add Bubble charts"
https://app.asana.com/0/1129400186358085/1148817325462123/f

[2019-11-11 16:05] contactashish13 commented on #540
PR https://github.com/Codeinwp/visualizer/pull/568 will be used to release v3.3.2 with just WP 5.3 support

[2019-11-12 04:35] #540 closed

[2019-11-12 11:23] contactashish13 commented on #567
PR https://github.com/Codeinwp/visualizer/pull/571

[2019-11-13 02:00] DanyCaissy commented on #214
The annotation setting is reset when data is changed, is that intended?:

![2019-11-12_19-41-39](https://user-images.githubusercontent.com/5183243/68722789-9614f800-0584-11ea-85ef-f161e9668824.gif)

Additionally, it seems every two times you load a chart (more or less), it loads infinitely, here's a gif to show it:

![2019-11-12_20-55-08](https://user-images.githubusercontent.com/5183243/68726252-

[2019-11-13 05:49] contactashish13 commented on #214
@DanyCaissy what you are trying to do in step 1 is something that has always been a problem with the UX. Just like when you add a new series, it does not reflect in the settings unless you save the chart. Similarly, any changes in the settings is temporary till the chart is not saved. Our users have got used to this idiosyncrasy and till the complete overhaul, we should too :) The correct workflow

[2019-11-13 09:38] ineagu opened #577 "block editor embed charts confusion"
@DanyCaissy when I try to click display an existing chart the current behaviour and message is very confusing : https://www.dropbox.com/s/m6hnvz4g6rdkgan/Screenshot%202019-11-13%2009.37.31.png?dl=0

https://www.dropbox.com/s/m6hnvz4g6rdkgan/Screenshot%202019-11-13%2009.37.31.png?dl=0

There are lots of existing charts and they are not chartsjs based.

[2019-11-13 11:17] contactashish13 opened #579 "Manual data tab to show options for multiple editors"
https://app.asana.com/0/1129400186358085/1148817325462121/f

[2019-11-13 15:48] DanyCaissy commented on #577
@ineagu Are you able to reproduce it on a https://jurassic.ninja/ instance?

I haven't encountered this yet.

[2019-11-13 17:22] DanyCaissy commented on #214
@contactashish13

1- Yeah I do remember it being an issue previously, just wanted to make sure.

2- That is fixed

[2019-11-13 17:37] ineagu opened #580 "edit chart should open the method of creation by default"
@DanyCaissy I created a chart by inputting manual data, I click edit chart, I expect to have the same tab opened by default, no the initial tab of : " upload a file", I am pretty sure nobody would use that when they click edit on a chart created with the spreadsheet editor.

[2019-11-13 17:40] ineagu opened #581 "add new chart ui pattern"
@DanyCaissy this ui pattern for me is rather confusing, search/add are completely different actions, I would think the icon means soemthing else, I would rather remove that and add a mockup chart in the list with "add new" , or just remove : https://www.dropbox.com/s/phkqpxad4f9jcwp/Screenshot%202019-11-13%2017.39.59.png?dl=0

[2019-11-13 17:40] ineagu commented on #581
feel free to close if don't agree

[2019-11-13 17:42] ineagu commented on #577
I got another error on jurassic : https://www.dropbox.com/s/ud6bk5a0sr9oxon/Screenshot%202019-11-13%2017.40.52.png?dl=0

https://excessive-constrictor.jurassic.ninja will be destroyed in 7 days. Sign out and sign in to get 7 more days.
WP user: demo WP/SSH password: uYmr1Fb53DoD

https://excessive-constrictor.jurassic.ninja/wp-admin/post.php?post=9&action=edit

[2019-11-13 17:44] DanyCaissy commented on #580
@contactashish13

Would that be difficult to implement?

For existing charts, we'd have to record the last manner in which we modified the data (import file, importdb, manual, etc.) onto the chart, and when re-opened by editing, that tab would be open by default.

[2019-11-13 17:45] ineagu commented on #580
or just try to find a general pattern, like what's the most popular thing a user would want when editing a chart ?

[2019-11-13 17:53] DanyCaissy commented on #581
@ineagu I'm not sure I understand fully.

When there are no charts of that type the user is invited to create one this way: https://i.imgur.com/9vMxS8c.png

Is that the part that you don't like?

[2019-11-13 18:19] DanyCaissy commented on #577
I thought this might be an instance issue but I was able to reproduce it on another instance.

The steps were just:

1- Create a new jurassic instance
2- install visualizer free from store
3- create a default table
4- create a post
5- attempt to open the gutenberg visualizer view

https://i.imgur.com/HwisNDO.png

@contactashish13 Any idea what might have broken this?

[2019-11-14 03:58] contactashish13 commented on #580
@ineagu @DanyCaissy you cannot create a chart by using the manual data. It is **only** an editor and you edit existing data to modify the chart. So it does not count towards being a **source** of data. If you use any other source, the tab that was used opens by default.

[2019-11-14 04:19] contactashish13 commented on #577
@HardeepAsrani is this a problem with 5.3?

[2019-11-15 08:17] HardeepAsrani commented on #577
Fixed it in https://github.com/Codeinwp/visualizer/pull/582 @contactashish13

[2019-11-15 09:40] #577 closed

[2019-11-17 22:08] DanyCaissy opened #585 "DataTable charts - Infinity Pagination"
If you put 0 or empty in the number of rows per page, you get this:

https://i.imgur.com/5CGnpss.png

This could be mildly confusing for some users.

Instead, if the value is 0 or empty, we could default it to 1.

[2019-11-17 23:02] DanyCaissy opened #586 "Breaking Bug- Visualizer prevents creation of new posts"
Steps:

1- Initialize new wordpress instance
2- Install Visualizer 3.4.0
3- Attempt to create a new post (https://administrative-fin.jurassic.ninja/wp-admin/post-new.php)

Result: https://i.imgur.com/lr5pImh.png

Happened on local and reproduced on jurassic below:

https://administrative-fin.jurassic.ninja
WP user: demo WP/SSH password: DJTabOdAVBAa

[2019-11-17 23:12] DanyCaissy opened #587 "Buy Now is not displayed properly"
On 3.4 free only:

![2019-11-17_18-10-30](https://user-images.githubusercontent.com/5183243/69015796-feeedc80-0997-11ea-9aaf-53b2a7135cb4.gif)

Import from database or wordpress are not showing the "Buy Now" properly.

[2019-11-17 23:13] DanyCaissy commented on #587
Happens on other types of charts too, on a new instance with just 3.4.0

[2019-11-18 00:21] DanyCaissy opened #588 "Bubble settings not clear"
https://i.imgur.com/AKac2z5.png

- I haven't noticed a difference with "sort bubbles by size", is that because the default data doesn't allow to see the change? If so, could we change the default data to make this change visible?
- The sizemax and sizemin don't really seem to work properly, putting any number on sizemax will turn every bubble into the largest bubble available, sizemin does very li

[2019-11-18 01:00] DanyCaissy opened #589 "Visualizer Lite notification when lite is installed"
https://i.imgur.com/xQXzk9L.png

Both 3.4 and 1.9.2 are installed and this notification appears, it should not appear

[2019-11-18 01:12] DanyCaissy opened #590 "Combo chart not loading"
I was not able to load the combo chart, it just loads indefinitely:

https://i.imgur.com/44fBzZb.png

[2019-11-18 01:18] DanyCaissy opened #591 "Charts in library don't load after F5 Refresh (half the time?)"
![2019-11-17_20-14-31](https://user-images.githubusercontent.com/5183243/69017804-82fd9000-09a9-11ea-8ef3-936c5ea7c971.gif)

Exactly half the time, the charts dont refresh properly after a f5 refresh. a Full reload (ctrl shift R) does the same thing.

This is using the newest version of chrome.

Please fix and test in other browser.

[2019-11-18 01:28] DanyCaissy commented on #591
Note:

It might be a specific chart causing it. this page sometimes doesnt load:

https://i.imgur.com/0Js0jCA.png

But this page always loads:

https://i.imgur.com/BNzbz5b.png

[2019-11-18 03:33] contactashish13 commented on #586
@DanyCaissy Renaming this as this is an error with testing of 3.4 and not an issue with the current/past plugin version. It does not merit an issue per item. Let's track all instances of this testing here.  I will close all issues related to testing of 3.4.0 and track them here.

[2019-11-18 03:34] contactashish13 commented on #587
Closing and resolving as per https://github.com/Codeinwp/visualizer/issues/586#issuecomment-554836561

[2019-11-18 03:34] #587 closed

[2019-11-18 04:00] contactashish13 commented on #590
Closing and resolving as per https://github.com/Codeinwp/visualizer/issues/586#issuecomment-554836561

[2019-11-18 04:00] #590 closed

[2019-11-18 05:04] contactashish13 commented on #591
@DanyCaissy There are 2 ways to trace this. Either with logs (in case there is an error in one of the charts) or by deleting each chart you have created and then reloading.

[2019-11-18 05:07] #586 closed

[2019-11-18 05:09] contactashish13 commented on #589
@DanyCaissy this only happens when pro is active and free is either not installed or active. Please use a public instance where this can be reproduced

[2019-11-18 06:09] contactashish13 commented on #588
@DanyCaissy

1) I couldn't either. Have added the feature anyways. If you can reproduce on a jsfiddle, let me know.

2) you can check this out if it makes sense: https://developers.google.com/chart/interactive/docs/gallery/bubblechart#configuration-options and let me know what text needs to be added to make it clearer

[2019-11-18 06:40] contactashish13 commented on #585
PR https://github.com/Codeinwp/visualizer/pull/592

[2019-11-19 07:13] contactashish13 commented on #579
PRs https://github.com/Codeinwp/visualizer/pull/594 and https://github.com/Codeinwp/visualizer-pro/pull/227

These should also take care of #580 for manually edited charts.

There are the following scenarios here:
- old free + new pro - only Excel editor
![image](https://user-images.githubusercontent.com/12953439/69123142-9eaa8880-0ac6-11ea-97f7-fbd343b6d48a.png)

- new free + old pro - only Excel

[2019-11-19 08:51] contactashish13 opened #595 "Add cypress tests for Gutenberg block"

[2019-11-19 12:46] contactashish13 commented on #591
@DanyCaissy @SilviuDinu was able to reproduce it on an instance with just 1 google chart.

[2019-11-19 13:22] contactashish13 commented on #591
@DanyCaissy have fixed this in the 3.4.0 branch.

[2019-11-20 00:12] DanyCaissy commented on #589
Of course I know that.

You can reproduce it here:

https://severe-storm.jurassic.ninja/wp-admin/options-general.php
https://i.imgur.com/wxDkVzw.png

https://severe-storm.jurassic.ninja
WP user: demo WP/SSH password: If9aG4hX1NG8

[2019-11-20 00:24] DanyCaissy commented on #588
If there is no bug in the implementation then this is fine, just wanted to make sure.

[2019-11-20 00:24] #588 closed

[2019-11-20 00:40] DanyCaissy commented on #579
@contactashish13 This is fine now

[2019-11-20 05:15] contactashish13 commented on #589
@DanyCaissy this is because the visualizer plugin is named `Codeinwp-visualizer-43889df`. If you rename it to the correct name, it should not be a problem

![image](https://user-images.githubusercontent.com/12953439/69211059-c95a1700-0b82-11ea-86da-7ad13b5a45d9.png)

[2019-11-20 23:13] DanyCaissy commented on #589
@contactashish13

Ah okay, so this happens due to the way I download the plugin, and it wouldn't happen to a normal user.

I'll close this then.

[2019-11-20 23:13] #589 closed

[2019-11-21 06:52] contactashish13 opened #598 "ftp_nlist() warnings"
https://wordpress.org/support/topic/ftp_nlist-warnings/

[2019-11-21 06:55] contactashish13 commented on #598
Unable to reproduce this by setting `define('FS_METHOD', 'ftpext');` instead run into another "error" that is probably not an error...

`
Fatal error: Uncaught Error: Call to undefined function ftp_nlist() in E:\work\projects\webdesign\wordpress-themeisle\wp-admin\includes\class-wp-filesystem-ftpext.php:402 Stack trace: #0 E:\work\projects\webdesign\wordpress-themeisle\wp-admin\includes\class-wp-f

[2019-11-23 18:10] DanyCaissy commented on #585
Fixed

[2019-11-23 18:10] DanyCaissy commented on #591
Fixed

[2019-11-25 03:37] #585 closed

[2019-11-25 08:38] contactashish13 opened #599 "Improve description to mention Gutenberg"
https://wordpress.org/support/topic/gutenberg-79/

[2019-11-25 15:49] DanyCaissy commented on #591
I can reproduce this bug again...I'm not sure why it came back. To reproduce it:

https://rising-stork.jurassic.ninja
WP user: demo WP/SSH password: FIoifVIXUztT

Go to this page: https://rising-stork.jurassic.ninja/wp-admin/admin.php?page=visualizer

F5 multiple times, half of the time the charts don't load

[2019-11-25 17:11] SilviuDinu opened #600 "Chart annotations not visible in previews"
### Testing environment
https://fascinating-racoon.jurassic.ninja
WP user: demo WP/SSH password: SCLJjdnAzihN

### Issue
I added annotations for a column chart and Saved it. The annotations weren't visible in the chart's preview in the Chart Library or in the Gutenberg block., but the chart is correctly displayed on the frontend.

The annotations appeared in the preview only after adding another c

[2019-11-26 07:27] contactashish13 commented on #591
@DanyCaissy I can't reproduce it unless I pressing F5 multiple times a second (which is not what any user would do). If that's not the case, can you provide a screen recording?

[2019-11-26 09:05] DanyCaissy commented on #591
@contactashish13

Ah, it does seem to happen mostly if we refresh quickly. For me, if you refresh within 1 to 2 seconds, it will be loading.

![2019-11-26_10-03-19](https://user-images.githubusercontent.com/5183243/69614819-1a12b980-1034-11ea-9302-1cb572813073.gif)

In that case it is just a minor annoyance.

[2019-11-27 10:09] contactashish13 commented on #600
@SilviuDinu I've fixed this and merged it into the 3.4.0 branch.

It will be a good idea to test a library with
- only google charts (charts without annotations)
- only google charts (charts only with annotations)
- only google charts (charts with and without annotations)
- only chartjs charts
- only table charts
- a mix of the above

[2019-11-28 10:41] contactashish13 commented on #591
@DanyCaissy can you also test wrt https://github.com/Codeinwp/visualizer/issues/600#issuecomment-559020654 as these are related?

[2019-11-30 07:15] contactashish13 commented on #581
@ineagu @DanyCaissy are we clear on what this issue is? I'm confused :)

[2019-12-01 07:15] DanyCaissy commented on #600
@contactashish13

If I clone a chart with annotations multiple times then hit F5 then the library page will load indefinitely. This didn't happen when I added new chart afterwards, but I hit F5 and then it never worked again. It seems as if the F5 itself broke it.

https://literary-shrimp.jurassic.ninja
WP user: demo WP/SSH password: LaYOyDnv8XNP

https://literary-shrimp.jurassic.ninja/wp-admin/ad

[2019-12-01 07:59] DanyCaissy commented on #600
Just in case, this is using chrome, and it looks like that: https://i.imgur.com/8mVZhV3.png

They never load

[2019-12-01 14:35] DanyCaissy commented on #599
@contactashish13 Added part about gutenberg here: https://github.com/Codeinwp/visualizer/pull/561/commits/a98422983ae037f6d4876aa749782aaab23ee328

[2019-12-02 03:43] contactashish13 commented on #600
@DanyCaissy this would need a video to see the process you followed. I cannot replicate it.

[2019-12-11 14:05] DanyCaissy commented on #600
@contactashish13

I tried to test this, but it seems charts just don't load at all in the current version of 3.4.

https://fair-antelope.jurassic.ninja
WP user: demo WP/SSH password: VDKSpW7Hkptv

To reproduce:

I just created a new instance, added 3.4, and created a default piechart. After F5 chart doesn't load in library in either chrome or firefox

[2019-12-12 04:51] contactashish13 commented on #600
@DanyCaissy I cannot reproduce this. I created a line chart and then refreshed. You can log in as well and click refresh. This cannot be understood or reproduced without a video.

[2019-12-12 13:56] DanyCaissy commented on #600
@contactashish13

Well, they just don't load for me, in all 3 browsers that I've tried:

![2019-12-12_21-53-40](https://user-images.githubusercontent.com/5183243/70717730-eb7e2980-1d29-11ea-951d-df91e6e74476.gif)

I've even tried to use a VPN and changed location.

@SilviuDinu Can you login to that instance and see if you can see the charts in the library after hitting F5?

[2019-12-13 09:35] SilviuDinu commented on #600
@DanyCaissy @contactashish13

I tested the fair-antelope instance and I've created a video with the results.

Video link -> https://share.vidyard.com/watch/DoEsKUxjfwdyEHT1YpqRLr?

I have to press F5 a few times before the issue appears.
On the first browser tab, I had to press F5 twice in 1 second for the issue to occur.
However, on the incognito window, I pressed F5 normally (like any other user

[2019-12-13 10:35] SilviuDinu commented on #600
The issue with endlessly loading the preview happened to me with every scenario from above. I had to create a new instance for each scenario because even after deleting the plugin and install it again. the newly created charts had this issue from the start.

I did not record new videos because is the same as in my last comment, only with multiple chart types. Here are some of my instances where I

[2019-12-13 12:17] contactashish13 commented on #600
@SilviuDinu @DanyCaissy Let me explain why this happens so that when you try to reproduce you can tell me the **exact sequence of events** because I cannot reproduce this. When charts are loaded in the library, each chart is called N times where N = the number of libraries being loaded in the page. That is why I've suggested testing with single and multiple libraries. When a chart is loaded, a loc

[2019-12-14 04:58] contactashish13 opened #602 "Having SCRIPT_DEBUG on causes issues in real time update of charts"
https://wordpress.org/support/topic/chart-does-not-update-after-clicking-save-show-chart-with-script_debug-on/

[2019-12-14 20:44] purplecodes opened #603 ""Total" row does not appear at the bottom of the table chart"
When creating a table chart, the 'Total' is alphabetized and does not appear at the bottom.

Screencast: https://www.loom.com/share/44bac320956949ef98224d7481b14f13

Steps to replicate:
1. Created a new table chart
2. Imported the CSV file provided by the user
3. The 'Total' row appears three rows from the bottom as it is alphabetized

Lite version: 3.3.4
Ticket:  https://secure.helpscout.net/conv

[2019-12-16 06:33] contactashish13 commented on #603
@purplecodes what do you think the behavior should be?

PS - @Codeinwp/support please always mention the error and the expected result.

[2019-12-16 15:57] DanyCaissy commented on #600
It used to only happen "before 2 seconds" for me, kinda, now it just happens no matter what, as I explained above.

Here is a gif of the how to reproduce it, from the very start, the creation of the instance even:

![2019-12-16_23-51-18](https://user-images.githubusercontent.com/5183243/70921606-96ab1d80-205f-11ea-8f59-fcc6720e4d3a.gif)

https://marked-stork.jurassic.ninja
WP user: demo WP/SSH pas

[2019-12-16 15:58] DanyCaissy commented on #600
@contactashish13

Gif didn't upload the first time, here it is:

![2019-12-16_23-51-18](https://user-images.githubusercontent.com/5183243/70921712-ce19ca00-205f-11ea-841f-fab8db39be74.gif)

[2019-12-17 05:47] contactashish13 commented on #600
@DanyCaissy I tried this on a fresh instance and cannot reproduce this. I have a feeling you are refreshing this within 2 seconds again. Can you please open the dev console to the tab in my screenshot and see how that local storage behaves?

[2019-12-17 10:37] SilviuDinu commented on #603
@purplecodes the data table type of chart will sort the fields alphabetically (by default). In order to make sure it respects the order given in the CSV, we can check the Disable Sorting option from Advanced Settings.

I tried to make a video that will help to explain better -> https://share.vidyard.com/watch/u98CFHKNsEgPhMCno4ErDr?

@contactashish13 we can wait until the client responds to make s

[2019-12-17 11:35] purplecodes commented on #603
@SilviuDinu

I missed this setting. Thanks for pointing that out. I tested and it did place the 'Total' row at the bottom of the table. I guess we can close it now.

[2019-12-18 03:54] #603 closed

[2019-12-21 09:04] DanyCaissy commented on #600
@contactashish13

Why would you say I'm refreshing within 2 seconds when the previous video shows I'm waiting longer?

Video in the zip:

[2019-12-21_16-59-25.zip](https://github.com/Codeinwp/visualizer/files/3991237/2019-12-21_16-59-25.zip)

I'm using both chrome and then firefox, waiting way longer than two seconds, the local storage is open also.

The charts just wont display at all.

[2019-12-22 05:33] contactashish13 commented on #214
@SilviuDinu can you add an example for https://wordpress.org/support/topic/charts-how-to-show-string-on-only-on-series-point-hover/ to the document?

[2019-12-22 05:42] contactashish13 commented on #600
@DanyCaissy there was no timeline in the GIF you had attached so I had no way of knowing how long you are waiting. In the video you have attached now, the timeline helps to understand this better.

I dont know why your instance on your computer behaves differently from the same instance on mine. Video attached.
[video.zip](https://github.com/Codeinwp/visualizer/files/3992166/video.zip)

[2019-12-22 05:43] DanyCaissy commented on #600
@contactashish13

This was not on my computer, this was on https://marked-stork.jurassic.ninja

[2019-12-22 05:44] contactashish13 commented on #600
@DanyCaissy please view the video I have attached as well. I have mentioned **instance** on different computeres

[2019-12-22 05:49] DanyCaissy commented on #600
@contactashish13

I don't know either but if it this happens to me, it can happen to other users, so it should be fixed regardless. This happens to me on multiple browsers, IPs (different countries + vpn), and multiple instances and can be reproduced when I follow the steps.

If you think this is an issue with my laptop, maybe we can ask least 5 people to reproduce these steps, if none of them enc

[2019-12-22 05:55] contactashish13 commented on #600
@SilviuDinu @selul can you please try the below credentials and see if you are able to view the chart when you press F5? @Codeinwp/support @mileamadalin can you help as well?

[2019-12-22 05:57] DanyCaissy commented on #600
Also, try different browsers, different interval (F5 after 1s, F5 after 5s, etc.) and note if there's any differences please.

[2019-12-22 09:05] SilviuDinu commented on #600
I can't replicate it anymore unless I'm pressing F5 within less than ~2 secs (on all browsers from below). The chart is visible to me otherwise (if I wait more than 2 secs between pressing F5).

chrome -> https://share.vidyard.com/watch/KoEKZ5dGw2GLRRPBX8nCoZ?
edge -> https://share.vidyard.com/watch/ZYUeQ9dxxGb9f1UykMwtiy?
firefox -> https://share.vidyard.com/watch/jn6X86yDwBK1PSAXGUDujg?

[2019-12-23 07:32] contactashish13 commented on #503
@DanyCaissy PR https://github.com/Codeinwp/visualizer/pull/604 fixes this. Can you please test this? The chart will not adjust as you resize - you will have to refresh the screen.

[2019-12-23 12:06] contactashish13 commented on #602
PR https://github.com/Codeinwp/visualizer/pull/605 addresses this.

@SilviuDinu @DanyCaissy can you please test this to make sure it does not inadvertently affect anything else?

[2019-12-27 10:39] DanyCaissy commented on #503
@contactashish13 This is fixed

[2019-12-27 10:42] DanyCaissy commented on #600
@selul  @Codeinwp/support @mileamadalin

We really need more users to try the steps above, please attempt the steps above and report back.

[2019-12-27 10:47] DanyCaissy commented on #600
@contactashish13 Note that putting the current public visualizer version on the same instance will fix the charts and they will load no matter what, even if is I hit F5 before 2 seconds. On the new version, F5 before or after 2 seconds will not load no matter what.

Before release, we need to ensure that this version works as well as the previous (meaning charts should load, even if F5 is hit with

[2019-12-27 12:16] DanyCaissy commented on #602
@contactashish13

I am still getting this error with PR605, as per this video:

![2019-12-27_20-14-30](https://user-images.githubusercontent.com/5183243/71516743-a0494680-28e5-11ea-96ad-dbb4185ca904.gif)

This was after adding the debug line and restarting my local wamp:

https://i.imgur.com/dRPGXCr.png

[2019-12-27 13:10] mileamadalin commented on #600
I will try the steps above in the upcoming days.

[2019-12-28 07:07] contactashish13 commented on #600
@DanyCaissy refresh before 2s will not work  and there is no reason to expect it to, either, considering the change in the code and the reason it has been put in place as explained in https://github.com/Codeinwp/visualizer/issues/600#issuecomment-565421196.

However the charts will load when the next time the user does not refresh within 2s and allows the charts to load. Refresh within 2s is not a

[2019-12-28 07:09] contactashish13 commented on #602
@DanyCaissy can you test after clearing your browser cache?

[2020-01-04 01:12] DanyCaissy commented on #600
@mileamadalin @Codeinwp/support

Could you please test this (and ask another member in the support team also) ?

We cannot release until this has been verified by multiple users.

[2020-01-04 01:54] DanyCaissy commented on #602
@contactashish13

I've tried multiple ways and browsers but the error always happens to me, even after clearing the cache.

This is with firefox after clearing cache

![2020-01-04_09-50-53](https://user-images.githubusercontent.com/5183243/71758233-2f52f180-2ed8-11ea-8d4c-c3ee633229ff.gif)

[2020-01-04 01:56] DanyCaissy commented on #600
Just want to note again, if I clear my cache and refresh only after 2 seconds each time, my library is fine.

The issue is that, if I do it within 2 seconds ONCE, the entire instance will never refresh properly again, before or after 2s, until I refresh the cache. It's like refreshing within 2s 'corrupts' the cache until it is cleared again.

[2020-01-04 06:00] contactashish13 commented on #602
@Codeinwp/support @mileamadalin need help testing this as well.

[2020-01-07 12:38] rodica-andronache commented on #581
I think it's about this part, which I find confusing also, at first
![download (5)](https://user-images.githubusercontent.com/3266155/71895975-2887e100-315b-11ea-96c2-c42b032b3698.png)

[2020-01-07 13:11] rodica-andronache commented on #602
@contactashish13 I've tested with https://github.com/Codeinwp/visualizer/pull/605 with `define('SCRIPT_DEBUG', true);` and I also still get that console error each time I click on **Show Chart** after editing the chart even though after clicking **Save Chart** the chart is saved well.
I've tested with multiple types of charts and the same thing happened.

Here's a video of it https://www.loom.com/

[2020-01-07 14:32] rodica-andronache commented on #600
@contactashish13 @DanyCaissy I've tested this and here is what I saw:

- for the annotations issue. I've tried creating a new **Column** type chart, go to **Series Settings** and tried to update the **color** of one of the elements and add **annotations**. An error appeared in the console, which I think is the cause for the color and annotation not to apply in the preview.
Here's a video of what I

[2020-01-07 14:38] rodica-andronache commented on #510
I think it would be a good idea to have a `Last updated:` message before the date
![download](https://user-images.githubusercontent.com/3266155/71903098-034f9e80-316c-11ea-864c-d83e2f230eba.png)

[2020-01-08 00:42] DanyCaissy commented on #581
I think for now we could just remove the +. There is already a mockup chart and there is an "add new".

For bigger changes we can wait until we rework that interface.

Thoughts?

@contactashish13 @rodica-andronache

[2020-01-08 02:19] contactashish13 commented on #510
@rodica-andronache when you mouseover, you see the title as "Last Updated". If we explicitly state Last Updated then we also have to explain what the green tick or the red cross means that is why I tried to keep the UI consistent by using a mousover title instead. Let me know if you still want the text.

[2020-01-08 03:18] contactashish13 commented on #600
@rodica-andronache Can you please confirm that the error in your first video is not a consequence of https://github.com/Codeinwp/visualizer/issues/602#issuecomment-571579735?

To reproduce your second video I need the page to load super quick (within 1s) and my net connection conspires against it so I'm unable to replicate your steps even on a clean jurassic instance. However, I have pushed in a c

[2020-01-08 08:33] rodica-andronache commented on #581
I think it would be a good idea

[2020-01-08 09:05] rodica-andronache commented on #510
@contactashish13 I'm good with that behavior. It is just that for me, no matter what chart I create, using https://github.com/Codeinwp/visualizer/pull/561 the title is empty for the green tick, so nothing appears on mouseover for it. Is there something else I'm missing?
https://www.loom.com/share/9b420b4902a94457a4d9a000ff48ebb1

[2020-01-08 09:22] contactashish13 commented on #510
@rodica-andronache actually there is no title for the green tick but the red cross gives a title  of 'Click to view the error'

[2020-01-08 09:47] rodica-andronache commented on #600
@contactashish13

1.  Indeed, the first error is happening only when you have `define('SCRIPT_DEBUG', true);` set and is working ok with the fix here https://github.com/Codeinwp/visualizer/pull/605

2. But without `define('SCRIPT_DEBUG', true);` I still think the annotations don't work properly, at least, from what I understand, with this PR https://github.com/Codeinwp/visualizer/pull/561
You can

[2020-01-08 09:49] rodica-andronache commented on #510
ok, I understand 👍

[2020-01-08 09:55] contactashish13 commented on #581
PR https://github.com/Codeinwp/visualizer/pull/607 removes the + button

[2020-01-08 10:05] contactashish13 commented on #600
@rodica-andronache

1 and 3 - Perfect!

2. I've tried to explain how annotations work here: https://github.com/Codeinwp/visualizer/issues/214#issuecomment-552338251 Let me know if you need more clarity and I can explain it on slack.

PS - Sorry, I meant that when you try to insert the chart to test it on the front end, it would be preferable to use the classic editor so that any idiosyncrasy intro

[2020-01-08 11:07] rodica-andronache commented on #581
#607 is working well for me

[2020-01-08 11:43] rodica-andronache commented on #600
@contactashish13 thanks, I've understood now how annotations work and everything looks good from what I've tested

[2020-01-09 11:15] rodica-andronache commented on #418
+1 I find this confusing also ( if it's not a bug )
![download](https://user-images.githubusercontent.com/3266155/72063250-197f6b00-32e2-11ea-8f8f-4314b71d2761.png)

[2020-01-09 11:18] rodica-andronache opened #608 "[small suggestion]Change Stroke with Border"
This is a small suggestion from my side.
I find the usage of **Stroke** confusing, in the border options. I think **Border** could be used instead.
![0mLP8J7oRlirdg3I7cZPIw](https://user-images.githubusercontent.com/3266155/72063371-58adbc00-32e2-11ea-8351-abddd734624c.png)

[2020-01-09 11:46] contactashish13 opened #609 "Gutenberg: annotations don't appear"
Annotations don’t work in the Gutenberg editor, they appear only on front-end
https://prnt.sc/ql778v
https://prnt.sc/ql77hl
https://prnt.sc/ql77m7

[2020-01-09 12:31] rodica-andronache opened #610 "When new data is imported using csv/url, the manual editor still shows old data"
After importing data from a CSV file ( without saving the chart ), when you try to edit the chart, the default values appear in the editor, and you lose the imported data.

Could we at least have a small notice there, in the Manual Data panel, to let users know that they need to first save the chart or something similar?

[2020-01-09 12:32] rodica-andronache opened #611 "Table chart: Error appears when trying to import from JSON"
I've tried the import from JSON using multiple sources, and I was not able to actually create a chart. All the time I get an error that can be visible in this video

https://www.loom.com/share/bdcdd6298d48457eb939cd88bd081ab3

As a source, I've used http://dummy.restapiexample.com/api/v1/employees

Error explanation: https://datatables.net/manual/tech-notes/4

[2020-01-09 13:22] rodica-andronache commented on #503
@contactashish13 tested also with https://github.com/Codeinwp/visualizer/pull/604 and https://github.com/Codeinwp/visualizer/pull/561 and for me is not working, I'm not sure if I'm missing something
https://www.loom.com/share/bdd6939f86ca47b7bd6d38d26c62e4f5

[2020-01-10 01:51] contactashish13 commented on #611
@rodica-andronache I believe this happens only for table charts. In other charts JSON feed works as expected.

[2020-01-10 12:06] rodica-andronache commented on #579
@contactashish13 saw a small thing which I think it's related to this issue.
If you have a larger table chart https://prnt.sc/qlscav, and try to edit it in the **Simple** editor, the scroll doesn't allow you to see all the columns in the table https://prnt.sc/qlsbzv

[2020-01-10 14:28] rodica-andronache commented on #579
also, tested all the scenarios and in this one:
old free + new pro - Clicking on View Editor does nothing for me ( does not open the editor ).
I don't think this is a big deal, as they should update both plugins, but thought to share it, in case it can be fixed easily

[2020-01-14 10:51] rodica-andronache commented on #525
@contactashish13 tested with https://github.com/Codeinwp/visualizer/pull/561 and https://github.com/Codeinwp/visualizer-pro/pull/212.
With a Personal License, this upsells appears which doesn't look alright as all those options are available in the Personal package, except Live, which I can't see in any package.
Can you please let me know how this should work? Thanks
<img width="1456" alt="Screens

[2020-01-14 11:52] rodica-andronache commented on #525
I also wasn't able to test the schedule from an online csv file. I've tried the **Each hour** option, an also 6 minutes using this doc, but the chart was not updated.
https://docs.themeisle.com/article/1054-how-to-change-the-schedule-import-interval-in-visualizer
I'm not sure if I'm doing something wrong and how I could test this @contactashish13

[2020-01-14 13:08] rodica-andronache commented on #525
In the end, the schedule seemed to work ok. I will let you know if there are other issues with that

[2020-01-17 03:32] contactashish13 commented on #579
@rodica-andronache do you get any error in the console?

[2020-01-17 04:15] contactashish13 commented on #525
@rodica-andronache I have addressed https://github.com/Codeinwp/visualizer/issues/525#issuecomment-574117125 in PR https://github.com/Codeinwp/visualizer/pull/613

TBH it may be a good idea to summarize here the expected behavior (please compare this against our pricing plans/marketing material and correct it so that there is no confusion. The terminology is also confusing so I'm using plan number

[2020-01-17 13:25] contactashish13 commented on #611
PR https://github.com/Codeinwp/visualizer/pull/614

[2020-01-17 13:36] contactashish13 commented on #579
@rodica-andronache this is not something that can be fixed easily.

[2020-01-17 16:08] rodica-andronache commented on #611
@contactashish13 I've tried this again with the https://github.com/Codeinwp/visualizer/pull/614, and now is working well to create the chart.
The issue is when you are trying to create a post with that chart, in the Gutenberg editor. The same error appears.
Using the classic editor, displaying the chart is working well.
New video: https://www.loom.com/share/2b3b4ce131ba480f80e65fc8b6e524b8

[2020-01-17 16:25] rodica-andronache commented on #579
ok, it's not something big, if it's difficult to fix

[2020-01-20 05:52] contactashish13 commented on #611
@rodica-andronache have address this issue.

[2020-01-20 12:19] contactashish13 commented on #609
PR https://github.com/Codeinwp/visualizer/pull/615

[2020-01-20 13:18] contactashish13 commented on #503
PR https://github.com/Codeinwp/visualizer/pull/616 should fix this.

[2020-01-20 14:09] rodica-andronache commented on #503
@contactashish13 it's working well on smaller devices.
Could it be possible to have the scrolling bars on desktop as well, when there is more content, either horizontal or vertical?

Right now, I have content that is not visible, unless I make the screen smaller
![Screenshot (5)](https://user-images.githubusercontent.com/3266155/72732772-1c5e4380-3b9f-11ea-833f-e1c4572ddcc6.png)

[2020-01-20 14:50] rodica-andronache commented on #611
@contactashish13 is working well. Feel free to fix the conflicts and merge https://github.com/Codeinwp/visualizer/pull/614

[2020-01-21 07:11] contactashish13 commented on #503
@rodica-andronache somehow tables with more data do not want to show scrollbars but table with less data can show a horizontal scrollbar

![image](https://user-images.githubusercontent.com/12953439/72782987-40775e80-3c4b-11ea-9882-3c0a4d05164d.png)

Maybe we can keep this for later as an enhancement as the code does not seem to work.

[2020-01-21 09:41] rodica-andronache opened #617 "Scrollbars for larger table charts on desktop"
To be able to see all the content.
![Screenshot (5)](https://user-images.githubusercontent.com/3266155/72732772-1c5e4380-3b9f-11ea-833f-e1c4572ddcc6.png)

[2020-01-21 09:42] rodica-andronache commented on #503
ok, sure

[2020-01-22 05:57] contactashish13 commented on #595
@rodica-andronache I've added an `internal` label to reflect that this is part of our internal improvement and does not need to necessarily stop a release.

[2020-01-25 04:42] DanyCaissy commented on #525
@contactashish13 @rodica-andronache

The expected behavior listed above looks fine to me. I think live CSV updates could be added, although 'live' could mean once every minute if necessary. My only worry here is if the CSV import takes longer than the interval, do we handle that case right now?

[2020-01-25 10:09] DanyCaissy opened #619 "Support chartJS charts on "Display an existing chart""
Upon clicking this menu: https://i.imgur.com/5cCkdOh.png

Tables and google charts will be displayed in that menu, but chartjs charts are not displayed. They can only be included using the old tag.

As this behaviour is inconsistent it may confuse users.

[2020-01-25 10:11] DanyCaissy opened #620 "Investigate adding real-time table styling"
When users design tables, they have quite lot of options regarding the style and the colors: https://i.imgur.com/VgYcRM7.png

However, it is only possible to view the result of that if they save the table, then re-open it for editing.

Please investigate how we could let the users apply the changes in real time, or at a minimum, add an 'apply style changes' button.

[2020-01-25 10:13] DanyCaissy opened #621 "Tooltip library for field information"
Potential library: https://atomiks.github.io/tippyjs/

-----

To save space on the interface, I think we could use tooltips for fields that require short clarifications.

For example: https://i.imgur.com/6dbBk72.png

These text snippets could be replaced by tooltips, which could make the interface a little less overwhelming whilst allowing users to understand the fields.

Some fields could use mor

[2020-01-25 10:16] DanyCaissy opened #622 "Add a 'template system'"
Extra information in comment on Asana: https://app.asana.com/0/1129400186358085/1136357868952291

----------------

One issue that our users have is they are not aware of how much customization is already possible with the settings we provide, or they don't understand how they can leverage this to create more unique charts and tables.

To re-mediate that, we could add an intermediary step, in whic

[2020-01-25 10:41] DanyCaissy opened #623 "Using , instead of . for decimal breaks the graphs"
In the data, if you use ',' for decimals, the graphs will not work properly.

Some countries use ',' as a decimal point instead of '.', for that reason, we should try to accommodate that use case.

It might just be a matter of replacing them:

str_replace ( '10,45' , '.' , ',');

[2020-01-25 10:42] DanyCaissy opened #624 "Import data from google sheets directly"
We could investigate allowing users to add their data directly from google sheets.

I am aware that they can do so using the publish as csv option currently.

However, that might confuse non-tech-savvy users, whom would find using google sheets directly easier.

[2020-01-25 10:44] DanyCaissy opened #625 "Download charts as images"
Some users have requested being able to download a png image of the charts they have created.

Let's evaluate adding an "download as png" button. If it's not much harder, export to pdf/other formats could be added.

A few links I found about this:

Google Charts: https://jsfiddle.net/kujxsn7z/
DataTables: https://stackoverflow.com/questions/27041467/jquery-datatable-export-to-png
ChartJS: https://

[2020-01-25 14:32] DanyCaissy opened #626 "Improve pagination on visualizer library"
There is a limit of 6 charts on the library, however, some users might want to view more charts at a time.

There are two potential solutions for that:

A) Add "ajax pagination", so scrolling down would display more charts.
B) Adding an "items per page" select box, with a default of 6.

If A) is not possible/too cumbersome, we can do B), in that case, we would want the default to be 6 items per pa

[2020-01-25 15:17] DanyCaissy opened #627 "Basic filtering/ordering system"
For users with multiple charts, filtering through them right now or ordering them would be a hassle.

Building a full-fledged filtering system might not be worth it (unless you can find a plugin to do that easily) but a simple system would be much better than nothing.

We could filter with some of the main fields:

* Library used (Any Library, ChartJS, Google Charts, Datatables)
* Date Range (All

[2020-01-27 04:27] contactashish13 commented on #525
@DanyCaissy can you explain with a scenario what you mean by

[2020-01-27 05:48] DanyCaissy commented on #525
@contactashish13

If the CSV import is ran every minute but each import takes 2 minutes to run.

[2020-01-27 08:45] contactashish13 commented on #214
@DanyCaissy is there a reason this has been kept for the next release instead of the current release?

[2020-01-27 12:02] rodica-andronache commented on #602
@contactashish13 this is still happening for me with https://github.com/Codeinwp/visualizer/pull/605

[2020-01-27 13:07] contactashish13 commented on #525
@DanyCaissy currently the least count for refresh is 1 hour. If we add the live option, the refresh will take however long it takes to update.

[2020-01-27 13:17] contactashish13 commented on #602
@rodica-andronache the function is now defined so its strange. did you refresh the cache? Are you getting the same error as in the previous video using the same workflow?

[2020-01-27 13:43] rodica-andronache commented on #602
@contactashish13 yes, I get the same error using the same workflow. and I've tried clearing the cache.
I think the error might come from here https://github.com/contactashish13/visualizer/blob/issue-602-1/classes/Visualizer/Render/Page/Update.php#L54
If I remove that line, the error disappears.
But the chart is still not updated

[2020-01-27 13:51] DanyCaissy commented on #525
There shouldn't be an issue then.

[2020-01-28 06:19] contactashish13 commented on #525
PRs https://github.com/Codeinwp/visualizer/pull/628 and https://github.com/Codeinwp/visualizer-pro/pull/236 add support for live updating of CSVs

[2020-01-28 07:02] contactashish13 commented on #475
isnt this the same as https://github.com/Codeinwp/visualizer-pro/issues/170?

[2020-01-31 08:15] DanyCaissy opened #629 "Adding support for certain european characters"
This was a suggestion from the free survey:

**Hello, I have a problem that your plugin does not support Central European signs = e.g. ščřžýíáž, so instead of "Řecko" it displays "øecko". It is sort of impossible to use, because the diacritics and signs are common in all the Central and Eastern European communication. If you fix it, it would be really great.**

Would it be possible to add support

[2020-01-31 09:48] contactashish13 commented on #629
we have tested this aspect many times with different languages and still this keeps cropping up. @rodica-andronache @DanyCaissy  can you check this please? related to #182

[2020-01-31 13:40] DanyCaissy commented on #475
Closing as duplicate

[2020-01-31 13:40] #475 closed

[2020-01-31 13:43] DanyCaissy commented on #506
This error was fixed since

[2020-01-31 13:43] #506 closed

[2020-02-03 12:43] contactashish13 commented on #610
PR https://github.com/Codeinwp/visualizer/pull/630

[2020-02-04 15:24] rodica-andronache commented on #525
updated here https://docs.themeisle.com/article/428-visualizer-charts-and-graphs-documentation/ what's included in each plan to make it easier to understand, for both QA and our users. If there are gonna be changes in the future, we should update that as well

[2020-02-05 12:56] contactashish13 commented on #626
PR https://github.com/Codeinwp/visualizer/pull/633

The pagination will be part of `Screen Options`

![image](https://user-images.githubusercontent.com/12953439/73841454-b6311c00-4840-11ea-8b83-19082e8e1053.png)

@DanyCaissy if this works well, please move it to the QA bin

[2020-02-05 13:26] contactashish13 commented on #627
PR https://github.com/Codeinwp/visualizer/pull/632

It looks like this:
![image](https://user-images.githubusercontent.com/12953439/73815107-f2e22080-480a-11ea-90e9-95e358bf4af0.png)

@DanyCaissy can you check if this is what you had in mind? If all is okay, you can move it to the QA bin.

[2020-02-05 19:37] ineagu commented on #627
a small note, would be great to show the filters only when the user has > x charts, for 3-4 charts, it would just crowd the admin probably

[2020-02-06 08:24] DanyCaissy commented on #626
@contactashish13 It works well as far as I've tried.

One thing is that it is not very visible, it's likely most users would not notice it.

We could put it on the bottom right here: https://i.imgur.com/RsSfvvq.png

[2020-02-06 08:30] contactashish13 commented on #626
Unfortunately screen options is a WP default and that's how and where it shows. Anyone familiar with WP would know what it is.

On Feb 6, 2020, 13:54, at 13:54, Dany Caissy <notifications@github.com> wrote:

[2020-02-06 08:43] DanyCaissy commented on #626
That's fine then

[2020-02-06 08:52] DanyCaissy commented on #627
@contactashish13

Works great!

One minor thing, can you avoid adding empty parameters in the URL? Ex: "&library&date&source&s".

[2020-02-06 08:57] DanyCaissy commented on #627
@contactashish13

Regarding Ionut's comment. It could be a nice to have but we would have to take into account pagination.

Essentially, the condition would be:

"If all charts fit into a single page (# charts <= perPage) AND there are 6 charts or less", hide the filter menu.

If you think that wouldn't be too troublesome we can add that in.

[2020-02-06 12:35] contactashish13 commented on #627
@DanyCaissy yeah that can be done but as they are part of different PRs this needs to be added as a separate issue, maybe for the next release (after the PRs are merged)

[2020-02-06 13:18] rodica-andronache commented on #214
@contactashish13 I've tried creating an example to add here https://docs.themeisle.com/article/1160-roles-for-series-visualizer for the tooltip, and even though I managed to do that, when I'm building the chart ( before choosing the tooltip role for one of the columns ) and when inserting the chart in a post I get this error "All series on a given axis must be of the same data type".
I know the an

[2020-02-06 13:26] DanyCaissy commented on #627
Alright

[2020-02-06 14:16] rodica-andronache commented on #214
another thing which doesn't work for me and I'm not sure if I'm testing properly or not.
I tried testing the Style role, and after I created the chart, and try to edit it, the data does not update in the visualizer editor, until I save the chart due to an error I get in the console.

https://www.loom.com/share/9bb0bc94436d45719fc2fee74a569cf3

[2020-02-06 14:35] rodica-andronache commented on #214
for the **scope** role, I've created a chart like this using `true` and `false` in the `Text editor`
![download (7)](https://user-images.githubusercontent.com/3266155/73946248-4719fd00-48fe-11ea-9159-5abe15aa8878.png)
and is working well
![download (8)](https://user-images.githubusercontent.com/3266155/73946285-5731dc80-48fe-11ea-8ac0-66efb39a3942.png)

But if I go and edit the chart in the Simple

[2020-02-06 15:22] rodica-andronache commented on #214
Not a big deal, but I think if possible, it would make sense for the `annotation role` to don't display that little line for points that don't have a value.
![download (11)](https://user-images.githubusercontent.com/3266155/73950705-0b366600-4905-11ea-826a-5276ec0d3afc.png)

Like in their example
![download (12)](https://user-images.githubusercontent.com/3266155/73950817-3faa2200-4905-11ea-9874-5e

[2020-02-06 16:02] rodica-andronache commented on #214
@contactashish13 I've finished https://docs.themeisle.com/article/1160-roles-for-series-visualizer. To conclude what I've tested regarding this, all annotations roles work well, it's just that ( at least I don't know how to do it correctly ) the process to get it done has some issues ( the ones I've mentioned ).
The biggest one is the first one I've mentioned. If you try to first enter the manual

[2020-02-07 13:37] contactashish13 commented on #214
@rodica-andronache

for https://github.com/Codeinwp/visualizer/issues/214#issuecomment-582901584 - can't do anything as that's how the API behaves. It may help to list this behavior in the document.

for https://github.com/Codeinwp/visualizer/issues/214#issuecomment-582925111 - if you use double quotes it works properly. Single quotes will not work.

https://github.com/Codeinwp/visualizer/issues/2

[2020-02-07 14:04] rodica-andronache commented on #214
@contactashish13 ok, if there's nothing that can be done for that, I'll try to explain it in the doc.
The other things work well now 👍
I saw another small thing while testing this again.
For a chart I have with the **style** role, if I try to edit it twice using the **Simple** editor, the second time, all the values disappear from the chart.
https://www.loom.com/share/68e648030248474b91c07bd002250

[2020-02-07 14:54] rodica-andronache commented on #481
@contactashish13 the import from JSON doesn't work anymore (tried without authentication for now). I've tried with the version on production and it worked well, so it must be related to the new changes
https://www.loom.com/share/00b40d107a9242ecae9f24941eb27b55

[2020-02-07 15:56] rodica-andronache commented on #481
@contactashish13 if you can help me, I couldn't fully understand how to test the authentication.
I followed your steps until I made sure `<siteurl>/wp-json/wp/v2/posts` is not accessibile anymore.
But I don't understand which JSON I would need to test. There should be a JSON file on my wp instance, right? If so, how did you do that? I can't upload a JSON file on my WP due to security reasons. Than

[2020-02-10 13:04] contactashish13 commented on #214
@rodica-andronache I've fixed the issue you have reported (https://github.com/Codeinwp/visualizer/pull/635). These changes make sure that in the **text editor** single and double quotes are treated at par (and either get removed if they are not required or get converted to double quotes). In the **simple editor** you don't have to provide any quotes as each cell is a value in the CSV and internall

[2020-02-10 14:14] rodica-andronache commented on #214
@contactashish13 that's working well now, but how about when you need an apostrophe in the name? Is this possible?

If I add it in the `Text editor`, it gets transformed in a `double quote`
![download (2)](https://user-images.githubusercontent.com/3266155/74156948-0da80100-4c20-11ea-9975-3c7001255e6e.png)
![download (3)](https://user-images.githubusercontent.com/3266155/74156955-139de200-4c20-11ea

[2020-02-11 05:52] contactashish13 commented on #481
@rodica-andronache to upload a file on my dev instance I merely copy a file. I don't know what method you are using but if it is your dev instance you have full control over it.

You don't need a file to test authentication. You need to use the wp json url, that's all - that is the source.

[2020-02-11 08:59] contactashish13 commented on #214
@rodica-andronache can you create a new issue for this that we can tackle as part of the next release?

[2020-02-11 09:45] rodica-andronache opened #637 "Allow apostrophes in charts"
If I add it in the `Text editor`, it gets transformed in a `double quote`
![download (2)](https://user-images.githubusercontent.com/3266155/74156948-0da80100-4c20-11ea-9975-3c7001255e6e.png)
![download (3)](https://user-images.githubusercontent.com/3266155/74156955-139de200-4c20-11ea-9abb-ffa06c820174.png)

and in the `Simple editor`, it gets transformed into `\'`
![Screenshot (2)](https://user-im

[2020-02-11 09:46] rodica-andronache commented on #214
ok, I've moved it here https://github.com/Codeinwp/visualizer/issues/637

[2020-02-11 11:23] rodica-andronache commented on #481
@contactashish13 in the end, Marius helped me with this, so I managed to test it.
There are 2 things that don't work for me:
1. Before entering the user and password, the notice for http://wordpress.local/wp-json/wp/v2/posts sais "This does not appear to be a valid JSON feed.", while the feed is correct, in Postman. The notice should be about the authentication missing.
2. After I clicked on Creat

[2020-02-11 13:15] contactashish13 opened #638 "Visualizer button in Gutenberg's classic block shows no title"
![image](https://user-images.githubusercontent.com/12953439/74239811-a01ed200-4cfe-11ea-98b7-a88a3448f1eb.png)

[2020-02-11 16:38] DanyCaissy opened #639 "Add a 'delete all charts' button"
For certain power users, it might be beneficial to have an option to delete all existing charts on an instance, as deleting them one by one can be slow.

We could add a red "Delete All" button on the right of the "Add New" button, with some separation in-between (maybe just a | ).

This button would open a prompt that says:

"This will delete ALL your charts and tables, this action is permanent an

[2020-02-12 04:31] contactashish13 commented on #481
@rodica-andronache the plugin does not know that auth is missing - it only knows its not able to parse/access the feed for some reason so it displays that error.

I'm unable to replicate the second error.  I believe it should have been fixed by https://github.com/Codeinwp/visualizer/pull/636. Feeds with and without authentication should display identical behavior. Are they behaving differently for

[2020-02-12 04:49] contactashish13 commented on #639
I believe most power users are aware of popular third party clean up plugins and may rely on that. I don't believe we have received any support requests for this either, have we? We can keep this on the back burner

[2020-02-12 12:39] DanyCaissy commented on #639
It's low-priority, on the backlog. That said I think there's value in having the ability to do this easily without relying on a third-party.

[2020-02-12 14:11] rodica-andronache commented on #481
@contactashish13 ok, I think I figured it out. Once I deactivate the https://wordpress.org/plugins/wp-rest-api-authentication/  plugin, the chart loads properly.

[2020-02-13 10:28] contactashish13 commented on #637
PR https://github.com/Codeinwp/visualizer/pull/641

[2020-02-13 13:52] rodica-andronache opened #642 "update Tested up to"
![Screenshot](https://user-images.githubusercontent.com/3266155/74441583-c36d8c80-4e78-11ea-924d-1399961b7580.png)

[2020-02-13 13:54] contactashish13 commented on #642
I think something went wrong with the release. Last updated was updated when WP 5.3 came out so it can't go back to 3.4.0. Can you please check?

On Feb 13, 2020, 19:22, at 19:22, Rodica-Elena Irodiu <notifications@github.com> wrote:

[2020-02-13 14:06] rodica-andronache commented on #642
@contactashish13 it's because the readme.txt file is not valid, due to those `**` https://github.com/Codeinwp/visualizer/blob/master/readme.txt who weren't there in the previous version. Not sure how the file gets generated. Do you have any idea?

[2020-02-13 14:10] selul commented on #642
@contactashish13 you broke it with this commit https://github.com/Codeinwp/visualizer/commit/363d9241da8e630e1fbf2fc470d674b93d86df44#diff-eb6b6c90251ab33cee784713c451e6d8

@rodica-andronache I will commit with the proper readme.txt on the SVN repo

[2020-02-13 14:13] #642 closed

[2020-02-14 05:53] contactashish13 commented on #638
PR https://github.com/Codeinwp/visualizer/pull/643

[2020-02-14 14:12] #214 closed

[2020-02-14 14:14] #609 closed

[2020-02-14 14:15] #602 closed

[2020-02-14 14:16] #567 closed

[2020-02-14 14:17] #553 closed

[2020-02-14 14:18] #599 closed

[2020-02-14 14:18] #600 closed

[2020-02-14 14:20] #510 closed

[2020-02-14 15:06] #503 closed

[2020-02-14 15:07] #551 closed

[2020-02-14 15:10] #610 closed

[2020-02-14 15:13] #591 closed

[2020-02-14 15:13] #579 closed

[2020-02-14 15:14] #525 closed

[2020-02-14 17:42] DanyCaissy opened #646 "Manual excel editor doesn't save"
This seems to happen only with 3.4.1 + 1.9.1

![2020-02-15_01-39-13](https://user-images.githubusercontent.com/5183243/74554286-20aa3080-4f94-11ea-8e8b-d2b8c7234382.gif)

The manual editor does not save the changes. It seems to save properly on the free version with the other editors.

This is an urgent issue as it potentially completely prevents pro users who updated to manually edit their data.

[2020-02-14 17:43] DanyCaissy commented on #646
@contactashish13

[2020-02-14 17:44] DanyCaissy opened #647 "Import from wordpress is locked"
On versions 3.4.1 + 1.9.1

The import from wordpress option is locked, this is an agency user:

https://i.imgur.com/YuspHEE.png

https://grumpy-weasel.jurassic.ninja

WP user: demo WP/SSH password: 1AKJIG5MqgKL

[2020-02-15 10:54] SilviuDinu opened #648 "Can't modify animation parameters for Gauge Chart"
According to the [documentation](https://developers.google.com/chart/interactive/docs/gallery/gauge) I should be able to write the following JSON configuration and be able to change the animation duration and the easing for the Gauge Chart.

`{ "animation": { "duration": 5000, "easing": "inAndOut"} }
`
However, nothing happens when I add this code to Manual Configuration.

If I add something like:

[2020-02-15 11:44] SilviuDinu opened #649 "Can't select Import from db schedule or Import from WP"
A user came asking why he couldn't select the import schedule for his database Import task.

After testing on my own, it looks like ever since update 3.4.0, there is an issue with the Import from db scheduling and the Import from WordPress section cannot be interacted with.

Version 3.4.0 and 3.4.1 (it's the same issue on both):

- https://prnt.sc/r2om7y

- https://prnt.sc/r2omej

After rolling ba

[2020-02-15 11:44] #649 closed

[2020-02-15 11:45] SilviuDinu commented on #647
+1

A user came asking why he couldn't select the import schedule for his database Import task.

After testing on my own, it looks like ever since update 3.4.0, there is an issue with the Import from db scheduling and the Import from WordPress section cannot be interacted with.

Version 3.4.0 and 3.4.1 (it's the same issue on both):

https://prnt.sc/r2om7y

https://prnt.sc/r2omej

After rolling ba

[2020-02-17 04:12] contactashish13 commented on #646
To address this, we need to release pro. @rodica-andronache

[2020-02-17 05:32] contactashish13 commented on #648
@SilviuDinu can you also mention what you expect the behavior to be when you set those parameters? I hope you are aware that animation happens on page load, not when you view the chart.

[2020-02-17 05:36] SilviuDinu commented on #648
@contactashish13 I would expect the behavior to be like on this fiddle -> http://jsfiddle.net/73wztez3

[2020-02-17 05:39] contactashish13 commented on #648
@SilviuDinu Can you explain this in the context of "I hope you are aware that animation happens on page load, not when you view the chart."

[2020-02-17 07:17] SilviuDinu commented on #648
@contactashish13 from your explanation, I understand that no matter what modifications I would bring to the animation, it won't be visible for me, as it happens during page load.

However, does this apply as well even if the chart is placed in the topside of the page (aka I can see the chart all the time even during a refresh)?

[2020-02-17 08:09] contactashish13 commented on #648
@SilviuDinu it should work then, especially if you increase the duration to something large such as 25000 to see the animation.

[2020-02-17 08:52] SilviuDinu commented on #648
@contactashish13 it doesn't seem to work. I've created a video with my steps -> https://share.vidyard.com/watch/VF4V59AZngiVbXZdVFKd9n?

[2020-02-17 10:03] contactashish13 commented on #648
@SilviuDinu animations on gauge don't work. That is the reason it does not have animation related tab in the settings either unlike other charts.

https://developers.google.com/chart/interactive/docs/gallery/gauge says

![image](https://user-images.githubusercontent.com/12953439/74643423-b1eaf400-519a-11ea-9554-529f67e92f4c.png)

[2020-02-17 10:15] SilviuDinu commented on #648
Okay, I understand now. It makes sense why the other options were working, but not the animations.
Thanks!

[2020-02-18 13:20] #481 closed

[2020-02-18 13:25] #611 closed

[2020-02-18 13:47] #544 closed

[2020-02-18 15:02] rodica-andronache opened #651 "Gutenberg block error"
Didn't manage to find a pattern for when this happens, but sometimes after creating more charts, I get this error in the Gutenberg block "This block has encountered an error and cannot be previewed"
![Screenshot (2)](https://user-images.githubusercontent.com/3266155/74747733-1035d680-5270-11ea-8d00-a8bc163dac62.png)

[code]

[2020-02-19 04:19] #648 closed

[2020-02-19 10:28] contactashish13 commented on #651
@rodica-andronache I believe this would also show an error in the console. Can you paste it to the original post? @DanyCaissy have you seen this behavior before or can you reproduce this?

[2020-02-19 14:31] rodica-andronache commented on #651
I've tried to add the console error. If you have access to the demo, you can check it here https://demo.themeisle.com/visualizer/wp-admin/post.php?post=325&action=edit

[2020-02-21 13:25] DanyCaissy commented on #651
I wasn't able to reproduce this

[2020-02-21 14:24] rodica-andronache commented on #627
@contactashish13 is working well for me as well. If you can fix the conflicts we can merge https://github.com/Codeinwp/visualizer/pull/632

[2020-02-22 07:04] contactashish13 commented on #627
@rodica-andronache this is ready to go

[2020-02-27 11:07] DanyCaissy opened #655 "UX Changes to chart settings"
**1) Moving to basic/advanced tab system**

https://i.imgur.com/Fdcvp9z.png

**2) Moving permissions to advanced settings**

This is mostly to conform easier to 2), if there are technical issues with this, we could instead make it its own, third tab

Using tabs will make it easier for users to go back and forth, and understand where they are.

**3) Enlarge the sidebar**

I would increase it to abo

[2020-02-28 06:55] contactashish13 opened #656 "add documentation for bubble charts to readme"
related to #567

I don't see this in the readme so it may be a good idea to add.

[2020-02-28 14:06] contactashish13 commented on #655
PR https://github.com/Codeinwp/visualizer/pull/657 and https://github.com/Codeinwp/visualizer-pro/pull/253

**Please note that the Cypress job in the pro build will fail till free is released. But pro can be released even with this test failing.**

It would be prudent to test new free/old pro and new free/new pro. old free/new pro will not be supported in how the permissions are saved.

- Have cre

[2020-02-29 06:20] DanyCaissy commented on #656
@contactashish13 Added in #658

[2020-02-29 07:05] DanyCaissy commented on #655
This is looking good. The "articles containing X" is a great idea.

The only thing I'd fix is this:

- When there is only one possible tab, please ensure it is open by default, ex:
![2020-02-29_14-30-14](https://user-images.githubusercontent.com/5183243/75602430-0cbc0e00-5b00-11ea-8453-58ee9d90cd82.gif)

This happens in a couple other places, like general settings of a table chart.

--------------

[2020-03-01 13:46] rodica-andronache commented on #656
@DanyCaissy I think you also need to update the `readme.txt` file.
And it might be a good idea to disable comments here https://demo.themeisle.com/visualizer/bubble-chart/ as it doesn't look good, and it's the same on the other pages

[2020-03-02 00:05] DanyCaissy commented on #656
@rodica-andronache This is done

[2020-03-02 09:09] contactashish13 commented on #655
@DanyCaissy Have added a few more links to docs. Can you review what else to add while Rodica tests this?

[2020-03-02 10:30] rodica-andronache commented on #655
From what I've tested, everything's working well.
The only thing that I still have doubts about is about the Import and Save Schedule buttons.
You've mentioned that the save schedule button only updates the saved schedule; it does not import the chart.
But from what I've seen, no matter if I click on Import or on Save Schedule, the chart gets imported, as you can see in the video. Let me know if I

[2020-03-03 04:28] contactashish13 commented on #655
@rodica-andronache you are right. Looks like over a period of time, both buttons have ended up doing the same thing. I've combined them now. For free, only Import will show and for pro it will become Import & Save Schedule

[2020-03-03 10:05] rodica-andronache commented on #655
@contactashish13 that works well now.
I still get that notice though `Warning: Invalid argument supplied for foreach() in /Users/rodica/Local Sites/wp3/app/public/wp-content/plugins/visualizer/classes/Visualizer/Module.php on line 710.` I've tested with the current version of Visualizer, and I didn't get it, so it must be something related to the new changes

[2020-03-03 12:44] contactashish13 commented on #655
@rodica-andronache does it happen with a particular chart type/library/source? I can't seem to reproduce it.

[2020-03-04 04:54] contactashish13 commented on #288
@DanyCaissy can you check if this is still relevant and if it is not, remove this?

[2020-03-04 10:35] contactashish13 commented on #509
@DanyCaissy this change is not going to be possible. This is because of a conflict between the settings and the data. Consider the following scenario:

### scenario 1 - pie chart with 5 slices
- The color of slice 5 is changed
- A new file is now uploaded that has only 4 slices
- This updates the sidebar because now only 4 slices (instead of 5) should show under the Slices tab
- Now if the setting

[2020-03-04 12:12] contactashish13 commented on #441
@DanyCaissy TwentyTwenty theme works well. I suppose this is because of improvements in WP 5.3. We can forget about TwentyNineteen. Please test and remove if no longer a concern.

[2020-03-05 03:12] DanyCaissy commented on #509
@contactashish13

I think I see what you mean. In that case, I think we need to find some kind of alternative to prevent that issue.

One potential solution I can see: If the design has been modified in any way, we could have a popup before editing the data that says something like:

"You have unsaved changes to the design, before modifying the data, you must save those changes first. Do you still

[2020-03-05 03:37] DanyCaissy commented on #441
@contactashish13 It works fine in 2020.

I think it could still be worth fixing (there might still be a lot of users using the older theme) but only if you think it would be an easy fix, otherwise, you can close this ticket.

[2020-03-05 03:42] #288 closed

[2020-03-05 04:11] DanyCaissy commented on #499
@contactashish13 Do you have an idea on how much development time would be required for this?

[2020-03-05 04:28] contactashish13 commented on #441
Closing this till someone actively using a TwentyNineteen theme raises this as an issue.

[2020-03-05 04:28] #441 closed

[2020-03-05 05:22] DanyCaissy commented on #396
@contactashish13

Do you think it would still be possible to do so while ensuring that existing charts using the previous data are still compatible?

[2020-03-05 06:03] contactashish13 commented on #509
Will fix this as part of #655

[2020-03-05 06:04] contactashish13 commented on #655
Added commits to address #509

[2020-03-05 06:10] contactashish13 commented on #396
@DanyCaissy yes, the intent would be to make it backward compatible.

[2020-03-05 09:10] rodica-andronache commented on #509
for me, it's working ok

[2020-03-05 09:25] rodica-andronache commented on #651
@DanyCaissy you couldn't replicate this on the demo https://demo.themeisle.com/visualizer/wp-admin/ ? I've tried again on the page you've created for Bubble chart and the same thing happens for me. Let me know. I saw you created the charts using shortcodes, not the Gutenberg block

[2020-03-05 09:49] DanyCaissy commented on #651
@rodica-andronache Oh right yes. The gutenberg editor never worked for me on the demo site, even on previous versions. Likely something got corrupted.

[2020-03-05 10:56] rodica-andronache opened #659 "[Table chart] conditional options for pagination"
The `Number of rows per page` and `Pagination type` options are visible even when `Enable Pagination` is not checked, but don't do anything until the check is enabled.

I would suggest that those two should appear only when `Enable Pagination` is checked.
![Screenshot (1)](https://user-images.githubusercontent.com/3266155/75974978-5fbb0a00-5ee0-11ea-8516-c88378cc6f9b.png)

[2020-03-05 11:04] rodica-andronache opened #660 "Table Chart - Number of rows per page placeholder"
`Number of rows per page` has `10` as a placeholder, but not as a default value, so when you enable pagination, that number is not taken into consideration, making things confusing.
I would suggest to either remove that placeholder or make it as a default value for the field.

![Screenshot (2)](https://user-images.githubusercontent.com/3266155/75975553-6302c580-5ee1-11ea-9027-0bb03832dd59.png)

[2020-03-05 11:25] rodica-andronache opened #661 "Table Chart - Freeze Header/Footer option not working?"
Not sure if I'm missing anything, but I've tried creating a Table chart, changed its height to 100, and tried to enable/disable the Header.
No matter of that option, the header looks to always stay on top.
https://www.loom.com/share/a33599b72a2f4b02b501eb2dea62eb78

[2020-03-05 11:47] rodica-andronache opened #662 "Table Chart - Responsive table not working well"
Not sure if possible, but maybe something can be done to make the tables look better when the `Responsive table` option is enabled. I've tried with multiple themes, and when that option is enabled, the chart looks a bit off. This is visible on the demo as well
https://demo.themeisle.com/visualizer/table-chart/
![Screenshot (4)](https://user-images.githubusercontent.com/3266155/75978539-6731e180-5e

[2020-03-07 09:51] DanyCaissy opened #663 "Changes to database selection - Saving connections"
Moved from https://github.com/Codeinwp/visualizer-pro/issues/248

Context: Multiple users want to be able to re-use old connections instead of having to retype the details. We want to give them an option to re-use an older connection for that purpose.

I also thought of the scenario, if a connection has a password change, at the moment users need to modify every chart to update the change. Making

[2020-03-07 10:44] DanyCaissy commented on #661
@rodica-andronache

Regarding the height, it worked fine for me. But after modifying it, you need to wait a few seconds before the effects take place.

![2020-03-07_18-42-52](https://user-images.githubusercontent.com/5183243/76141942-8e351280-60a3-11ea-84ae-dea3432f5123.gif)

For the freeze header option, it also made no difference to me whether it was on or off.

[2020-03-07 10:45] #656 closed

[2020-03-09 04:42] contactashish13 commented on #499
@DanyCaissy I have not concluded on how to do this yet

[2020-03-09 06:32] contactashish13 commented on #651
@DanyCaissy please share a scenario of how to replicate this on a fresh instance. I cannot debug/fix this on the demo site. If you come across a particular pattern that will help

[2020-03-09 12:31] DanyCaissy commented on #651
@contactashish13 I was never able to reproduce this on another instance.  This has been a long-standing issue on the demo site for multiple versions.

@rodica-andronache How should we proceed in that case?

[2020-03-10 12:44] contactashish13 commented on #418
PR https://github.com/Codeinwp/visualizer/pull/665 changes the behavior according to the documentation on https://developers.google.com/chart/interactive/docs/gallery/columnchart#configuration-options and https://developers.google.com/chart/interactive/docs/gallery/barchart#configuration-options.

- `minorGridlines.count` has been deprecated from the old behavior.
- `gridlines.count` has changed i

[2020-03-11 05:24] contactashish13 commented on #619
@DanyCaissy this should go into its own version (maybe 2 versions in the future) as it will monopolize all of my time and it should not hold back other releases.

[2020-03-12 09:24] DanyCaissy commented on #619
@contactashish13 I'd like this to be addressed in this release as it is causing inconsistent behavior on an important feature of the plugin, and I think could arguably be considered a bug.

If there is really no way to fix this in a reasonable amount of time, at a minimum I'd want this to be investigated in detail as to why it cannot be added, and reviewed by another developer that is familiar wit

[2020-03-12 09:25] contactashish13 commented on #619
Sure. Please ask Hardeep.

On Mar 12, 2020, 14:54, at 14:54, Dany Caissy <notifications@github.com> wrote:

[2020-03-12 09:38] DanyCaissy commented on #619
@HardeepAsrani

Could you answer the following questions, in relation to this ticket?

- Is it possible at all to add ChartJS to the gutenberg plugin?
- If not, why is it not possible (you can go into technicals), and is there any workaround?
- If yes, is there a lot of complexity involved? How long would it take to get a fix approximately?

[2020-03-12 21:25] HardeepAsrani commented on #619
@DanyCaissy @contactashish13

- It is possible and if you decide to do this, you can use this package: https://www.npmjs.com/package/react-chartjs-2

- Things can be a little complex because Google Charts & ChartsJS probably don't accept the same formats but I'm saying this as an outsider as I've not really seen what format ChartsJS accepts. There will be few points to figure out.

- It should tak

[2020-03-14 00:17] DanyCaissy commented on #619
@HardeepAsrani Thanks!

@contactashish13 Could you try and resolve this for this release? Even if it takes more development time I think this issue should get resolved sooner than later.

[2020-03-16 06:26] contactashish13 commented on #619
@DanyCaissy I can't do it in 2-3 days. Maybe @HardeepAsrani can get 2-3 days over the next 2-3 weeks to get this done.

[2020-03-16 12:31] rodica-andronache commented on #418
@contactashish13

- [ ] Not sure about the `Axis Text Color` options. They look to apply differently than all the other options from the Vertical/Horizontal tabs.

The one from vertical tab applies to horizontal, and the one from horizontal applies to vertical. Is that ok?
![download](https://user-images.githubusercontent.com/3266155/76758216-f49bee00-6791-11ea-9ba7-2172787f50a6.png)

- [ ] for `M

[2020-03-16 13:19] contactashish13 commented on #418
@rodica-andronache I've pushed changes in for (1). For (2), the minor grid lines are showing in your screenshot - the ones that do not have a number e.g. 100,000 is a minor grid line. A value of 0 should disable it (and it does on the block editor. If it does not, this needs a separate issue. (3) definitely needs a separate issue as it may affect some fields adversely.

Another issue that needs to

[2020-03-16 13:22] rodica-andronache commented on #651
I've tried on other instances and couldn't replicate it either. I thought it might be related to a multisite, but that wasn't the issue either. It's probably related to the demo setup, but if you can't do anything about it, I guess we can close it for now

[2020-03-17 05:13] contactashish13 commented on #619
@DanyCaissy let me know if Hardeep is doing this or I can do it as I see fit without externally enforced timelines.

[2020-03-17 08:22] DanyCaissy commented on #619
@contactashish13 It's ok for me if it takes longer. I just wanted an idea on the feasibility and how big this task could be. Please work on it when you can and if it does end up taking too much time and holding back the release, or if there is a large blocker, we can consider moving this to a later release then.

[2020-03-20 15:50] rodica-andronache opened #667 "Color for Minor Grid Lines not working"
In the `Bar` and `Colum` charts, I'm not able to change the color of the `Minor Grid Lines`.
![76758408-4e041d00-6792-11ea-8a97-71292310f5ac](https://user-images.githubusercontent.com/3266155/77180919-4e265480-6ad3-11ea-835f-26f64e28d692.png)

Moved from here https://github.com/Codeinwp/visualizer/issues/418

[2020-03-20 15:52] rodica-andronache opened #668 "Use default values instead of placeholders ( or remove placeholders )"
This is coming from me, as I've always found the options using placeholders confusing.
Right now, for the majority of options, we are using placeholders ( for e.g. for the Minor Grid Lines it's 0 ), and I think that can create confusion. I have the feeling that's the current value for that field. I think we should either have that as a default value or not have it at all, as it doesn't help, from

[2020-03-23 04:50] contactashish13 opened #669 "JSON: Add ability to manipulate data before processing"
ref https://secure.helpscout.net/conversation/1114000866/220789/

URL: https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&apikey=demo

Final json data:

[code]

[2020-03-23 06:21] contactashish13 commented on #669
PR https://github.com/Codeinwp/visualizer/pull/670 addresses this issue.

Specifically for the URL https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&apikey=demo use the filter as below

[code]

[2020-03-23 10:26] jhibbard415 commented on #669
Added the above filter to my functions.php file, but dates still aren't showing up in the root. Just getting the same five data series (open, high, low, close, volume).

[2020-03-29 16:13] #651 closed

[2020-03-30 07:48] purplecodes opened #672 "Cork City (Ireland) not visible in Geo Map"
Cork City which is part of Ireland is not visible in the Geo map.
https://snipboard.io/IpBwSC.jpg

Steps to replicate:
1. Open **Visualizer Library** > **Add New**
2. Selected **Geo** map and imported the data below:
https://www.dropbox.com/s/sx9x6vziy1k1eus/Dataset_%20SARS-Cov-2%20-19%20Recovered%20cases%20Globally%20by%20JHU%20CSSE%20-%20Sheet4%20%281%29%20%281%29.csv?dl=0
3. From **Advanced** >

[2020-03-31 05:56] contactashish13 commented on #672
@purplecodes not a problem with the plugin: https://github.com/google/google-visualization-issues/issues/2087. Use the code `IE-CO`.

In the future please make sure you try this on a jsfiddle as most of these problems can be resolved at your end faster.

[2020-03-31 05:56] #672 closed

[2020-03-31 07:53] contactashish13 opened #674 "Gutenberg: does not display any Google Chart and throws a console error"
When you try to insert a chart, it shows as this:

![image](https://user-images.githubusercontent.com/12953439/78001009-bc300e80-7352-11ea-8bd8-6aa404dd533c.png)

with a console error

![image](https://user-images.githubusercontent.com/12953439/78000845-8428cb80-7352-11ea-9b56-97f44d7e9aa6.png)

This is happening with the last released version (and 2 versions previous) as well.

Can check on:
http

[2020-03-31 07:53] contactashish13 commented on #674
It looks like an error with the google charts API but I'll need confirmation. @HardeepAsrani can you please check?

[2020-03-31 08:24] contactashish13 commented on #674
a rebuild as part of #673 fixed it. very strange!

[2020-03-31 16:10] rodica-andronache commented on #674
tested also with the current version, on both wp 5.3 and wp 5.4 and it worked well

[2020-04-02 23:47] DanyCaissy commented on #655
@contactashish13 Have you addressed this comment? I haven't seen the change for that yet.

Otherwise, is there anything else you need feedback on for this ticket?

[2020-04-03 00:07] DanyCaissy opened #675 "Timeline chart doesn't show properly in gutenberg display"
### Description:
In the gutenberg list of charts, it displays this way: https://i.imgur.com/1bNkUyx.png

### How to reproduce:

1- Create a default timeline chart
2- Create a post, open gutenberg chart plugin
3- Click display existing chart

### Expected behaviour:

It should display properly like other charts do

### Current behaviour:

https://i.imgur.com/1bNkUyx.png

### Technical info
Wordpres

[2020-04-03 00:15] DanyCaissy opened #676 "Clicking Copy shows the Copied message multiple times"
Issues to fix:

- When clicking copy, the alert appears twice, instead of once
- Clicking copy creates a # in the URL and moves the page up, it also shouldn't do so.
- The "copied!" messages should be reworded to "The data has been copied to your clipboard. hit Ctrl-V in your spreadsheet editor to paste the data" to clarify the action to the user.

Current behaviour on 5.4 with plugins on developm

[2020-04-09 13:33] contactashish13 commented on #655
@DanyCaissy have incorporated your suggestions. You can pass this on to QA if everything else is fine.

[2020-04-11 04:15] DanyCaissy commented on #655
@rodica-andronache This is ready for QA now.

[2020-04-12 16:19] DanyCaissy commented on #509
@contactashish13 @rodica-andronache

I think this helps. I also think we could go further and restrict the user entirely from the source tab until they've saved the chart. The message makes sense for us, but I think it will confuse some users who don't understand this specific limitation.

I'd suggest to simplify it to this:

"You've modified the chart's settings. To modify the data again, you mus

[2020-04-12 16:21] DanyCaissy commented on #619
@contactashish13 Has there been more progress on this issue? Do you have an ETA of when it could be completed?

[2020-04-13 05:02] contactashish13 opened #677 "add support for boolean data type in table charts"
ref https://wordpress.org/support/topic/check-or-cross-in-a-table/

[2020-04-13 06:05] contactashish13 commented on #509
@DanyCaissy we can't presume that they want to stick by the changes they made. Maybe they made a change in the settings, changed their mind and then went to change the data. We should not stop them from doing so. I feel as long as we are notifying them, it's good. If they want to risk it despite that, it's their mistake to make.

I've changed the message as suggested to `You have modified the char

[2020-04-13 06:11] contactashish13 commented on #619
@DanyCaissy there has been some progress. Hopefully we can target to release this as part of the next (not current) release.

[2020-04-13 08:35] contactashish13 commented on #619
@DanyCaissy also, as suggested a couple of weeks ago, it will be really instructive to use metabase to determine how many people actually use chartjs. From my perspective, it is a poorly implemented library and in all this time not one person has asked about it on support. It will tell us whether all this effort is even worth it or not.

[2020-04-13 14:19] DanyCaissy commented on #509
That's fine

[2020-04-13 14:20] DanyCaissy commented on #619
@contactashish13 We can target it for next release, I'll see about removing some other features for the next release to account for that. For metabase, I'll take a look at these stats this week.

[2020-04-16 05:07] contactashish13 opened #679 "bulk activation of plugin aborts activation of subsequent plugins"
tested in reference to https://wordpress.org/support/topic/bug-in-plugin-activation/

[2020-04-16 05:52] contactashish13 commented on #679
PR https://github.com/Codeinwp/visualizer/pull/680

[2020-04-16 13:30] contactashish13 commented on #619
PR https://github.com/Codeinwp/visualizer/pull/666 is ready for testing.

I've tried to make sure the same settings are seen in both the library and block editor but it would be good to verify and list down what is missing.

One known bug is when a bar/column chart is made stacked, it cannot be unstacked.

[2020-04-17 03:02] DanyCaissy commented on #619
@contactashish13

Overall it looks pretty good, nice work on this feature. The stacked bug is unfortunate but we can live with that. Maybe we can look into it later as a lower-priority item. Do you think it would be difficult to resolve?

**One thing I found:**

Updating to this version on my local instance broke the add and edit post features for some reason, I get this when I try: https://i.imgu

[2020-04-17 04:13] DanyCaissy commented on #619
Note that this happens even after cleaning out the database. But it doesn't happen on ninja instances. My local instance was a 5.3 that got upgraded to 5.4 while ninja is 5.4 by default, maybe there is some sort of difference.

[2020-04-17 07:09] contactashish13 commented on #619
@DanyCaissy this will still be a WIP for the next few days till more bugs like the stacked bug are uncovered and resolved. I still have to add the cypress tests so this PR should not be merged (it can still be tested as cypress is independent of the core code).

As for your error, I tried on 5.3 and did not face this. Maybe your upgrade was incorrect? Please test it on a raw 5.3 instance, a correc

[2020-04-18 21:48] DanyCaissy commented on #619
@contactashish13

It seems to happen on a raw 5.3 instance now that I've tried.

[2020-04-18_17-44-23.zip](https://github.com/Codeinwp/visualizer/files/4497843/2020-04-18_17-44-23.zip)

The visualizer I've installed for reference:

[visualizer.zip](https://github.com/Codeinwp/visualizer/files/4497844/visualizer.zip)

[2020-04-20 04:11] contactashish13 commented on #619
@DanyCaissy there seems to be something wrong with the way you are creating the build. Can you create a video of that process?

[2020-04-21 14:14] rodica-andronache commented on #679
@contactashish13
tried testing this PR and it's not working for me. Let me know if I'm missing anything https://www.loom.com/share/57c7fd4a1ec24639a058cd766a4cbce7

[2020-04-21 14:58] contactashish13 commented on #679
@rodica-andronache it continues to work for me. I'm on WP 5.4. Can you share a public instance where this can be reproduced?

[2020-04-21 15:11] rodica-andronache commented on #679
https://economic-seahorse.jurassic.ninja/wp-admin/
user: demo
password: ZjUsM@NxNdHwzN(wsR$7ublu
Try to activate at the same time Holly Dolly, Visualizer, and WooCommerce.
WooCommerce does not get activated

[2020-04-22 01:31] DanyCaissy commented on #619
@contactashish13

[2020-04-21_21-22-44.zip](https://github.com/Codeinwp/visualizer/files/4513312/2020-04-21_21-22-44.zip)

This is the whole process, ignore anything past 4:20, my screen recorded bugged and I couldn't finish the video.

[2020-04-22 04:46] contactashish13 commented on #679
@rodica-andronache I've changed the methodology and it should work anywhere.

[2020-04-22 05:03] contactashish13 commented on #619
Actually I develop directly off Git so maybe @rodica-andronache can verify if this is correct and if not, offer suggestions to fix this. I think you had a similar problem before as well on another PR. I believe both of you should be using the same methodology to test

[2020-04-22 14:30] rodica-andronache commented on #679
@contactashish13 from your last commit I understand that even when bulk activating more plugins, I should still be redirected to Visualizer's Support page. Is that correct? Because for me, that's not happening. All plugins are activated, but I'm not redirected to Visualizer's page

[2020-04-23 04:41] contactashish13 commented on #679
@rodica-andronache it will happen only if you activate the plugin first. If the plugin was already activated, it will not redirect you.

[2020-04-23 06:26] contactashish13 opened #681 "Improve usage statistics"
related to #551

[2020-04-24 06:28] contactashish13 opened #682 "If structured data does not show, show the reason as an HTML comment"
ref https://wordpress.org/support/topic/adding-dataset-license-information/

Users are unaware why a chart's structured data schema does not show. The reason might be that their description is shorter than 50 characters or that the chart title is empty. It would help them address this if we show the reason as an HTML comment.

[2020-04-24 07:57] contactashish13 commented on #682
PR http://github.com/Codeinwp/visualizer/pull/683

[2020-04-24 19:25] DanyCaissy commented on #619
@contactashish13 This is a process that a customer could be doing when installing Visualizer. Before asking for someone else to reproduce the issue, you should first try to reproduce it yourself, whether on this ticket or another. If you cannot reproduce it using the exact steps above then we can ask for Rodica to attempt it.

For the methodology, it's fine to test using different steps, as that c

[2020-04-25 04:34] contactashish13 commented on #619
A customer will not be using this method. They will be downloading from the repository.

We are not here to try out different methods for the sake of it. We should follow what the correct procedure is and Rodica should be able to help as she is has faced no problem. You can either take her help or you can work off GitHub desktop like I do.

On Apr 25, 2020, 00:55, at 00:55, Dany Caissy <notificati

[2020-04-25 18:09] DanyCaissy commented on #619
@contactashish13

If your issue is that I uploaded the zip instead of getting the plugin via git, I've replaced it with your version directly from git here:

[2020-04-25_13-52-33.zip](https://github.com/Codeinwp/visualizer/files/4533675/2020-04-25_13-52-33.zip)

The error prevails. As far as I know there shouldn't be a difference between both methods. If you have evidence of there being a differen

[2020-04-27 04:43] contactashish13 commented on #625
@DanyCaissy this functionality already exists for charts that support it out of the box. Use the `print` button and see. Charts that do not support conversion into image will instead print the data.

For the time being, we can add another `download image` action and enable it only for those charts that support this. For the remaining, we can add this support at a later date if customers call for i

[2020-04-27 13:06] contactashish13 commented on #677
adding this to the current release so that current user woes can be addressed by the time #524 is ready,

[2020-04-28 06:47] contactashish13 commented on #677
### Previous behavior
Boolean values (true/false) added to the table are displayed as-is

### New behavior
With PR https://github.com/Codeinwp/visualizer/pull/685 boolean values can be assigned a display value (a symbol or an HTML snippet) and that display value will show instead of the boolean value.

![image](https://user-images.githubusercontent.com/12953439/80452578-3351c600-8944-11ea-8322-338

[2020-04-28 14:52] rodica-andronache commented on #619
@contactashish13 I've also tried it on a WP 5.3.2 instance and got the same error

[2020-04-29 06:11] contactashish13 commented on #619
@rodica-andronache I cannot reproduce this. I had a WP 5.2 instance that I upgraded to WP 5.3.2. I copied my entire plugin folder **as is** to that instance, activated the plugin (only plugin activated)
- went to add a new post and new visualizer block
- got some console errors
- went to Settings -> Permalinks and updated it
- went to add a new post and new visualizer block
- no console errors
- w

[2020-04-29 17:55] DanyCaissy commented on #619
@contactashish13 The videos above are reproducing it on a raw 5.3 instance, not 5.2 upgraded to 5.3, not 5.3.2, **RAW 5.3**

Why did you ask me to make these if you didn't bother trying them?

[2020-04-30 00:12] DanyCaissy commented on #625
@contactashish13 Regarding the ones that don't support it directly, could you investigate how feasible it would be to get it to work and how long it might take to do so?

[2020-04-30 04:52] contactashish13 commented on #619
@DanyCaissy you may want to read what I wrote [here](https://github.com/Codeinwp/visualizer/issues/619#issuecomment-615082582) again about testing on a raw instance where I could not reproduce it. @rodica-andronache If either of you can, please share an instance where I can troubleshoot this.

[2020-04-30 04:54] contactashish13 commented on #625
@DanyCaissy what is not supported out of the box, is not supported by the library so there is nothing we can do to support it without using an external tool, which is an overkill when most of the charts support it. As mentioned earlier, this can be explored at a later date

[2020-04-30 10:29] contactashish13 commented on #524
PR https://github.com/Codeinwp/visualizer/pull/686 and https://github.com/Codeinwp/visualizer-pro/pull/264 are ready to test.

I would suggest the following steps to test:
- use an old version of the plugin that supported Google table charts (I think before 3.0.12) and create a few table charts
- upgrade to the latest available version and create a few DataTable table charts
- when you upgrade to

[2020-04-30 13:14] contactashish13 opened #687 "Direct integration with google spreadsheet"
https://developers.google.com/chart/interactive/docs/spreadsheets

Users can directly integrate with their spreadsheets instead of exposing those spreadsheets as a CSV. They can do this by using the google query language. This is already supported in the code since #374

@DanyCaissy can you review https://docs.themeisle.com/article/607-how-can-i-populate-data-from-google-spreadsheet as a starter a

[2020-05-03 23:00] DanyCaissy commented on #625
Okay, if most of the charts support it it should be fine then. For the charts that don't, a greyed/disabled button will be fine.

[2020-05-04 01:07] DanyCaissy commented on #617
I've reproduced this issue and noticed that it only happens when the table overflows BOTH horizontally and vertically.  When there are few rows, the horizontal scrollbar does show up: https://i.imgur.com/1spJMg2.png

This means when there is overflow horizontally and vertically, the horizontal scrollbar does exist but its hidden underneath. Adding a vertical scrollbar could theoretically fix this

[2020-05-04 01:41] DanyCaissy commented on #676
I've retested the "double copied message" issue and it doesn't always happen. I've identified a scenario where it happens, it seems to happen if there is a table as well as a non-table chart.

To reproduce:

[double-copy.zip](https://github.com/Codeinwp/visualizer/files/4572481/double-copy.zip)

[2020-05-04 02:02] DanyCaissy opened #688 "Gutenberg: "Advanced Options" on certain charts break"
Possibly related to https://github.com/Codeinwp/visualizer/issues/675

### Description:

Clicking "Advanced options" on the block editor, for certain chart types, results in "the block has encountered an error".

This only happens on Timeline and Bubble charts as far as I could reproduce.

### How to reproduce:

1- Create a timeline chart and a bubble chart
2- Create a new post
3- Add both charts

[2020-05-04 06:19] DanyCaissy commented on #668
We can do this: Leave the placeholders as they are, but ALSO the default value should be the same as the placeholder (instead of empty)

This way the user will only see the placeholder if he erases the value.

[2020-05-04 06:20] DanyCaissy commented on #668
Note: Please ensure pagination is defaulted to 10 as well, as per this ticket: https://github.com/Codeinwp/visualizer/issues/660

[2020-05-04 06:21] DanyCaissy commented on #660
Closing, will be handled as part of https://github.com/Codeinwp/visualizer/issues/668

[2020-05-04 06:21] #660 closed

[2020-05-04 06:33] DanyCaissy commented on #687
@contactashish13 Can you clarify the intent of this ticket? I feel like it's discussing multiple different things.

[2020-05-04 09:10] rodica-andronache commented on #677
@contactashish13 everything's working well in Visualizer.
I was just thinking that it would need some updates in the PRO version as well, as right now, when you edit the content from the Gutenberg block, the Column disappears and you can't set the custom values for true and false anymore https://www.loom.com/share/66ec034722164ded96849dcb3a259b3e

[2020-05-04 12:58] #581 closed

[2020-05-04 13:01] #638 closed

[2020-05-04 13:03] #627 closed

[2020-05-04 13:04] #637 closed

[2020-05-04 13:06] #418 closed

[2020-05-04 13:07] #509 closed

[2020-05-04 13:08] #655 closed

[2020-05-04 13:08] #682 closed

[2020-05-04 13:09] #679 closed

[2020-05-04 13:12] #626 closed

[2020-05-04 13:18] rodica-andronache opened #689 "Charts loading mechanism when using pagination"
### Description:
This was discussed before, and it was indeed an edge case. When you refresh the page sooner than 2 seconds, the charts are not loading.

But when using pagination, the same thing happens in some cases, and I think we can consider finding a solution, as indeed refreshing the page really fast is not an actual use case, but navigating throw the pages is.

### How to reproduce:
1. Add

[2020-05-05 06:52] contactashish13 commented on #677
@rodica-andronache my testing shows that what you have pointed out seems to be a problem when you edit **any** chart in the block editor. Can you please confirm and create a new issue for this?

[2020-05-05 13:29] contactashish13 commented on #625
PRs https://github.com/Codeinwp/visualizer/pull/690 and https://github.com/Codeinwp/visualizer-pro/pull/265 add this feature.

- This checkbox will be disabled for Table and Gauge charts (and this checkbox will not appear in the block editor for these chart types).
![image](https://user-images.githubusercontent.com/12953439/81069606-bd2eff80-8eff-11ea-8f65-5ac2284a9ce8.png)

- If this checkbox is

[2020-05-05 20:15] DanyCaissy commented on #625
@contactashish13

I didn't specify that in the ticket so that'd my bad, but could you also add this option on the quickbar in the library?

https://i.imgur.com/85nuUQj.png

[2020-05-06 00:18] DanyCaissy opened #691 "Gutenberg: Make UI more intuitive when a chart is missing"
### Description:

If you add a chart to a post, and that chart later gets deleted, it'll look like this in the editor:

https://i.imgur.com/tn7GhlF.png

This looks as if the chart is loading or that there might be an issue with our plugin, as opposed to the chart not existing.

I'd suggest just displaying a simple message within the box instead. The message could say:

"This chart is not available

[2020-05-06 00:20] DanyCaissy commented on #689
I agree this bug can be cumbersome and it often happens to me during normal usage. We should try to resolve it as it can hinder the user experience.

[2020-05-06 05:18] contactashish13 commented on #625
@DanyCaissy added this in the library and have updated the description: https://github.com/Codeinwp/visualizer/issues/625#issuecomment-624055487

[2020-05-06 13:41] contactashish13 commented on #676
this is related to the problem explained in https://github.com/Codeinwp/visualizer/issues/591 and #600 as explained in https://github.com/Codeinwp/visualizer/issues/600#issuecomment-565421196.

I've marked it as critical as this will have the same UX repercussions as #591 and will need to be tested equally extensively.

PR https://github.com/Codeinwp/visualizer/pull/692

[2020-05-06 15:09] rodica-andronache commented on #677
@contactashish13 not sure exactly what you mean by any chart. I've seen this only for the new boolean type fields. If I edited a column with a different type, that column did not disappear.
I think the problem is related to the new boolean data type.
I've also seen that if I edit the chart in the editor, and try to change one of the columns from type number to type boolean, the entire block breaks

[2020-05-07 04:17] contactashish13 commented on #677
@rodica-andronache I'm sorry I meant it happens for any table chart. The last column disappears after you edit it using the the editor. I can reproduce this even on the master branch. Do you not see this behavior?

![Capture](https://user-images.githubusercontent.com/12953439/81254028-a1367580-9047-11ea-91d9-839791391177.JPG)

[2020-05-07 04:19] contactashish13 commented on #687
@DanyCaissy it is discussing only one thing and that is direct integration of a google spreadsheet using GQL. Have you tried reading the documentation and following the steps there to see how it work? If not, I would suggest that as the first step. This ticket is more about enhancing the documentation and making it more apparent than anything to do with code.

[2020-05-07 08:11] rodica-andronache commented on #677
@contactashish13 yes, you are right, it's happening for the last column, no matter of its type. I'll create an issue about it, and release the update

[2020-05-07 22:16] DanyCaissy commented on #676
@contactashish13 I couldn't reproduce the issue anymore (I had to clear cache first).

Please also reword the message as above.

Thanks

[2020-05-12 06:23] contactashish13 commented on #691
PR https://github.com/Codeinwp/visualizer/pull/694

![image](https://user-images.githubusercontent.com/12953439/81644514-86983e00-9445-11ea-9272-be3e322aae63.png)

[2020-05-12 13:48] contactashish13 commented on #688
PR https://github.com/Codeinwp/visualizer/pull/695 addresses this.

@DanyCaissy as suggested in a couple of earlier issues as well, it will be good to compare each setting for every chart between gutenberg and the library. For example, in this issue Bubble Settings was missing from gutenberg. We should aim to fix all these discrepancies in one go under one single issue.

[2020-05-13 13:41] rodica-andronache commented on #676
@DanyCaissy this part of the issue is still happening for me. Is that ok?
"Clicking copy creates a # in the URL and moves the page up, it also shouldn't do so."

Otherwise, it's working well for me

[2020-05-14 04:53] DanyCaissy commented on #676
Yes the # should be fixed as well.

[2020-05-14 10:23] contactashish13 commented on #676
@rodica-andronache addressed this as well.

Because this issue is related to https://github.com/Codeinwp/visualizer/issues/689, this may need to be extensively tested.

[2020-05-15 05:57] contactashish13 commented on #524
@rodica-andronache this resolves https://github.com/Codeinwp/visualizer-pro/issues/256 as well.

[2020-05-15 11:30] rodica-andronache commented on #524
@contactashish13 the only issue I saw is with `editing old Google Table charts`.

How to replicate it:
- Install & activated https://downloads.wordpress.org/plugin/visualizer.3.1.0.zip
- Create a few table charts
- Update the plugin to the latest version
- Update the plugin to this PR
- Manual edit the Google Table charts created before, with the 3.1.0 version (no matter the editor, Simple, Text o

[2020-05-15 14:26] rodica-andronache commented on #619
I couldn't create a jurassic instance to replicate this, I've tried multiple times and it worked ok. On my local indeed it happens, but not all instances, and I couldn't pinpoint it just for WP 5.3. In one case, I got the error on WP 5.4 for example.
If possible, maybe the error message could be used to try to fix the error based on the code?

`TypeError: this.activateMode is not a function
    at

[2020-05-15 17:33] rodica-andronache commented on #688
@contactashish13 if you can please fix the conflicts here https://github.com/Codeinwp/visualizer/pull/695 I think we can merge it

[2020-05-18 05:25] contactashish13 commented on #524
@rodica-andronache v3.1.0 did not have google table charts - it had DataTable table charts. Also, google table charts was part of Pro so can you please mention the combination of free and pro you have used?

I believe you typed a precision of `-1` instead of selecting it using the number selector (which will not allow you to go below 0). I have handled that case as well.

[2020-05-18 05:43] contactashish13 commented on #688
@rodica-andronache done.

[2020-05-18 07:12] contactashish13 opened #697 "Conflict with Modern Events Calendar plugin"
### How to reproduce:
1. Install MEC plugin and visualizer. Activate both.
2. Go to the library and click on Add New
3. You get a blank screen.

### Expected behaviour:
The chart selector screen should not be blank.

### Current behaviour:
As chart selector screen is blank.

### Reference:
- https://wordpress.org/support/topic/blank-screen-when-trying-to-add-a-new-chart/
- https://wordpress.org/su

[2020-05-18 07:24] contactashish13 commented on #619
@rodica-andronache I tried creating a few instances and it seems like this error can only be reproduced on an unlucky day :) If this is not a repeatable and consistent error, a solution may not be possible.

Looks like this has something to do with conflicts between loadash and underscore libraries: https://wpdevelopment.courses/articles/how-to-fix-activatemode-is-not-a-function-error-in-gutenberg

[2020-05-18 10:23] contactashish13 commented on #697
PR https://github.com/Codeinwp/visualizer/pull/698 shows an alert message when a conflict is detected.

[2020-05-19 06:37] contactashish13 opened #700 "Changing the viewport or resizing the window causes annotation-based charts to show an error"
### How to reproduce:
1. Create a default line chart
2. Edit the chart manually and change the data type of the last column to `string` from `number`
3. Mark this last column as an annotation
4. Add the shortcode to a post and view the post
5. Resize the window

### Expected behaviour:
The chart should display without an error

### Current behaviour:
The chart (resizes and) displays with an error

[2020-05-20 00:25] DanyCaissy commented on #687
@contactashish13 As per those instructions it doesn't seem to work for me. What step am I missing?

[GQL.zip](https://github.com/Codeinwp/visualizer/files/4653929/GQL.zip)

[2020-05-20 01:03] DanyCaissy commented on #621
I'm looking at this again and I think this might be a little subjective. With this, we'd be able to clean up the interface from something like this: https://i.imgur.com/i8fgYKW.png

To this:

https://i.imgur.com/iTHv79V.png

(I left the number format as description as it is long and contains links)

Essentially we'd replace most descriptions with tooltips, which would save up a lot of space, with

[2020-05-20 05:36] contactashish13 commented on #687
@DanyCaissy you are trying to use the query on an HTML instead of using it on the CSV. You may want to read [this section](https://developers.google.com/chart/interactive/docs/spreadsheets#query-source-ranges) and see the example URL they have used vs. the one you are using.

[2020-05-20 05:51] contactashish13 commented on #621
@DanyCaissy both the images you have linked to look almost the same. Can you check them again?

My 2 cents:

From a UI point of view, it would make it compact. But from a UX point of view, I think it will be  detrimental. Many users already don't care to read instructions such as this one below that always show and hiding it from them until they hover/click is going to cause more people to miss th

[2020-05-20 05:56] DanyCaissy commented on #621
@contactashish13 The difference between the two is just the description that is missing on the lower fields.

I think the library above should cover the ability to click links (https://atomiks.github.io/tippyjs/v6/html-content/)

I'm fine with starting with just the larger descriptions, it'd unclutter the UI some.

[2020-05-22 14:14] #677 closed

[2020-05-22 15:24] rodica-andronache commented on #697
@contactashish13 just a small thing, if it can be fixed.
If I go to Visualizer -> Chart Library -> Add New everything is ok
If I go to Visualizer -> Add New Chart -> The notice needs to be dismissed twice
https://www.loom.com/share/ea3a9a3190ae47c987765e18d4cba874

[2020-05-25 05:09] contactashish13 commented on #700
PR https://github.com/Codeinwp/visualizer/pull/701

[2020-05-25 05:24] contactashish13 commented on #697
@rodica-andronache I've fixed this. This happened only when you had no charts and behaved correctly when you had at least one chart showing in the library.

[2020-05-25 05:51] contactashish13 opened #702 "Google Pie charts should not show Inside the Chart option for legend position"
### How to reproduce:
1. Try to create a pie chart
2. Go to General Settings -> Legend -> Position

### Expected behaviour:
The option `Inside the Chart` should be removed for pie charts

### Current behaviour:

![image](https://user-images.githubusercontent.com/12953439/82782217-6e7ae280-9e79-11ea-977b-d2dcb374e760.png)

### Reference:
https://secure.helpscout.net/conversation/1173197270/229378/

[2020-05-25 07:02] contactashish13 commented on #702
PR https://github.com/Codeinwp/visualizer/pull/703

[2020-05-27 08:03] contactashish13 opened #704 "ChartJS chart does not follow pixel dimensions"
### How to reproduce:
1. Create a ChartJS chart
2. Specify absolute numbers (not percentage) in the Chart Size
![image](https://user-images.githubusercontent.com/12953439/82993510-4f698580-a01e-11ea-939d-cb44b9ae700a.png)
3. Save chart, add to a post and view on the front end
4. The chart does not adhere to the dimensions.

### Expected behaviour:
The chart should adhere to the dimensions. If only

[2020-05-27 10:36] contactashish13 commented on #704
PR https://github.com/Codeinwp/visualizer/pull/705

[2020-06-01 05:29] contactashish13 opened #706 "Conflict with elementor pro: elementor icons go missing when visualizer is activated"
### Reference:
https://wordpress.org/support/topic/conflict-with-elementor-pro-7/

### Technical info
* WordPress version: latest (I assume)
* Plugin version: latest (I assume)

[2020-06-01 05:50] contactashish13 commented on #619
@HardeepAsrani can you please check and respond if you can help?

[2020-06-01 08:22] contactashish13 opened #707 "Gutenberg: Table chart with only string columns throws an error"
### How to reproduce:
1. Create a table chart with **only string columns**. Assume there is only 1 chart in the library
2. Go to a post, create the visualizer block and click on `Display an existing chart`
3. The block will throw an error

### Expected behaviour:
The block should not throw an error and the table chart should display.

### Current behaviour:
The block will throw an error

### Refer

[2020-06-01 09:08] contactashish13 commented on #707
This will be solved as part of https://github.com/Codeinwp/visualizer/pull/666

[2020-06-01 13:43] vytisbulkevicius opened #708 "Visualizer chart to be re-drawn if page is not refreshed and only part of content is being re-rendered using AJAX"
### Description:
Some clients are using additional plugins or have they website build in SPA method that allows refreshing part of the content (using AJAX) and in such case Visualizer charts are not being rendered. For the Visualizer chart to be rendered it's needed to refresh the page.

To replicate this behavior - add any Visualizer chart to the page and try reloading the content DIV, for exampl

[2020-06-01 19:50] HardeepAsrani commented on #619
Hey! Didn't see the last message. I'll take a look and let you know.

[2020-06-01 20:08] HardeepAsrani commented on #619
Two things:

- Remove lodash from package.json

- In ChartsJS.js file, replace this:

`import {merge} from 'lodash';`

with:

`const { merge } = lodash;`

That should solve it. Lodash is shipped with WP so you don't need to install it. @contactashish13

[2020-06-02 06:44] DanyCaissy commented on #687
@contactashish13 If I follow the steps in the document to the letter, it does not work.

Step 2 says NOT to choose CSV:

**Step 2
In the new dialog, you need to click the "Start publishing" button. A link to the published item appears in the publishing dialog. Do not choose Choose "CSV (comma-separated values)" type.**

If I use web-page, as per the documentation, it does not work. The URL is corr

[2020-06-02 10:29] rodica-andronache commented on #697
@contactashish13 in the meantime, they've fixed the issue from their plugin. It's ok to close this PR, right?

[2020-06-02 12:06] rodica-andronache commented on #706
not sure if it helps, but I've tried reproducing this as well, and couldn't do it

[2020-06-02 12:48] contactashish13 commented on #697
@rodica-andronache A user not upgrading to the latest version of MEC would not know about the conflict. Also this PR senses a generic conflict so it would be good to keep this around.

[2020-06-03 06:34] contactashish13 commented on #687
@DanyCaissy which part of the document https://docs.themeisle.com/article/607-how-can-i-populate-data-from-google-spreadsheet do you feel is incorrect?

[2020-06-03 20:22] DanyCaissy commented on #687
@contactashish13 I'm not sure since I can't get it to work the way it is explained. Please provide a video of the whole process and I'll adjust the documentation accordingly.

[2020-06-04 06:34] contactashish13 commented on #687
@DanyCaissy I've tried this by following the document and I see the problem.

The URL that is generated once you publish the file is of the form `https://docs.google.com/spreadsheets/d/e/<alphanumeric>/pubhtml`

and the URL that is generated when you click the share button (in the below image)
![image](https://user-images.githubusercontent.com/12953439/83722100-05a22000-a65a-11ea-8c45-6d9127298411

[2020-06-04 07:38] contactashish13 commented on #675
@rodica-andronache I seem to have accidentally fixed this as part of #619 (#666)

[2020-06-04 09:48] ineagu opened #709 "Add ability to lazy load charts"
### Description:
@contactashish13 @DanyCaissy We have a big post on codeinwp where some charts are used, however they are not at the top of the article, but we make the google requests.

There is a chance that most people won't be even looking at the chart, but we still load a lot of js/css. Can we add some option for that?

Like make the request for css/js just when user is close to the chart ( l

[2020-06-04 09:51] ineagu commented on #709
another approach that I saw is to load an image of the chart by default and on click/hover bring the interaction, sure users can enable/disable that based on how they use the charts

[2020-06-04 12:08] DanyCaissy commented on #709
Assuming this can be done in a reasonable amount of development time I think it would be beneficial.

[2020-06-05 03:36] DanyCaissy commented on #687
@contactashish13 Ah yes that seemed to be the issue. I didn't expect the URL to be different this way. I've updated the documentation now as to avoid this potential issue.

[2020-06-09 10:09] selul opened #711 "revisions are wiped after a while"
### Description:
On Codeinwp, when using the version 3.4.2, the revisions are getting wiped on a regular schedule, when someone is updating certain posts.

I haven't been able to replicate in a similar environment, but after looking at Codeinwp, the only plugin that was playing with revisions was visualizer.
I have tried to have a 2nd look over the revision functionalities and identified some poss

[2020-06-09 10:09] selul commented on #711
I have opened a PR with the changes that I did and worked fine in production in the last 6 weeks.

[2020-06-09 15:50] rodica-andronache commented on #619
@contactashish13 didn't manage to test all options yet, but here's what I saw so far.
While testing with the PRO version installed as well ( the current version, as I didn't see any PR related to this for the PRO version, besides the cypress tests )
- [ ] when trying to edit the `Polar Area` chart using the `Manual Edit` option from the block, I get this error, and the new value is not saved
<img

[2020-06-10 00:38] DanyCaissy commented on #624
I think this might be low importance since users can do it with the following workaround: https://docs.themeisle.com/article/607-how-can-i-populate-data-from-google-spreadsheet

[2020-06-10 00:38] #624 closed

[2020-06-10 07:26] contactashish13 commented on #709
PR https://github.com/Codeinwp/visualizer/pull/712 adds this. The main JS files that are responsible for loading the libraries will still be loaded on the page whether a chart is lazy or not, but the additional JS files that Google Charts call will be loaded when a chart is lazy loaded.

Users can add this feature on a per-chart basis by adding `lazy=yes` or `lazy=<number>` to the shortcode e.g. `

[2020-06-10 08:30] contactashish13 commented on #619
@rodica-andronache The second issue occurs for any chart in the master branch as well (I tried with Pie and Line).

TBH I'm not sure if gutenberg block has been tested completely as it has not gone through proper QA since development. I think we should focus on making that block error free before adding more features. I've also pointed out that there are many discrepancies between the block and th

[2020-06-10 09:30] rodica-andronache commented on #524
@contactashish13 you were right, I wasn't using the right version.
I've tested again the migration with Visualizer 3.0.12 and Visualizer PRO 1.7.8.

So, what I did is:
1. Install & activated Visualizer 3.0.12 and Visualizer PRO 1.7.8.
2. Create a few table charts
3. Update both plugins to their latest versions
4. Update the plugins to the new PRs

The only 2 issues I've seen are:
1. The old Table

[2020-06-11 04:18] contactashish13 commented on #524
@rodica-andronache When the old table charts are upgraded to the new version, an option gets inserted in the options (wp_options) table with a key of `visualizer-upgraded`, which shows the version of the plugin that you had active before upgrading to this new version. I don't see that in the database (I installed phpmyadmin plugin):

![image](https://user-images.githubusercontent.com/12953439/8434

[2020-06-11 08:04] contactashish13 commented on #711
@selul I have modified the PR to make sure the test cases pass. Can you please check if it works as expected on production?

[2020-06-12 10:10] rodica-andronache commented on #524
@contactashish13 the second issue was fixed. The first one still persists for me.
I've tried both on my local and on a new Jurassic instance here
https://certain-hoary.jurassic.ninja/wp-admin/
User: demo
pass: Ok4PTb8DPu$Qi1Md%)P@zt7c
In both cases, filtering charts does not take into account the old Table Google charts.
Here are the two options in both cases:
on jurasssic: https://prnt.sc/syfmbh

[2020-06-12 10:11] rodica-andronache commented on #619
@contactashish13 ok, I'll first test the block with its existing features, and after everything is done there, we can move on with this one

[2020-06-12 13:57] rodica-andronache opened #713 "[Table chart] Mismatch between height/scroll options in Library and Gutenberg block"
### Description:
In the Library, there are two controls: `Table Height` and `Enable Horizontal Scrolling`
In the Gutenberg block, the controls are: `Scroll Collapse` and `Vertical Height` ( which appears only if `Scroll Collapse` is checked ).

### Expected behaviour:
I think they should be named the same in the library and GB block. From what I've seen they do the same thing. And the Vertical Hei

[2020-06-12 14:14] rodica-andronache opened #714 "[Table chart] Mismatches between Library and GB block"
These are the options missing from the Gutenberg block, for the Table chart.
- General Settings > Chart Description
- Table Settings > Enable paging display length
- Table Settings > Enable Search
- Table Settings > Enable Selection
- Table Settings > Enable Selection of
- Table Settings > Enable information of selection
- Row/Cell Settings > Header Row options
- Row/Cell Settings > Selected Table

[2020-06-12 18:46] ineagu opened #715 "review notice not dismissable"
cc @contactashish13

### Description:
review notice appear immediately after activation and can't be dismissed .

### How to reproduce:

1. Activate the free plugin

### Expected behaviour:

1. The notice would appear after a certain time interval
2. Notice can be dismissed

### Current behaviour:

1. Notice can't be dismissed
2. Notice appear immediately after activation

### Reference:

https://

[2020-06-12 18:47] ineagu opened #716 "Conflict with Edit Flow plugin"
### Description:
@contactashish13 Visualizer can't be used on our sites due to this error: https://www.dropbox.com/s/zwibm2gxqhr1dnn/Screenshot%202020-06-12%2019.46.44.png?dl=0, probably we can use a protected or unique name for the function.

### How to reproduce:

1. Go to add the new chart screen

### Expected behaviour:

Do not fail when other plugins use is_block_editor() function

### Curren

[2020-06-12 19:03] ineagu opened #717 "upsell docs in-plugin"
### Description:
As a potential user, I see the locked features, they sound appealing, but I have no idea how they work, would be great if I can get individual sales docs.

https://www.dropbox.com/s/uhyck95yl5p489x/Screenshot%202020-06-12%2019.49.14.png?dl=0 here the message can be: Upgrade to PRO to get this feature, learn more about how it works. They can be super minimal, text/gif or 30sec vide

[2020-06-15 05:22] contactashish13 commented on #524
@rodica-andronache I'm not sure I understand the problem. You can see that the charts have had their types changed and they are visible in the library.

![image](https://user-images.githubusercontent.com/12953439/84620663-34d84d00-aef6-11ea-8d4f-294b4d51424d.png)

[2020-06-15 05:24] contactashish13 commented on #715
@selul could this be something to do with the SDK?

[2020-06-15 05:29] contactashish13 commented on #716
@ineagu the error shows a fatal error and not a function name error. Can you check?

Also, if you deactivate the plugin edit flow, does this error vanish?

[2020-06-15 07:17] selul commented on #715
Highly unlikely, it would have been present in all products.

[2020-06-15 07:24] ineagu commented on #716
Is a fatal error right. I can’t deactivate edit flow plugin on the live sites

Sent from my iPhone

[2020-06-15 07:32] cosmin-serbanescu commented on #716
@contactashish13 yes, deactivating Edit Flow plugin solves it - just tested on staging

[2020-06-15 08:07] contactashish13 commented on #715
@selul but dismissing a notification is part of the SDK and nothing to do with the plugin, correct?

[2020-06-15 08:11] contactashish13 commented on #716
@cosmin-serbanescu thanks! So looks like it is a plugin conflict and also the edit flow plugin does not check for a null object. I don't know how the flow plugin is used in the visualizer library.

[2020-06-15 08:28] cosmin-serbanescu commented on #716
I've just created a support ticket: https://wordpress.org/support/topic/plugin-conflict-284/

[2020-06-15 08:52] ineagu commented on #716
@contactashish13 I am wondering, there is any chance that the error that edit_flow is doing is a common one? and that there can be 10-100 plugins that fail to work with visualizer add_new_chart page?

[2020-06-15 10:12] contactashish13 commented on #716
@ineagu It is possible but I haven't seen this error mentioned on the forums. @Codeinwp/support have you seen this on HS?

[2020-06-15 10:20] vytisbulkevicius commented on #716
@contactashish13 Nope, I haven't seen this error before. I had one client that was facing a conflict with Modern Events Calendar plugin just like this one that you assisted: https://wordpress.org/support/topic/plugin-conflict-with-modern-events-calendar-2/ (but it's a different error/case).

By searching in HS for this error mentioned by Ionut I only found one old ticket from April 19' : https://s

[2020-06-16 08:24] rodica-andronache commented on #524
@contactashish13
Here are all the charts
![download (13)](https://user-images.githubusercontent.com/3266155/84750325-cbbf0b00-afc3-11ea-8ba3-e88917395b7e.png)

Filtering Table GoogleCharts does not show the charts created with the old version
![download (14)](https://user-images.githubusercontent.com/3266155/84750351-d24d8280-afc3-11ea-94b9-6ada1902b5c0.png)

[2020-06-16 10:52] #676 closed

[2020-06-16 10:55] #702 closed

[2020-06-16 10:59] rodica-andronache opened #718 "Google Pie charts should not show Inside the Chart option for legend position"
Same thing as https://github.com/Codeinwp/visualizer/issues/702 but in the Gutenberg block

[2020-06-16 11:00] #625 closed

[2020-06-16 11:03] #697 closed

[2020-06-16 11:08] #691 closed

[2020-06-16 11:12] #704 closed

[2020-06-16 11:15] #700 closed

[2020-06-16 11:15] #688 closed

[2020-06-17 04:21] contactashish13 commented on #524
@rodica-andronache The screenshots helped! I've fixed this.

[2020-06-17 07:08] #711 closed

[2020-06-17 09:53] rodica-andronache commented on #524
@contactashish13 that's working well now 👍
Saw another issue which I think is related to these PRs ( tested with the current versions and the issue is not there ).
Similar to https://github.com/Codeinwp/visualizer/issues/688 when creating a `DataTable ` Table chart, insert it in a post using the Visualizer block, and clicking on Advanced Options, the block breaks.
This happens just for DataTable T

[2020-06-18 08:03] contactashish13 commented on #524
@rodica-andronache have fixed this.

And also found another problem: in googlecharts formatting of date/number columns does not work in the block editor. I believe it is an issue even with the currently released version.

[2020-06-18 09:22] vytisbulkevicius opened #719 "Add support for key:value header to access JSON endpoints"
### Description:
Currently, we don't have a way to set **key => value** as header.

If we set Authorization as:
`authToken:tokenvalue`

It doesn't work and gives the same error: _This does not appear to be a valid JSON feed. Please try again._

@contactashish13 confirmed it's currently not supported and suggested an alternative (filter) that worked fine.

Even though it's not a common request and

[2020-06-18 14:25] rodica-andronache commented on #524
@contactashish13 I've tested again and everything seems right for me. If you can also fix the conflicts here https://github.com/Codeinwp/visualizer-pro/pull/264 I think we can merge these, if there aren't other things that you think needs to be done.

I didn't get exactly what's the new issue you've mentioned. If there's not something related to this maybe you can add it on git, with more details?

[2020-06-22 02:06] #687 closed

[2020-06-22 02:28] DanyCaissy opened #720 "Responsive chart list"
Currently the chart list (https://i.imgur.com/RgcdtMa.png) is showing rows of 3 charts no matter the screen size, this isn't optimal on large screens or on mobile, making this part responsive would be a nice addition.

[2020-06-22 03:02] DanyCaissy opened #721 "Investigate allowing HTML content on table data cells"
We could add an HTML editor to allow users to modify the cell content, in this way they could add images or other things as to style their table accordingly.

The editor could look something like this: https://i.imgur.com/l5oRnFc.png

This is currently done in other solutions (such as tablepress) already.

[2020-06-22 04:06] DanyCaissy opened #722 "Chart Preview Page"
As charts might display a little differently on a page in comparison to the library, and users might want to test it out before putting it on an actual page, we could implement a preview page for each chart.

This could simply be a button added here: https://i.imgur.com/HwNJBeb.png. It could have a browser-like icon.

The generated page would simply be an empty post that contains the chart, displa

[2020-06-22 06:44] contactashish13 commented on #715
@selul I think this is a problem with the SDK. @ineagu may have highlighted problems with visualizer but the fact is that all these functions are part of the SDK.

[2020-06-26 12:50] rodica-andronache commented on #709
@contactashish13 I'm not totally sure I understand this, I couldn't see any difference between lazyload yes or not. Could you please let me know as an example at least, what are the scripts that should not load from the beginning?
And what does it mean that "the additional JS files that Google Charts call will be loaded when a chart is lazy loaded"?
I thought the scripts will be loaded once you sc

[2020-06-29 07:06] contactashish13 commented on #524
@rodica-andronache I've fixed the conflicts.

The issue I have found is this. Can you confirm this behavior at your end too? I'd prefer such issues to be created by you as you are able to provide more details than I can.

1) Create any type of core google chart  (line. bar, column etc)
2) Change formatting, which reflects on the chart. Save the chart.
![image](https://user-images.githubusercontent

[2020-06-29 11:45] rodica-andronache commented on #709
@contactashish13 ok, thank you for the details.
There's an issue with the Gutenberg block. This notice appears and the chart is not visible
![download (16)](https://user-images.githubusercontent.com/3266155/86000922-d8594f80-ba16-11ea-9f1d-c410e58ba083.png)

[2020-06-29 15:57] rodica-andronache opened #724 "Google charts: Series number format not applying in the Gutenberg editor"
1) Create any type of core google chart  (line. bar, column, etc)
2) Change `Number Format` in `Series Settings` to a custom value. The change is reflected in the chart. Save the chart.
![image](https://user-images.githubusercontent.com/12953439/85981359-b903f780-ba01-11ea-9a19-442e13db6e42.png)
3) Insert that chart in a Gutenberg block
4) Change `Format` in `Series Settings` in the Gutenberg bloc

[2020-06-29 15:58] rodica-andronache commented on #524
@contactashish13 is happening for me too, on the current version as well. I've added it here https://github.com/Codeinwp/visualizer/issues/724

[2020-06-29 16:35] rodica-andronache commented on #524
@contactashish13 saw one more thing that I've missed before. In the `Help` tab, the tables are called now `Tabular` instead of `Table`, making the `Video Demo` link to point to a resource that doesn't exist.
![download (17)](https://user-images.githubusercontent.com/3266155/86032156-9264b180-ba3f-11ea-973d-011043bb54f1.png)

How it is in the current released version
![download (18)](https://user-i

[2020-06-30 04:18] contactashish13 commented on #709
@rodica-andronache have addressed this.

[2020-06-30 04:26] contactashish13 commented on #524
PR https://github.com/Codeinwp/visualizer/pull/725 should take care of this.

[2020-06-30 05:12] contactashish13 commented on #718
PR https://github.com/Codeinwp/visualizer/pull/726

[2020-06-30 07:06] rodica-andronache commented on #709
@contactashish13 there's another error in the console that doesn't let me add the chart using the visualizer block
<img width="1636" alt="Screenshot 2020-06-30 at 10 04 30" src="https://user-images.githubusercontent.com/3266155/86094498-48b8ad00-bab9-11ea-8c1f-1d7de0c97de8.png">

[2020-06-30 08:39] contactashish13 commented on #709
@rodica-andronache that should be fine now. I've tried by creating a post, inserting the same chart 2 times and giving each instance a different value of `lazy`. It appears to work properly.

[2020-06-30 09:34] rodica-andronache commented on #709
@contactashish13 I can't have two charts appear on the same page, though no error is visible in the console ( didn't set up lazy load for them, I just created some charts with the default parameters ).
https://www.loom.com/share/2005ccc8c9d14515aa8e608cb9437a20

[2020-07-01 12:35] contactashish13 commented on #709
@rodica-andronache this should be okay now.

[2020-07-06 01:36] DanyCaissy opened #727 "Visualizer sales pages are missing images"
### Description:
The visualizer pro pages:

https://themeisle.com/plugins/visualizer-charts-and-graphs/upgrade/
https://themeisle.com/plugins/visualizer-charts-and-graphs/

Are missing a lot of images.

Did something happen? Did someone delete too many images? Can we recover these?

@selul

[2020-07-06 01:45] DanyCaissy opened #728 "Permissions tab disappears after a user modifies a chart's data"
### Description:
Permissions tab disappears after a user modifies a chart's data

### How to reproduce:

1. Create a table (or any other chart/library)
2. Click settings, witness the permissions tab: https://i.imgur.com/B1yTQR5.png
3. Click source again, open manual data and close it immediately (no need to modify data)
4- Go back to settings. The permissions tab is gone.

### Expected behaviour:

[2020-07-06 02:17] DanyCaissy opened #729 "Import from wordpress - can't use more than two fields"
### Description:

Cannot add more than two fields to the import from Wordpress feature, it wont let you.

### How to reproduce:

1. Create a chart
2. Go to import from wordpress
3. Add 3 fields

### Reference:
![aT5vfFwl7D](https://user-images.githubusercontent.com/5183243/86549277-2a194280-bf0d-11ea-80e7-4be4cabe46e5.gif)

### Technical info
* WordPress version: 5.4.2
* Plugin version: 3.4.4 1.9.

[2020-07-06 02:42] DanyCaissy commented on #717
I've created documentation pages that showcase three features that the user might want to learn about:

- Import data from wordpress:  https://docs.themeisle.com/article/1278-how-to-import-data-from-wordpress
- Import data from database: https://docs.themeisle.com/article/1279-how-to-import-data-from-a-database
- Permissions tab: https://docs.themeisle.com/article/1280-how-to-customize-permissions

[2020-07-06 10:17] rodica-andronache commented on #727
Hi! which images are missing? For me, it's looking ok

[2020-07-06 17:55] DanyCaissy commented on #727
@rodica-andronache They were missing yesterday, half of them. It looks fine now.

[2020-07-06 17:55] #727 closed

[2020-07-08 04:22] contactashish13 commented on #729
@DanyCaissy this is a feature not a bug. A graph has 2 axis and therefore 2 fields.

[2020-07-08 04:28] contactashish13 opened #730 "Test against WP 5.5"
### Description:
Changes in Moment and clipboard

https://make.wordpress.org/core/2020/07/01/external-library-updates-in-wordpress-5-5-call-for-testing/

[2020-07-08 15:24] #718 closed

[2020-07-08 15:25] #709 closed

[2020-07-08 15:26] #524 closed

[2020-07-08 22:48] DanyCaissy commented on #729
@contactashish13 I see.

 It could be useful for a table chart and some others as well. If possible I think I would just set it to unlimited, the user does get warned if there are too many columns for his specific chart at the moment.

If you think that could work we can set this as an enhancement.

[2020-07-09 05:55] contactashish13 opened #731 "add support for string translations"
### Description:
Allow users to translate their dynamic data.

[code]

https://wordpress.org/support/topic/translation-with-wpml-22/

https://wpml.org/forums/topic/visualizer-charts-and-graphs/

This could be important: https://wpml.org/documentation/theme-compatibility/go-global-program/

[2020-07-09 05:56] contactashish13 commented on #731
@rodica-andronache do you think this can be added easily (without a code change) like we did in WPPR?

[2020-07-09 08:16] rodica-andronache commented on #731
@contactashish13 if you mean with the wpml-config file, I'm not sure. It's a possibility but it will need to be tested

[2020-07-09 12:44] contactashish13 commented on #731
@DanyCaissy please add this to the correct queue/version. It would also be good if you can do some research on polylang vs wpml and which we should support. Neither of them is easy.

[2020-07-12 16:31] pt1602 opened #732 "Column chart: values between one and zero do not get displayed properly"
### Description:
Values like 0.35 get displayed in the frontend as a 0.35 column but when you click to show the description with the value it show 35% instead of 0.35%.

### How to reproduce:
1. Create a new column chart with a value between one and zero
2. Display the chart on a page
3. Click on the bar to show the value

### Expected behaviour:
Display the true value in the column description wi

[2020-07-14 08:33] contactashish13 commented on #674
@rodica-andronache I believe this has been released. If so, can you please close this if no longer an issue?

[2020-07-14 08:36] contactashish13 commented on #707
@rodica-andronache I'm confused about whether this was fixed as part of the last release or still continues to be an issue. Can you close this if solved?

[2020-07-14 08:40] rodica-andronache commented on #707
@contactashish13 it's not yet closed as it's not on production, but you don't need to do anything else for it (that's why is in the Done bin). It's part of this PR that was not yet merged as you suggested we don't add it before we fix some other things https://github.com/Codeinwp/visualizer/pull/666. Let me know if it doesn't make sense

[2020-07-14 08:54] #674 closed

[2020-07-15 05:31] contactashish13 commented on #707
@rodica-andronache looks like the last release fixed this https://wordpress.org/support/topic/datatable-with-strings-cause-visualizer-chart-error/. Can you check and close this PR/issue?

[2020-07-15 12:45] rodica-andronache commented on #707
ok, yes, it's working well in the current version too

[2020-07-15 12:45] #707 closed

[2020-07-16 05:15] contactashish13 opened #733 "Google Table chart does not display chart if boolean values are specified"
### How to reproduce:
- Add a default google table chart
- edit the data to make the last column a boolean with these values
[code]
- Click show chart and the chart shows up on the editing frame with the correct ticks and crosses
![image](https://user-images.githubusercontent.com/12953439/87629665-12ce2680-c751-11ea-9491-0d5b62bc6571.png)

- Click save chart and the chart keeps loading in the libr

[2020-07-16 05:35] contactashish13 commented on #724
PR https://github.com/Codeinwp/visualizer/pull/734 fixes this.

[2020-07-16 05:50] contactashish13 opened #735 "Google charts: Do not load old and new JS"
### Description:
[code]

### Reference
https://groups.google.com/d/msg/google-visualization-api/x3ajZtlFoiw/WaFJWE6vCgAJ

### Note
We were doing this because https://developers.google.com/chart/interactive/docs/basic_load_libs mentions:

![image](https://user-images.githubusercontent.com/12953439/87633930-f1256d00-c759-11ea-9772-2c13085ca607.png)

[2020-07-16 06:46] contactashish13 commented on #735
PR https://github.com/Codeinwp/visualizer/pull/736

[2020-07-16 07:45] contactashish13 commented on #714
@rodica-andronache yes that would work unless you have a better method that you can suggest.

[2020-07-20 07:33] contactashish13 commented on #728
@DanyCaissy please always specify if this happens with just one specific chart type/library or with many. That would add more clarity to both development and testing.

[2020-07-20 12:22] rodica-andronache commented on #724
@contactashish13 everything is working well. can you please fix the conflicts as well?

[2020-07-20 14:01] adelina17 opened #739 "Update backlinks on wp.org"
We need similar updates for Visualizer too: https://wordpress.org/plugins/visualizer/

These are the links that have to be corrected: http://prntscr.com/tl9xsa

From http://justfreethemes.com/ to https://justfreethemes.com/
And from http://www.codeinwp.com/blog/best-wordpress-themes/ to https://www.codeinwp.com/blog/best-wordpress-themes/

Thanks! :)

cc @rodica-andronache @contactashish13

[2020-07-20 20:30] vytisbulkevicius opened #740 "Show chart ID in the chart library"
### Description:

Previously ID of the chart was visible in the library because at the bottom of the chart we were displaying full shortcode with that ID: https://prnt.sc/tlglip

Since the latest update (Version 3.4.5) it was replaced with an icon to copy full shortcode by clicking it: https://prnt.sc/tlgmpp
However, clients are missing a way to easily see ID of the chart. It's available at the to

[2020-07-21 04:18] contactashish13 commented on #739
@adelina17 done. Can you please close this issue when you verify it is okay?

[2020-07-21 04:29] contactashish13 commented on #740
@vytisbulkevicius I don't understand why clients would need to see the ID. Can you please summarize your thoughts on this in the original post?

[2020-07-21 06:24] contactashish13 commented on #733
PR https://github.com/Codeinwp/visualizer/pull/741

[2020-07-21 06:36] vytisbulkevicius commented on #740
@contactashish13 updated with thoughts of clients and my opinion

[2020-07-21 07:01] rodica-andronache commented on #732
Hi @pt1602,
You probably have a custom format for the columns, that's why it displays like that. Make sure you check if you have any custom option in Series Settings.

![ss1](https://user-images.githubusercontent.com/3266155/88022964-e5122480-cb38-11ea-90fd-69a98ec75b12.png)

[2020-07-21 07:13] contactashish13 commented on #740
PR https://github.com/Codeinwp/visualizer/pull/742 shows the ID next to the date updated. Hopefully this is fine @vytisbulkevicius.

![image](https://user-images.githubusercontent.com/12953439/88022553-1c8acc00-cb4d-11ea-8ee4-388ee9651e53.png)

[2020-07-21 09:40] adelina17 commented on #739
@contactashish13 Thanks, all good.

[2020-07-21 09:40] #739 closed

[2020-07-21 11:55] rodica-andronache commented on #733
@contactashish13 the chart now load ok in the library.
Saw another small issue which I couldn't replicate on production, as the chart doesn't show at all there.

If you create a chart with both true and false values this happens:

In the chart library, it's ok(I can see both true and false signs)
<img width="989" alt="Screenshot 2020-07-21 at 14 46 51" src="https://user-images.githubusercontent.co

[2020-07-23 10:39] contactashish13 commented on #733
@rodica-andronache have addressed this. It may be a good idea to test a variety of data with tables (google and datatables).

[2020-07-27 10:43] rodica-andronache commented on #733
@contactashish13 tested further and saw two issues (for the GoogleChart library):

- [ ] Error clicking on advanced options
1. Create a table chart with a `boolean column somewhere in the middle of the chart table` (so not the last column of the table).
2. Insert the chart in a post using the Gutenberg block
3. Clicking on `Advanced Options` throws the error “The block has encountered an error and

[2020-07-29 08:37] vytisbulkevicius opened #743 "DateFormat in table automatically adds year and sets to 2001"
### Description:
With the latest version of Visualizer (Version 3.4.5) if you create a table and add date there like that:
![image](https://user-images.githubusercontent.com/36594177/88776471-a9a5d480-d18e-11ea-8aa1-d1e63d991c58.png)
Visualizer also adds a year to the date and table looks like this:
![image](https://user-images.githubusercontent.com/36594177/88776527-c04c2b80-d18e-11ea-87e3-2b71aa

[2020-07-29 15:34] contactashish13 opened #744 "Check Metabase for analytics"
@selul as discussed, we may want to analyse this further to understand our customers. I think we have been adding features that we feel would be helpful without tracking if they have been. Maybe we should have detailed tracking for each feature we have added over the last year.

My thoughts:

- Adding ChartJS was a wasteful effort as very few seem to be using it (as seen on metabase 4 months ago).